/* ------------------------------------------------------------------------------  */
/* REMEMBER! REMEMBER! REMEMBER! REMEMBER! REMEMBER! REMEMBER! REMEMBER! REMEMBER! */
/*                                                                                 */ 
/*              ALL CUSTOM STYLES MUST BE ADDED TO MOBILE STYLES AS WELL!          */
/*                                                                                 */
/*                                                                                 */ 
/* ------------------------------------------------------------------------------- */
@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:700,700italic);

#locationsGroup.displayOptional {
	display: block;
}

/* ------------------------------------------------------------------ */
/* Element Defaults */
/* ------------------------------------------------------------------ */
 
/* These got reset by reset.css. */
p { margin: 1.12em 0 }
strong { font-weight: bold }
em { font-style: italic }

/* Fonts and such. */
body {
  font-family: 'Droid Sans',  sans-serif;
  font-size: 78%;
  color: #000;
}

a { color: #056279;font-weight: bold;text-decoration:none; }
a:hover { color: #C70E0F; }
  p.tags a {font-weight:normal;}
  p.tags {padding-top:1em;border-top:1px solid #ccc;}

/* ------------------------------------------------------------------ */
/* Common Class Defaults */
/* ------------------------------------------------------------------ */

/* clearfix - for closing elements containing floats across browsers */
.clearfix:after {
  content:"."; 
  display:block; 
  height:0; 
  clear:both; 
  visibility:hidden;
}
.clearfix {display:inline-block;}
/* Hides from IE-mac \*/
* html .clearfix {height:1%;}
.clearfix {display:block;}
/* End hide from IE-mac */

a.inlineEdit, span.inlineEdit {
  font-family: 'droid sans',   sans-serif!important;
  font-weight:normal!important;
  font-size:10px!important;
  color:#999!important;
  text-decoration:none!important;
  text-transform:uppercase;
}
  a.inlineEdit:hover, span.inlineEdit:hover { color:#C70E0F!important; }

.hidden_element { display:none; }
.image_magnify {
  position:absolute;
  top:0;
  right:10px;
  width:16px;
  height:16px;
}
.clicktozoom {
  display:block;
  text-align:right;
  font-size:9px;
  text-decoration:none;
}

.headline, .headline a {
    font-weight: bold;
    text-decoration: none;
}
  .headline a:hover { color: #C70E0F; }

.subheadline {
    font-family: 'droid sans',  sans-serif;
    color: #1A1818;
}

.byline {
    font-family: 'droid sans',  sans-serif;
    color:#646568;
}
.byline span {
    font-family: 'droid sans',  sans-serif;
}
.byline .releaseDate:before {
  display:inline;
  content:' | ';
}

.excerpt {                   /* XXX Where is this used? */
    background: #EEEEEF;
    padding: 15px;
    margin: 10px 15px;
    border: 1px dotted #666;
}
.notice
{
    background-color:#FFFFCC;
    margin:0;
    padding:9px;
    text-align:center;
}
/* -- Force lists in blogs to have default list style -- */
.postBody ol li {list-style: decimal inside;}
.postBody ul li {list-style: disc inside;}
.postBody ul li.imageCredit,
.postBody ul li.imageCaption {list-style:none;}

/* ---------------------------------------------------- */
div.storyPagination {
  font-size: 1.1em;
}

a.memberThumb {
    display: block;
    width: 50px;
    height: 50px;
    overflow: hidden;
}

input.searchbox {
  width: 134px;
  height: 16px;
  padding: 3px 9px 0 21px;
  border: 0;
  font-size: 10px;
}
  input.searchbox:focus { outline: none; }

.BlogButton {
  display: block;
  width: 140px;
  height: 45px;
  background-repeat: no-repeat;
  text-indent: -6000px;
}

.sectionHeader { 
  background-repeat: no-repeat;
  background-position: left top;
  text-align: left; 
  font-weight: bold;
  font-size: 16px;
  color: #004961;
}
#AddEvent .sectionHeader {margin-left:15px;}
  .sectionHeader a, .sectionHeader span {
    display: block;
    text-indent: -6000px;
  }
  .eventSuccess h2 {
  font-size: 22px;
  text-align: center;
  margin-left: 15px;
  font-weight: 700;
  }
h1.sectionHeader {
  height: 22px;
}
  h1.sectionHeader a, h1.sectionHeader span { 
    height: 22px; 
    line-height: 22px;
    }

h2.sectionHeader {
  height: 13px;
}
  h2.sectionHeader a, h2.sectionHeader span { 
    height: 13px; 
    line-height: 13px;
    }

#gridMainSidebar1 div.MainSidebar { 
  background: none;
  margin-bottom: 15px; 
}
  #gridMainSidebar1 div.MainSidebar h3 {
    background: none;
    padding: 0 0 10px;
    font-family:  'droid sans',  sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #b5d939;
    text-align: left;
    text-transform: uppercase;
    line-height: 1em;
    letter-spacing: -1px;
  }
    #gridMainSidebar1 div.MainSidebar h3 a { 
      color: #b5d939;
      text-decoration: none;
    }
    #gridMainSidebar1 div.MainSidebar ul {
      padding: 0;
    }

/* ------------------------------------------------------------------ */

div.tools {
    margin-bottom: 5px;
    width: 156px;
    background-color: #eff3f0;
}
  #Event .tools {float:right;}
  #ImageFlipBook + #EventTools {margin-top:1em;}

div.tools h3 {
    padding: 5px;
    font-family: 'roboto condensed', sans-serif;
    font-size: 14px;
    display: none;
}
div.tools h4 {
    padding: 0 0 3px 0;
    font-family: 'droid sans',  sans-serif;
    font-size: 10px;
    text-transform: uppercase;
}
div.tools *+h4 { padding-top: 8px; }

div.tools ul li {
    font-size: 13px;
  }
  div.tools ul li.shareLink {
    padding: 4px 5px;
  }
div.tools ul li a {
    background-repeat: no-repeat;
    background-position: 5px center;
    display: block;
    padding: 5px 0 5px 30px;
    text-transform: lowercase;
}
div.tools ul li * a,
div.tools ul li.shareLink a {
    display: inline;
    padding: 0;
    text-transform: none;
}
div.tools ul li.l1 {
    padding: 5px;
}
div.tools ul li.l0 ul {
    margin-bottom: 5px;
}

div.tools div.togglePanel {
    padding: 5px;
    background-color: #D3DCDE;
}
  div.horizontalToolsTogglePanel {
    padding: 5px;
    background-color:#E3E2D5;
  }
div.tools div.togglePanel textarea,
div.horizontalToolsTogglePanel textarea,
div.tools div.togglePanel input[type=text],
div.horizontalToolsTogglePanel input[type=text] {
    width: 132px;
    padding: 2px;
    border: solid 1px #ccc;
}
div.tools div.loading,
div.horizontalToolsTogglePanel div.loading {
    /* loader image from ajaxload.info */
    background-image: url(/images/icons/toolsloader.gif);
    background-repeat: no-repeat;
    background-position: 0px center;
    padding: 0 20px;
}

.tools a.shareAction,
div.horizontalTools a.shareAction {
    background-image: url(/images/icons/article_tools/share.gif);
}
div.horizontalTools a.emailAction,
div.tools a.emailAction {
    background-image: url(/images/icons/article_tools/icon_email_white.png);
    background-size: 16px;
}
div.horizontalTools a.printAction,
div.tools a.printAction {
    background-image: url(/images/icons/article_tools/icon_print_white.png);
    background-size: 16px;
}
div.horizontalTools a.icalAction,
div.tools a.icalAction {
    background-image: url(/images/icons/article_tools/icon_ical_white.png);
    background-size: 16px;
}

div.horizontalTools a.saveAction,
div.tools a.saveAction {
  background-image: url(/images/icons/article_tools/icon_favorite_white.png);
  background-size: 16px;
}
div.horizontalTools a.listAction,
div.tools a.listAction {
  background-image: url(/images/icons/article_tools/icon_list_white.png);
  background-size: 16px;
}
div.horizontalTools a.commentItem,
div.tools a.commentItem {
    background-image: url(/images/icons/article_tools/icon_comment_white.png);
    background-size: 16px;
}
div.horizontalTools a.reminderAction,
div.tools a.reminderAction {
    background-image: url(/images/icons/article_tools/icon_remind_white.png);
    background-size: 16px;
}
div.tools a.addAction {
    display: block;
    padding: 5px 0 5px 18px;
    background-repeat: no-repeat;
    background-position: 0px center;
    background-image: url(/images/icons/article_tools/add.gif);
}
  div.tools form a.addAction {
    background-image: none;
    padding:5px;
    text-decoration: none;
  }
body#Content div#Writealetterlink.Sidebar,
div#Writealetterlink { 
  margin-top: -10px;
  padding: 3px;
  background: #EFF3F0;
   }  
div#Writealetterlink a {
  background: url(/images/icons/article_tools/write.gif) no-repeat 5px center;
  padding: 5px 0 5px 30px;
  display: block;
}  
  


div.horizontalTools {
    background-color:#eff3f0;
    float:left;
    margin:0 0 10px;
    width:100%;
}
div.horizontalTools ul {
    padding:0 2px;
}
div.horizontalTools li.l0 {
    float:left;
    margin:0 3px;
    padding:5px;
}
  div.horizontalTools li.l0 a {
    text-decoration:none;
    font-size:.9em;
    padding-left: 24px;
    background-position:left top;
    background-repeat:no-repeat;
    height: 20px;
    display: block;
    }
    div.horizontalTools div.togglePanel {
      background: #D3DCDE;
      padding: 5px;
      position: absolute;
    }
    div.horizontalTools div.togglePanel ul li a {
      padding: 3px 0 3px 20px;
    }
    div.horizontalTools div.togglePanel ul li a.toolIconLink {
      float: left;
      padding: 0;
    }
    div.tinyTools li a.toolIconLink {
      float: left;
      padding: 0 5px 0 0 !important;
      background: none !important;
    }
    
div.horizontalToolsTogglePanel {
  width:auto!important;
  height:auto!important;
  padding:10px;
}
  div.horizontalToolsTogglePanel .toolsInner {
    padding:5px;
  }
    div.horizontalToolsTogglePanel .toolsInner h3 {
      margin:5px 0;
    }
div.horizontalToolsTogglePanel ul li.l1 {
    background: #FEFEFE;
    padding: 2px;
    margin: 2px 0;
}

div.processOutput {
  background: #ffffcc;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ffff00;
}

/* ------------------------------------------------------------------ */

div.tinyTools {
    background-color:transparent;
    border:1px solid #ddd;
    float: right;
    font-size: 11px;
    line-height: 1em;
    margin-left: 5px;
/*    padding: 8px 7px;*/
    width:auto;
    clear:right;
}
div.tinyTools h3 {
    font-size: 14px;
    line-height: 1em;
    font-family: 'roboto condensed',sans-serif;
    display: none;
}
div.tinyTools h4 {
    margin: 5px 0 2px 0;
    font-size: 10px;
    font-weight: bold;
}
div.tinyTools ul {
    margin: 0;
}
div.tinyTools ul li.l0 {
/*    margin-bottom: 3px;*/
}
div.tinyTools ul li.l0 a {
  background-repeat: no-repeat;
  display: block;
  padding: 4px;
  text-decoration: none;
  font-weight: normal;
}
div.tinyTools div.togglePanel ul {
    margin: 0;
}
div.tinyTools div.togglePanel {
    padding: 4px;
}
div.tinyTools div.togglePanel textarea,
div.tinyTools div.togglePanel input[type=text] {
    width: 102px;
    padding: 2px;
    border: solid 1px #ccc;
}

/* ------------------------------------------------------------------ */

div.flipBook {
    position: relative;
}
div.flipBook .credit {
    margin-top: 2px 0 2px 0;
  text-align: right;
  font-family: 'droid sans';
  font-size: 9px;
  text-transform: uppercase;
}
div.flipBook div.photGridWrap {
    text-align: center;
}
div.flipBook div.photoGrid {
    display: inline-block;
    margin-top: 4px;
    border-top: dotted 1px;
    padding: 4px 0 4px 1px;
}
div.flipBook div.photoGrid a,
div.flipBook div.photoGrid a:link,
div.flipBook div.photoGrid a:visited,
div.flipBook div.photoGrid a:hover {
    position: relative;
    float: left;
    text-decoration: none;
    border: none;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border: 1px solid #999;
    margin: 3px 5px 4px 0;
    width: 46px;
    height: 46px;
}
div.flipBook div.photoGrid a:hover {
    width: 50px;
    height: 50px;
    left: -2px;
    top: -2px;
    margin-right: 1px;
    margin-bottom: 0px;
}


/* ------------------------------------------------------------------ */
/* Comments */
/* ------------------------------------------------------------------ */
div.commentsHeader a.feedLink {
  background:transparent url(/images/rss-small.gif) no-repeat top center;
  color:transparent;
  font-size:.7em;
  text-decoration:none;
  text-indent:-6000px;
}

/* ------------------------------------------------------------------ */
/* Inline Images */
/* ------------------------------------------------------------------ */

.contentImageCenter {
  text-align:center;
}
#Post .contentImageCenter {
line-height: 1;
margin-bottom: 10px;
}
.contentImageRight {
  float:right;
  margin-left:10px;
  position:relative;
}
.contentImageLeft {
  float:left;
  margin-right:10px;
  position:relative;
}
body#Page .SpanningFeature {
overflow: hidden;
}
/* blog images */  
.postBody img[class*='blogImage'] {
/*  background:#EEE none repeat scroll 0 0;*/
  border:1px solid #CCC;
  display:block;
  margin:5px;
  padding:5px;
  text-align:center;
}
  .postBody img.blogImageLeft {
    float:left;
    display:inline;
    margin:0 10px 10px 0;
  }
  .postBody img.blogImageRight {
    float:right;
    display:inline;
    margin:0 0 10px 10px;
  }
  .postBody img.blogImageCenter {
    display:inline;
    margin:0 10px 0 10px;
  }

  div.blogImageRight {
    float: right;
    margin: 0 0 5px 10px;
  }
  div.blogImageCenter {
    clear: both;
    margin: 10px auto;
  }
  div.blogImageLeft {
    float: left;
    margin: 0 10px 5px 0;
  }

div[class*='blogImage'] ul {
  padding: 0;
  margin: 0;
  color: #636363;
  text-align: right;
}

#MagnumImage p {margin:0;padding:0;}
#MagnumImage .credit a {color:#666;font-weight:normal;}

  #MagnumImage .credit,
  .imageCredit {
    margin-top:3px;
    font-size:11px;
    text-align: right;
    color: #666;
    list-style-type: none !important;
    list-style-position: outside;
    line-height:1;
  }
  #MagnumImage .caption,
  .imageCaption {
    text-align: left;
    color: #666;
    font-size:14px;
    list-style-type: none !important;
    list-style-position: outside;
    line-height:1;
    margin-top: 2px;
  }
  div[class*='contentImage'] ul {
    margin-left: 0;
    margin-bottom:1em!important;
    padding-left:0;
  }
    

/* Digital Issue styles [Issue Archives] */

li.digitalIssue {
  padding-top: 5px;
}
a.digitalIcon {
  background: #EEF url(/images/icons/paper.gif) no-repeat scroll 1px center;
  padding: 1px 3px 1px 15px;
  text-decoration: none;
  font-weight: bold;
  border: 1px solid #CCE;
  }
  
  #archiveIssueHeader ul {
    margin-bottom: 15px;
  }
  #archiveIssueHeader a.digitalIcon {
    font-size: .8em;
    background: #EEF url(/images/icons/paper-large.png) no-repeat scroll 2px center;
    padding-left: 25px;
  }

/* Twitter Feed */
#TwitterFeed {
  background:#fff;
  padding: 0;
}
  #TwitterFeed h2.widget_head {
    text-align:center;
    padding:5px 10px;
    background:#004961 url(/images/icons/twitter-bird.gif) no-repeat 3px 3px;
  }
  #TwitterFeed h2.widget_head a {
    color:#fff;
    text-decoration:none;
    }
    div#TwitterFeed.MainColumn h2.widget_head {
      text-align: left;
      background: transparent;
      padding: 0;
    }
    div#TwitterFeed.MainColumn h2.widget_head a {
      color: #FF6900;
      font-size: 16px;
      background: ;
    }
    div#TwitterFeed.MainColumn2 li {margin:5px 10px;}
#twitter_div {
  padding: 0 5px 5px;
}  
#twitter_div ul {
  padding: 0;
  overflow: hidden;
}
#twitter_div ul li {
  margin:5px 0 0;
  padding:5px;
  background:#fff;
  font-size:0.9em;
  border-bottom: 2px solid #ebebeb;
  }
  #twitter_div ul li a.twitterTime {
    color: #979797;
    font-style: italic;
    font-size: .9em;
    font-family: 'droid serif',serif;
    text-decoration: none;
  }
a.widget_link {
  text-align:center;
  display:block;
  font-size:0.8em;
  width:100%;
  background:#004961;
  color:#fff;
  padding:2px 0;
  }
  div#TwitterFeed.MainColumn a.widget_link {
    color: #222;
    background: #EEE;
  }

#twittertweetsearch h3 {
  color: #056279;
  font-family: 'roboto condensed',sans-serif;
  font-size: 28px;
  text-transform: lowercase;
  text-align:left;
}

/* ordered list */
#storyBody ol#orderedList {
  margin-left:1em;
  padding-left:1em;
  list-style-type:decimal;
}
  #storyBody ol#orderedList li {
    margin:1em 0;
    list-style-type:decimal;
  }

/* narrow search options bar */
div.searchedFor ul.narrowOptionsBar {
  position:absolute; 
  right:-10px; 
  top:20px; 
  margin-top:4px;
  padding: 2px 0 1px; 
  background-color:#056279; /* for dropdown menu */
  -webkit-box-shadow:0 10px 15px rgba(0, 0, 0, 0.4);
  -moz-box-shadow:0 10px 15px rgba(0, 0, 0, 0.4);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
}
div.searchedFor ul.narrowOptionsBar li {clear:both; margin-bottom: 2px; display:block; text-transform: none;}
div.searchedFor ul.narrowOptionsBar li a {
  display:block; 
  padding:1px 30px 2px 20px;
  color: #fff; 
  font-size: 12px; 
  font-weight:normal;
  text-decoration:none; 
  line-height:1.4;
}
div.searchedFor ul.narrowOptionsBar li a:hover {color:#056279;background-color:#fff;}
div.searchedFor .sortBar {
  position:relative;
  float:right;
  margin-left:1em;
  text-align:right;
}
div.searchedFor .sortBarHeader {font-size:12px;color:#056279;}
div.searchedFor .sortBarHeader a {
  display:inline-block;
  height:16px;
  margin-left:0;
  padding:0 18px 0 0;
  background:transparent url(/images/buttons/sort-arrows.png) right bottom no-repeat;
  color:#056279;
  font-weight:normal;
  text-decoration:none; 
  outline: 0;
  line-height:1.4;
  }
div.searchedFor .sortBarHeader a.active {}

/* event source branding header styles */
li.eventItem span.eventSource {display:block;float:right;height:20px;line-height:20px;}
  li.eventItem span#Soket.eventSource {color:#0067a2;}
li.eventItem span.eventSource a {display:inline-block;text-decoration:none;text-indent:-6000px;}
  span#GETn2it.eventSource a {width:18px;height:20px;background:url(/foundation/images/buttons/getn2it-logo.png) center no-repeat;}
  span#Soket.eventSource a {width:20px;height:20px;background:url(/foundation/images/buttons/soket-logo.png) left center no-repeat;}
div#Multimedia img {
    max-width: 100%;
    height: auto;
}
.inlineComponent.inlineLeft {
  float: left;
  margin: .25em 10px .25em 0;
}
.inlineComponent.inlineRight {
  float: right;
  margin: .25em 0 .25em 10px;
} 
.inlineComponent.inlineCenter{
  margin:.5em auto;
  text-align: center;
}
.inlineComponent.inlineCenter div {
  margin:auto;
}  

.socialLogInHolder a {
  color:#000;
  }
/* -- Global Drop Cap Style -- */
.fdnDropCap {
    display: block;
    float: left;
    font-size: 5em;
    margin: 20px 10px;
    font-weight: 700;
    line-height: 0.5em;
}

#Location #MagnumImage>div {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap:wrap;
  flex-wrap:wrap;
  -webkit-justify-content:flex-end;
  justify-content: flex-end;
  font-size: 0;
}
#Location #MagnumImage img{
  order:1;
}
#Location #MagnumImage .credit {
  order:3;
  font-size: 11px;
}
#Location #MagnumImage .caption{
  order:2;
  font-size: 12px;
}
#Location #MagnumImage .credit+.caption::after{
  content: ", ";
  font-size: 12px;
  margin: 0 3px 0 -3px;
}
#Location #MagnumImage .credit,
#Location #MagnumImage .caption {
  display: inline-block;
  margin: 0;
  text-transform: none;
}