.gya-hide{display:none}
.gya-mobile{display:block}
.gya-not-mobile{display:none}
.socialWrapper li.gigya_menu{background-color:#fff;display:none;height:42px;overflow:visible;position:relative;width:85px}
.login .gya-menu{background-color:#fff}
.gya-menu .signin{background:0}
.gigya_menu .gya-title{line-height:42px}
.gigya_menu .gya-title.treg-logged-in,#mobile_signin_link .treg-logged-in{width:25px}
.gigya_menu .gya-title.treg-logged-in span{background:url('../images/user.svg') 0 0 no-repeat;background-size:cover;display:block;height:15px;margin:14px 3px;width:15px}
#mobile_signin_link .treg-logged-in{background:url('../images/user.svg') 0 0 no-repeat;background-size:cover;display:block;height:18px;margin:0;width:18px}
.gigya_menu .gya-content{background-color:#fff;-webkit-box-shadow:-1px 0 2px 0 rgba(0,0,0,0.12),1px 0 2px 0 rgba(0,0,0,0.12),0 1px 1px 0 rgba(0,0,0,0.24);-moz-box-shadow:-1px 0 2px 0 rgba(0,0,0,0.12),1px 0 2px 0 rgba(0,0,0,0.12),0 1px 1px 0 rgba(0,0,0,0.24);box-shadow:-1px 0 2px 0 rgba(0,0,0,0.12),1px 0 2px 0 rgba(0,0,0,0.12),0 1px 1px 0 rgba(0,0,0,0.24);display:none;padding:10px;position:absolute;right:0;top:46px;width:265px;z-index:10000000}
.gigya_menu .gya-content .gya-widget{min-height:426px}
.gya-widget .gigya-social-login{margin:20px 0}
.gya-title{cursor:pointer}
.gya-widget a,ul li .gya-widget a{color:#000;cursor:pointer;float:none;font-weight:bold;padding:0;text-decoration:underline}
.gya-widget a:hover,.gya-widget a:visited,ul li .gya-widget a:hover,ul li .gya-widget a:visited{color:#000}
.gya-widget{background-color:#fff;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;color:#000;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:11px;line-height:13px;text-align:left;width:100%}
.gya-vcenter{clear:both;height:40px;line-height:40px;margin:0;padding:0}
.gya-vcenter>*{line-height:40px}
.gya-vcenter.gya-alt-header{height:50px;line-height:50px}
.gya-vcenter>p{line-height:13px;position:relative;top:50%;-webkit-transform:translate(0,-50%);-moz-transform:translate(0,-50%);-ms-transform:translate(0,-50%);-o-transform:translate(0,-50%);transform:translate(0,-50%)}
.gya-left,.gya-right{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;float:left;width:50%}
.gya-vcenter.gya-left,.gya-vcenter.gya-right{clear:none}
.gya-btn,a.gya-btn,a.profile-subscribe-btn,.gigya_menu a.gya-btn{background-color:#ee3948;border:0;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;color:#fff!important;cursor:pointer;display:block;height:40px;line-height:40px;margin:0;padding:0;text-align:center;text-decoration:none;-webkit-appearance:none;width:100%}
a.profile-subscribe-btn{border:1PX!important;border-style:solid!important;border-color:#C12020!important;background-color:#FFF!important;color:#C12020!important;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif!important;font-size:12px!important;font-weight:bold!important;text-decoration:none!important;text-transform:uppercase!important;margin-bottom:10px!important;line-height:40px!important;text-align:center!important}
.gya-btn:hover,a.profile-subscribe-btn:hover,a.gya-btn:hover,.gigya_menu a.gya-btn:hover{color:#fff;text-decoration:none}
.gya-btn.gya-btn-small{height:30px;line-height:30px;max-width:130px;min-width:80px}
.gya-rule{background:url('../images/1px_rule.png') 0 50% repeat-x;text-align:center}
.gya-header{border-bottom:1px solid #ccc}
.gya-footer{border-top:1px solid #ccc}
.gya-rule span{background-color:#fff;padding:0 10px}
.gya-widget p{text-align:center;margin:0;padding:0}
input.gya-txt{background-color:#f9f9f9;border:1px solid #999;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;clear:both;color:#000;float:left;font-size:12px;height:40px;line-height:40px;margin-bottom:5px;padding:0 10px;width:100%}
.gya-input-wrap{clear:both;float:left;width:100%}
.gya-desc{margin:0 0 30px 0}
.gya-txt-left,p.gya-txt-left{text-align:left}
.gya-txt-right,p.gya-txt-right{text-align:right}
.treg-is-subscriber .gya-desc{margin-bottom:20px}
.gya-label,.gya-widget p.gya-label{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:12px;font-weight:bold;line-height:15px;margin:20px 0 5px 0;position:relative;text-align:left}
.gya-widget input[type=checkbox]{margin-right:5px}
.gya-edit-btn{float:right}
.gya-vcenter .gya-btn{float:right;margin:5px 0 0 0}
.gya-profile input.gya-txt{height:35px;line-height:35px}
.gya-widget select{background-color:#f9f9f9;border:1px solid #999;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;display:block;height:35px;padding:0 10px;width:100%}
.gya-info{background:url("../images/info_icon.svg") no-repeat;background-size:12px 14px;display:block;float:right;height:15px;width:15px}
.gya-info.tip-on{background:url("../images/info_icon_active.svg") no-repeat;background-size:12px 14px}
.gya-info-text{background-color:#BDE5F8;border:1px solid #00529B;color:#00529B;display:none;font-size:11px;padding:10px;position:absolute;right:12px;top:12px;z-index:1}
.gya-req:before{content:"";background:url("../images/icon_required.svg") no-repeat;display:inline-block;height:11px;width:15px}
.info-on{display:block}
.gya-section{margin:20px 0}
.gigya-screen .gya-msg.gya-msg-nickname-in-use,.gigya-screen .gya-msg.gya-msg-nickname-is-empty,.gigya-screen .gya-msg.gya-msg-nickname-complexity,.gigya-screen .gigya-error-msg.gigya-error-msg-active,.gigya-screen .gya-msg.gya-msg-email-is-empty{color:#D8000C;margin-top:0}
.treg-is-janrain,.gya-title{display:none}
.gya-row{float:left;width:100%}
.gya-row .gya-vcenter{clear:none}
.gya-clip{overflow:hidden}
div[class*="treg-gya-synx"] .gya-btn,div[class*="treg-gya-synx"] a.gya-btn{background:#ee3948}
.treg-gya-synx-main-login-widget .gya-widget{background-color:inherit;font-family:"SourceSansPro-Semibold",Arial,sans-serif;font-size:20px;line-height:24px}
.treg-gya-synx-main-login-widget .gya-widget{color:#444}
.treg-gya-synx-main-login-widget .gya-widget h5{font-family:"SourceSansPro-Semibold",Arial,sans-serif;font-size:24px;color:#444;line-height:30px;margin-bottom:20px;border:0;width:100%;text-transform:none}
.treg-gya-synx-main-login-widget .gya-widget p{font-family:"SourceSansPro-Regular",Arial,sans-serif;font-size:14px;color:#444;line-height:18px;margin-bottom:20px}
.treg-gya-synx-main-login-widget .gya-widget p.gya-msg{color:#ff2a00;text-transform:uppercase;font-size:16px;line-height:20px;margin-bottom:0}
.treg-gya-synx-main-login-widget .treg-gya-synx-main-login-widget{float:left;width:100%}
.treg-gya-synx-main-login-widget .gigya-social-login-container{width:100%!important}
.treg-gya-synx-main-login-widget .gigya-social-login-container>table{margin:0 auto!important;width:100%!important}
.treg-gya-synx-main-login-widget .gigya-login-form>div:nth-child(1){margin:18px 0 20px}
.treg-gya-synx-main-login-widget .gigya-login-form .gya-input-wrap .gya-left label,.treg-gya-synx-main-login-widget .gigya-login-form .gya-input-wrap .gya-right .gigya-label,.treg-gya-synx-main-login-widget .gigya-login-form .gya-input-wrap .gya-left .gigya-forgotPassword{font-family:"SourceSansPro-Regular",Arial,sans-serif;font-size:16px;font-weight:normal}
.treg-gya-synx-main-login-widget .gya-widget .gigya-reset-password-form>p{font-family:"SourceSansPro-Regular",Arial,sans-serif;font-size:14px}
.treg-gya-synx-main-login-widget .gya-widget .gigya-reset-password-form>p:nth-of-type(1){margin:0 0 12px 0}
.treg-gya-synx-main-login-widget .gya-widget .gigya-reset-password-form>p .gigya-composite-control{color:#444;font-family:"SourceSansPro-Regular",Arial,sans-serif;font-size:16px;font-weight:normal}
.treg-gya-synx-main-login-widget .gya-header{border:0}
.treg-gya-synx-main-login-widget .gigya-register-form .gya-txt{width:40%!important}
.treg-gya-synx-main-login-widget .gigya-register-form .gya-txt.gigya-input-text{width:60%!important}
.treg-gya-synx-main-login-widget .gigya-register-form .gya-txt.gigya-input-password{clear:none;margin:0 0 0 20px}
.treg-gya-synx-main-login-widget .gigya-login-form>input,.treg-gya-synx-main-login-widget .gya-mobile .gigya-login-form .gya-input-wrap .gya-left,.treg-gya-synx-main-login-widget .gya-mobile .gigya-login-form .gya-input-wrap .gya-left>input,.treg-gya-synx-main-login-widget .gya-mobile .gigya-login-form .gya-input-wrap .gya-right{width:100%!important}
.treg-gya-synx-main-login-widget .gigya-login-form .gya-input-wrap .gya-left,.treg-gya-synx-main-login-widget .gigya-login-form .gya-input-wrap .gya-right,.treg-gya-synx-main-login-widget .gya-mobile .gigya-login-form .gya-input-wrap .gya-right{text-align:center}
.treg-gya-synx-main-login-widget .gigya-login-form .gya-input-wrap .gya-left .gigya-label,.treg-gya-synx-main-login-widget .gigya-login-form .gya-input-wrap .gya-right a,.treg-gya-synx-main-login-widget .gya-mobile .gigya-login-form .gya-input-wrap .gya-right .gigya-label,.treg-gya-synx-main-login-widget .gya-mobile .gigya-login-form .gya-input-wrap .gya-right a{font-family:"Hackman-Bold",Arial,sans-serif;font-size:12px;text-transform:uppercase}
.treg-gya-synx-main-login-widget .gigya-composite-control{display:block;margin:20px 0 0 0}
.treg-gya-synx-main-login-widget .gya-widget p{text-align:left;width:100%}
.treg-gya-synx-main-login-widget .gigya-register-form>div:nth-of-type(4)>p:before{border-top:1px solid #ccc;content:"";display:block;margin:20px 0 10px 0}
.treg-gya-synx-main-login-widget .gigya-login-form>div>p:nth-child(4){display:none!important}
.treg-gya-synx-main-login-widget .gigya-login-form>div>p:nth-child(5){color:#000;float:left;font-family:"Hackman-Bold",Arial,sans-serif;font-size:13px;padding:12px}
.treg-gya-synx-main-login-widget .gigya-login-form>input:nth-of-type(3){background-color:#ee3948;color:#fff;font-family:"Hackman-Bold",Arial,sans-serif;font-size:16px;width:15%!important}
.treg-gya-synx-main-login-widget .gigya-login-form>input{clear:none;float:left}
.treg-gya-synx-main-login-widget .gigya-login-form .gya-input-wrap .gya-left .gigya-label,.treg-gya-synx-main-login-widget .gigya-login-form .gya-input-wrap .gya-right a{color:#000;font-family:"Hackman-Bold",Arial,sans-serif;font-size:16px;font-weight:normal;text-transform:uppercase}
.treg-gya-synx-main-login-widget .gigya-login-form>div:nth-child(1)>div,.treg-gya-synx-main-login-widget .gigya-login-form>div:nth-child(2)>div,.treg-gya-synx-main-login-widget .gya-mobile .gigya-login-form>div:nth-child(1){text-align:center;width:100%!important}
.treg-gya-synx-main-login-widget .gya-header{border:0}
.treg-gya-synx-main-login-widget .gigya-login-form>div:nth-child(1)>div h5,.treg-gya-synx-main-login-widget .gya-mobile .gigya-login-form>div:nth-child(1) h5{color:#009FBC;float:none;font-family:"Sanchez-Bold",Arial,sans-serif;font-size:32px;margin:18px 0 20px}
.treg-gya-synx-main-login-widget .gigya-login-form>div:nth-child(1) .gya-right,.treg-gya-synx-main-login-widget .gya-mobile .gigya-login-form>div:nth-child(2){margin:0 0 24px 0}
.treg-gya-synx-main-login-widget .gigya-login-form>div:nth-child(1) .gya-right .gya-msg,.treg-gya-synx-main-login-widget .gya-mobile .gigya-login-form>div:nth-child(2) .gya-msg{color:#000;font-family:"Georgia",Arial,sans-serif;font-size:14px;line-height:20px}
.treg-gya-synx-main-login-widget .gigya-login-form>div:nth-child(2)>div .gigya-social-login .gigya-social-login-container,.treg-gya-synx-main-login-widget .gigya-login-form>div:nth-child(2)>div .gigya-social-login .gigya-social-login-container>table,.treg-gya-synx-main-login-widget .gya-mobile .gigya-login-form>div .gigya-social-login-container,.treg-gya-synx-main-login-widget .gya-mobile .gigya-login-form>div .gigya-social-login-container>table{margin:0 auto!important;text-align:center;width:auto!important}
.treg-gya-synx-main-login-widget .gya-mobile .gigya-login-form>div:nth-child(4){font-family:"Sanchez-Bold",Arial,sans-serif;font-size:14px;line-height:20px;margin:20px 0;text-align:center;text-transform:uppercase}
.treg-gya-synx-main-login-widget .gigya-login-form>div:nth-child(1) .gya-right>input,.treg-gya-synx-main-login-widget .gigya-login-form>div:nth-child(2) .gya-right>input,.treg-gya-synx-main-login-widget .gya-mobile .gigya-login-form>.gya-left,.treg-gya-synx-main-login-widget .gya-mobile .gigya-login-form>.gya-left>input{width:100%!important}
.treg-gya-synx-main-login-widget .gya-mobile .gigya-login-form>div:nth-child(6){float:left;width:100%}
.treg-gya-synx-main-login-widget .gigya-login-form>div:nth-child(2)>div .gya-input-wrap .gya-left .gigya-label,.treg-gya-synx-main-login-widget .gigya-login-form>div:nth-child(2)>div .gya-input-wrap .gya-right a,.treg-gya-synx-main-login-widget .gya-mobile .gigya-login-form>div:nth-child(6) .gigya-label,.treg-gya-synx-main-login-widget .gya-mobile .gigya-login-form>div:nth-child(6) a{font-family:"Hackman-Bold",Arial,sans-serif;font-size:12px;text-transform:uppercase}
.treg-gya-synx-main-login-widget .gya-mobile .gigya-login-form>.gya-btn{float:left;margin:30px 0 38px;width:100%!important}
.ng-scope #treg-gya-login-widget2_social_2,.ng-scope #treg-gya-login-widget3_social_4{width:auto!important}
.ng-scope #treg-gya-login-widget2_social_2>table,.ng-scope #treg-gya-login-widget3_social_4>table{margin:0 auto!important}
.ng-scope #treg-gya-login-widget2 .gigya-login-form>div:nth-child(8){margin:0 0 30px 0}
.treg-gya-synx-main-login-widget .gigya-login-form>div:nth-child(8)>div{float:right}
.treg-gya-synx-main-login-widget .gigya-login-form>div:nth-child(9)>div{margin:0 0 20px 0;text-align:center;width:100%!important}
.treg-gya-synx-main-login-widget .gigya-login-form>div:nth-child(9) .gya-btn{background-color:#ee3948;font-size:18px;line-height:20px;margin:0 auto;width:40%!important}
.treg-gya-synx-main-login-widget .gigya-forgotPassword{font-family:"SourceSansPro-Regular",Arial,sans-serif;font-size:16px;line-height:18px}
.ng-scope .gigya-social-login-container tr td table tr>td{padding-right:20px!important}
.ng-scope .gigya-social-login-container tr td table tr>td:last-child{padding-right:5px!important}
.ng-scope .treg-gya-synx-registration-widget{padding-top:5px}
.ng-scope .treg-gya-synx-registration-widget .gigya-screen-content .gigya-register-form>.gya-vcenter,.ng-scope .treg-gya-synx-registration-widget .gigya-screen-content .gigya-register-form>.gya-vcenter>p{color:#000;font-family:"SourceSansPro-Regular",Arial,sans-serif;font-size:14px;line-height:18px}
.ng-scope .gigya-screen-content .gigya-register-form>.gya-vcenter>a{float:left}
.ng-scope .gigya-screen-content .gigya-register-form>.gya-vcenter>a[data-screenset-roles="instance"]{background-color:#ee3948;color:#fff;display:block;float:left;font-family:"SourceSansPro-Bold",Arial,sans-serif;font-size:18px;font-weight:normal;height:40px;line-height:40px;margin:20px 0 40px;text-align:center;text-decoration:none;text-transform:uppercase;width:100%}
.ng-scope .gya-btn,.ng-scope a.gya-btn{color:#fff;font-family:"SourceSansPro-Bold",Arial,sans-serif;font-size:18px}
@media only screen and (max-width:600px){.registration-content{margin-left:14px!important;margin-right:14px!important}
}
.syncronex-wall-overlay-container .sync-wall-signin-area{margin-top:0}
.syncronex-wall-overlay-container .gya-widget h5{font-family:"SourceSansPro-Semibold",Arial,sans-serif;font-size:20px}
.not-mobile{display:block}
.is-mobile{display:none}
.ng-scope .registration .treg-gya-synx-registration-widget #syncronex-login-screen .gigya-login-form{border-bottom:1px solid #ccc;padding-bottom:20px}
.ng-scope .registration .treg-gya-synx-registration-widget #syncronex-login-screen .gigya-login-form .gya-txt{width:calc(50% - 10px)!important}
.ng-scope .registration .treg-gya-synx-registration-widget #syncronex-login-screen .gigya-login-form .gya-txt:nth-of-type(2){clear:none;margin-left:20px}
.ng-scope .registration .treg-gya-synx-registration-widget #syncronex-login-screen .gigya-login-form>.gya-vcenter{clear:none!important;margin:0 0 10px 0}
.ng-scope .registration .treg-gya-synx-registration-widget #syncronex-login-screen .gigya-login-form>.gya-vcenter:nth-of-type(1){float:right;width:70%}
.ng-scope .registration .treg-gya-synx-registration-widget #syncronex-login-screen .gigya-login-form>.gya-vcenter:nth-of-type(2){float:left;width:30%}
.ng-scope .registration .treg-gya-synx-registration-widget #syncronex-login-screen .gigya-login-form>.gya-vcenter label,.ng-scope .registration .treg-gya-synx-registration-widget #syncronex-login-screen .gigya-login-form>.gya-vcenter .gigya-forgotPassword{font-family:"SourceSansPro-Regular",Arial,sans-serif;font-size:14px;font-weight:normal;text-transform:uppercase}
.ng-scope .registration .treg-gya-synx-registration-widget #syncronex-login-screen .treg-conditional.treg-is-free{margin:20px 0}
.ng-scope .treg-gya-synx-main-login-widget .gigya-login-form .section-divider{text-align:center}
.ng-scope .treg-gya-synx-main-login-widget .gigya-login-form .section-divider:before,.ng-scope .treg-gya-synx-main-login-widget .gigya-login-form .section-divider:after{border-top:1px solid #d1d1d1;content:"";display:inline-block;margin:3px 0;width:20px}
.ng-scope .treg-gya-synx-main-login-widget .gigya-login-form .section-divider span{color:#666;display:inline-block;font-size:14px;height:30px;margin:0 5px;width:20px}
.ng-scope .registration-content .treg-gya-synx-registration-widget .gya-widget p.gya-msg{clear:both;color:#ff2a00;font-family:"SourceSansPro-Regular",Arial,sans-serif;font-size:16px;line-height:20px;margin:0 0 5px 0;text-transform:uppercase}
.ng-scope .registration-content .gya-widget label,.ng-scope .registration-content .gya-widget .gigya-forgotPassword{color:#444;font-family:"SourceSansPro-Regular",Arial,sans-serif;font-size:16px;font-weight:normal}
@media only screen and (max-width:600px){.not-mobile{display:none}
.is-mobile{display:block}
.ng-scope .registration-content{margin-right:14px;margin-left:14px}
.ng-scope .registration .treg-gya-synx-registration-widget #syncronex-login-screen .gya-rule,.ng-scope .registration .treg-gya-synx-registration-widget #syncronex-register-screen .gya-rule{margin-left:80.5px}
.ng-scope .registration .treg-gya-synx-registration-widget #syncronex-login-screen .gigya-login-form .gya-txt{width:100%!important}
.ng-scope .registration .treg-gya-synx-registration-widget #syncronex-login-screen .gigya-login-form .gya-txt:nth-of-type(2){clear:none;margin:0}
.ng-scope .registration .treg-gya-synx-registration-widget #syncronex-login-screen .gigya-login-form>.gya-vcenter:nth-of-type(1),.ng-scope .registration .treg-gya-synx-registration-widget #syncronex-login-screen .gigya-login-form>.gya-vcenter:nth-of-type(1)>.gya-left{float:left;width:100%}
.ng-scope .registration-content .gya-widget label,.ng-scope .registration-content .gya-widget .gigya-forgotPassword{font-size:14px}
.ng-scope .registration-content .treg-gya-synx-registration-widget .gya-widget p.gya-tnc{text-align:center}
.ng-scope .registration-content .gya-widget .gigya-forgotPassword{text-align:center;width:100%;display:block}
}
.ng-scope .registration .content-container.registration-content{padding-top:0}
.ng-scope .registration-content .treg-gya-synx-registration-widget .gya-header{border:0}
.ng-scope .registration-content .treg-gya-synx-registration-widget .gya-widget .gya-vcenter h5{position:relative;top:50%;-webkit-transform:translate(0,-50%);-moz-transform:translate(0,-50%);-ms-transform:translate(0,-50%);-o-transform:translate(0,-50%);transform:translate(0,-50%)}
.ng-scope .registration-content .treg-gya-synx-registration-widget .gya-widget h5{border:0;font-family:"SourceSansPro-Semibold",Arial,sans-serif;font-size:20px;line-height:24px;text-transform:none}
.ng-scope .registration-content .treg-gya-synx-registration-widget .gigya-social-login-container>table>tbody>tr>td>center>table>tbody>tr>td{padding:0!important;width:0!important}
.ng-scope .registration-content .treg-gya-synx-registration-widget .gigya-social-login-container tr td table tr>td{padding-right:20px!important}
.ng-scope .registration-content .treg-gya-synx-registration-widget .gigya-social-login-container tr td table tr>td:last-child{padding-right:5px!important}
.ng-scope .registration-content .treg-gya-synx-registration-widget .gya-widget h6{font-family:inherit;font-size:14px;text-transform:uppercase}
.ng-scope .registration-content .treg-gya-synx-registration-widget .gya-rule{display:block;float:left;margin:0 0 15px 80px;width:75px}
.ng-scope .registration-content .treg-gya-synx-registration-widget .gya-rule span{font-family:"SourceSansPro-Semibold",Arial,sans-serif}
.ng-scope .registration-content .treg-gya-synx-registration-widget .gigya-register-form .gya-txt{width:40%!important}
.ng-scope .registration-content .treg-gya-synx-registration-widget .gigya-register-form .gya-txt.gigya-input-text{width:60%!important}
.ng-scope .registration-content .treg-gya-synx-registration-widget .gigya-register-form .gya-txt.gigya-input-password{clear:none;margin:0 0 0 20px}
.ng-scope .registration-content .treg-gya-synx-registration-widget .gigya-register-form .gya-left label{color:#444;font-family:"SourceSansPro-Regular",Arial,sans-serif;font-size:16px;font-weight:normal;text-transform:uppercase}
.ng-scope .registration-content .treg-gya-synx-registration-widget .gya-btn{clear:both;width:40%!important}
.ng-scope .registration-content .treg-gya-synx-registration-widget .gigya-register-form>div:nth-of-type(4)>p:before{border-top:1px solid #ccc;content:"";display:block;margin:20px 0 10px 0}
.ng-scope .registration-content .treg-gya-synx-registration-widget .gigya-register-form .gigya-error-msg{clear:both;color:#ff2a00;font-family:"SourceSansPro-Regular",Arial,sans-serif;font-size:16px;line-height:20px;margin:0;text-transform:uppercase}
.ng-scope .registration-content .treg-gya-synx-registration-widget .gigya-register-form .gigya-error-msg:nth-of-type(1){margin:0 0 20px 0}
.ng-scope .registration-content .treg-gya-synx-registration-widget .gya-widget p{color:#000;font-family:inherit;text-align:left}
.ng-scope .registration-content .treg-gya-synx-registration-widget .gigya-register-form>.gya-vcenter>a[data-screenset-roles="instance"],.ng-scope .registration-content .treg-gya-synx-registration-widget .gigya-register-form>.gya-vcenter>a[data-switch-screen="syncronex-login-screen"]{background-color:#ee3948;color:#fff;display:block;float:left;font-family:"SourceSansPro-Bold",Arial,sans-serif;font-size:18px;font-weight:normal;height:40px;line-height:40px;margin:20px 0;text-align:center;text-decoration:none;text-transform:uppercase;width:40%}
.ng-scope .registration-content .treg-gya-synx-registration-widget .gigya-reset-password-form>.gya-vcenter{font-family:"SourceSansPro-Regular",arial,sans-serif;color:#000}
.ng-scope .registration-content .treg-gya-synx-registration-widget .gigya-reset-password-form>.gya-vcenter>.gya-txt-left{font-size:14px;line-height:18px}
.ng-scope .registration-content .treg-gya-synx-registration-widget .gigya-reset-password-form>.gya-vcenter>p>.gigya-composite-control{font-size:16px;line-height:20px}
.gya-info-wrap{position:relative;float:left;width:27px;height:40px;margin:0 0 0 10px}
.gya-info-wrap .gya-info{position:relative;float:left;top:50%;-webkit-transform:translate(0,-50%);-moz-transform:translate(0,-50%);-ms-transform:translate(0,-50%);-o-transform:translate(0,-50%);transform:translate(0,-50%);background:url("../images/info_icon_synx.svg") no-repeat;background-size:15px 17px}
.gya-info-wrap .gya-info-text{right:0;top:45px;width:312px;background:#f8f8f8;color:#000;border:1px solid #0099B5;font-family:"SourceSansPro-Regular",Arial,sans-serif;font-size:13px;line-height:17px}
@media only screen and (max-width:600px){.ng-scope .registration-content .treg-gya-synx-registration-widget .gigya-register-form .gya-txt.gigya-input-text,.ng-scope .registration-content .treg-gya-synx-registration-widget .gigya-register-form .gya-txt{clear:both;width:85%!important}
.ng-scope .registration-content .treg-gya-synx-registration-widget .gigya-register-form .gya-txt.gigya-input-password{margin:0}
.ng-scope .registration-content .treg-gya-synx-registration-widget .gigya-register-form .gigya-error-msg:nth-of-type(1){margin:0}
.ng-scope .registration-content .treg-gya-synx-registration-widget .gigya-register-form .gya-left,.ng-scope .registration-content .treg-gya-synx-registration-widget .gigya-register-form>.gya-vcenter>a[data-screenset-roles="instance"]{width:100%!important}
.ng-scope .registration-content .treg-gya-synx-registration-widget .gya-btn{width:100%!important}
.gya-info-wrap .gya-info-text{width:285px}
}
.syncronex-wall-overlay-container .gigya-login-form p,.syncronex-wall-overlay-container .gigya-link-accounts-form p{color:#000;font-family:"Hackman-Bold",Arial,sans-serif;font-size:13px;text-align:left}
.syncronex-wall-overlay-container p.gya-msg{color:#EE3948}
.syncronex-wall-overlay-container .gya-vcenter.gya-clip{height:20px;line-height:20px;margin-bottom:10px}
.syncronex-wall-overlay-container .gya-vcenter.gya-clip>*,.syncronex-wall-overlay-container .gya-vcenter.gya-clip p{height:20px;line-height:20px}
.syncronex-wall-overlay-container .gya-left.gya-social{margin:0;width:142px}
.syncronex-wall-overlay-container .gigya-login-form .gigya-label,.syncronex-wall-overlay-container .gigya-login-form .gigya-forgotPassword,.syncronex-wall-overlay-container .gigya-link-accounts-form .gigya-forgotPassword{color:#000;font-family:"Hackman-Bold",Arial,sans-serif;font-size:12px;font-weight:normal;text-transform:uppercase}
.syncronex-wall-overlay-container .gya-widget .gya-not-mobile .gigya-social-login{margin:0}
.syncronex-wall-overlay-container .gya-right.gya-offers-form{width:calc(100% - 157px);margin:2px 0 0 15px}
.syncronex-wall-overlay-container .gya-right.gya-offers-form .gya-txt{width:40%}
.syncronex-wall-overlay-container .gya-right.gya-offers-form .gya-btn{float:left;margin:0 0 0 10px;width:calc(20% - 20px)}
.syncronex-wall-overlay-container .gigya-login-form .gya-txt,.syncronex-wall-overlay-container .gigya-link-accounts-form .gya-txt{clear:none}
.syncronex-wall-overlay-container .gya-right.gya-offers-form .gya-txt:nth-child(odd){margin-right:10px}
.syncronex-wall-overlay-container .gigya-login-form div:last-child .gya-right .gya-btn{float:left;margin:0 0 0 10px;width:calc(20% - 20px)!important}
.syncronex-wall-overlay-container .gigya-reset-password-form>p{color:#000;font-family:"Hackman-Bold",Arial,sans-serif;font-size:13px;margin:10px 0;text-align:left}
.syncronex-wall-overlay-container .gigya-reset-password-form p.gya-msg{color:#EE3948;clear:both}
.syncronex-wall-overlay-container .gigya-reset-password-form>.gigya-input-text{width:60%}
.syncronex-wall-overlay-container .gigya-reset-password-form>.gigya-input-submit{float:left;margin:0 20px;width:calc(20% - 40px)}
.syncronex-wall-overlay-container .gigya-reset-password-form>p .gigya-composite-control:before{border-left:1px solid #999;content:"";display:block;float:left;height:40px;width:1px}
.syncronex-wall-overlay-container .gigya-reset-password-form>p .gigya-composite-control{color:#000;display:block;float:left;font-weight:normal;height:40px;line-height:40px;text-align:center;width:calc(20% - 1px)}
.syncronex-wall-overlay-container .gigya-reset-password-form>.gya-vcenter{display:none}
.syncronex-wall-overlay-container .gigya-login-form .sub-title-text p,.syncronex-wall-overlay-container .gigya-link-accounts-form .sub-title-text p{font-family:"Georgia",serif;font-size:14px;line-height:20px;white-space:normal}
.syncronex-wall-overlay-container .gigya-link-accounts-form .sub-title-text p{margin-bottom:20px}
.syncronex-wall-overlay-container .gya-widget .gya-mobile h5{font-family:"Sanchez-Bold",Arial,sans-serif;font-size:20px;font-weight:normal;color:#009FBC;text-align:center;width:100%;border-bottom:0}
.syncronex-wall-overlay-container .gya-mobile .gigya-login-form p{text-align:center}
.syncronex-wall-overlay-container .gya-mobile .gigya-social-login-container{margin:auto}
.syncronex-wall-overlay-container .gya-mobile h6.gya-rule{background:0;font-family:"Hackman-medium",helvetica,arail,sans-serif;text-transform:uppercase;margin-bottom:10px}
.syncronex-wall-overlay-container .gya-mobile .gigya-login-form .gya-txt{margin-bottom:16px}
.syncronex-wall-overlay-container .gya-mobile .gya-vcenter.gya-left,.syncronex-wall-overlay-container .gya-mobile .gya-vcenter.gya-right{clear:none;margin-bottom:20px}
@media only screen and (max-width:600px){.syncronex-wall-overlay-container .gigya-reset-password-form input.gya-txt,.syncronex-wall-overlay-container .gigya-reset-password-form>.gigya-input-submit,.syncronex-wall-overlay-container .gigya-reset-password-form p.gya-mobile .gigya-composite-control{width:100%;margin:0 0 10px 0}
.syncronex-wall-overlay-container .gigya-reset-password-form p.gya-mobile .gigya-composite-control:before{border-width:0}
}
.gya-widget.gya-nag-widget p,.gya-widget.gya-nag-widget input.gya-txt{color:#000;font-family:"Hackman-Bold",Arial,sans-serif;font-size:13px;text-align:left}
.gya-widget.gya-nag-widget label,.gya-widget.gya-nag-widget a{text-transform:uppercase;color:#000;font-family:"Hackman-Medium",Arial,sans-serif;font-size:13px;text-align:left}
.gya-widget.gya-nag-widget input.gya-txt::-webkit-input-placeholder{text-transform:uppercase}
.gya-widget.gya-nag-widget input.gya-txt::-moz-input-placeholder{text-transform:uppercase}
.gya-widget.gya-nag-widget input.gya-txt:-ms-input-placeholder{text-transform:uppercase}
.gya-widget.gya-nag-widget input.gya-txt::placeholder{text-transform:uppercase}
.gya-widget.gya-nag-widget a:hover{border-botom:0}
.gya-widget.gya-nag-widget .gya-btn{font-family:"Hackman-Bold",Arial,sans-serif;font-size:14px}
.gya-nag-widget p.gya-msg{color:#EE3948}
.gya-nag-widget .gya-not-mobile .gya-left{width:-moz-calc(78% - 20px);width:-o-calc(78% - 20px);width:-webkit-calc(78% - 20px);width:calc(78% - 20px);margin-right:20px}
.gya-nag-widget .gya-not-mobile .gya-right{width:22%;height:65px;padding:0 0 0 20px;margin:15px 0 0 0;border-left:1px solid #000;text-align:right}
.gya-nag-widget .gya-not-mobile .gya-right a.gigya-forgotPassword{display:block;text-align:right;margin:20px 0 0 0;text-decoration:underline}
.gya-nag-widget .gya-not-mobile .gya-left .gya-txt,.gya-nag-widget .gya-not-mobile .gya-left .gya-btn{float:left;clear:none}
.gya-nag-widget .gya-not-mobile .gya-left .gya-txt{width:-moz-calc(40% - 10px);width:-o-calc(40% - 10px);width:-webkit-calc(40% - 10px);width:calc(40% - 10px);margin-right:10px}
.gya-nag-widget .gya-not-mobile .gya-left .gya-btn{width:20%}
.gya-widget.gya-nag-widget .gya-mobile .gya-btn{font-family:"Hackman-Bold",Arial,sans-serif;font-size:16px}
.gya-widget.gya-nag-widget .gya-mobile .gya-vcenter.gya-clip p{line-height:40px}
.gya-widget.gya-nag-widget .gya-mobile input.gya-txt{float:left;clear:none;width:-webkit-calc(50% - 10px);width:-moz-calc(50% - 10px);width:-o-calc(50% - 10px);width:calc(50% - 10px)}
.gya-widget.gya-nag-widget .gya-mobile input.gya-txt:first-of-type{margin-right:10px}
.gya-widget.gya-nag-widget .gya-mobile .gigya-reset-password-form input.gya-txt{width:100%;margin-bottom:5px}
.gya-nag-widget .gigya-reset-password-form .gya-not-mobile .gya-left{width:-moz-calc(75% - 20px);width:-o-calc(75% - 20px);width:-webkit-calc(75% - 20px);width:calc(75% - 20px)}
.gya-nag-widget .gigya-reset-password-form .gya-not-mobile .gya-right{width:25%;height:40px;margin-top:40px}
.gya-nag-widget .gigya-reset-password-form .gya-left .gya-txt{width:-moz-calc(75% - 10px);width:-o-calc(75% - 10px);width:-webkit-calc(75% - 10px);width:calc(75% - 10px)}
.gya-nag-widget .gigya-reset-password-form .gya-not-mobile .gya-left .gya-btn{width:25%}
.gya-nag-widget .gigya-reset-password-form .gya-not-mobile .gya-right a{width:100%;text-align:center;display:block;margin-top:23px;text-decoration:underline}
.gya-widget.gya-nag-widget .gigya-reset-password-form p{margin:0;padding:0}
.gya-widget.gya-nag-widget .gigya-reset-password-form .gya-vcenter.gya-clip p{line-height:15px}
.gya-widget.gya-nag-widget .gigya-reset-password-form .gya-vcenter.gya-clip p.gya-msg{line-height:40px}
.gya-widget.gya-nag-widget .gigya-reset-password-form .gya-mobile input.gya-txt{width:100%;margin:0 0 10px 0}
.gya-widget.gya-nag-widget .gigya-reset-password-form .gigya-composite-control{text-align:center;display:block}
.ng-scope #container #content .treg-gya-synx-main-login-widget input[type="checkbox"],.ng-scope #container #content .treg-gya-synx-main-login-widget input[type="radio"]{display:inline-block}
.ng-scope input.gya-txt{padding:0 10px;background:#fff}
.ng-scope #container #content .treg-gya-synx-main-login-widget input[type="checkbox"]+label:before,.ng-scope #container #content .treg-gya-synx-main-login-widget input[type="radio"]+label:before{content:normal}
.ng-scope #container #content .treg-gya-synx-main-login-widget form>div,.ng-scope #container #content .treg-gya-synx-main-login-widget .gya-widget h5{color:#000;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:20px;line-height:1em;font-weight:bold}
.ng-scope #container #content .treg-gya-synx-main-login-widget .gigya-reset-password-form>div{margin-bottom:20px}
.ng-scope #container #content .treg-gya-synx-main-login-widget input.gya-txt,.ng-scope #container #content .treg-gya-synx-main-login-widget .gigya-login-form input.gya-txt{background-color:#d5d5d5;border:1px solid #ddd;color:#222;font-family:"Antenna";font-size:12px;font-weight:500}
.ng-scope #container #content .treg-gya-synx-main-login-widget .gigya-login-form>.gya-input-wrap>.gya-left,.ng-scope #container #content .treg-gya-synx-main-login-widget .gigya-login-form>.gya-input-wrap>.gya-right{width:50%!important}
.ng-scope #container #content .treg-gya-synx-main-login-widget .gigya-login-form>.gya-input-wrap>.gya-left>input[type="checkbox"],.ng-scope #container #content .treg-gya-synx-main-login-widget .gigya-login-form>.gya-input-wrap>.gya-right>input[type="checkbox"]{display:inline-block;float:left;margin:6px 6px 0 0}
.ng-scope #container #content .treg-gya-synx-main-login-widget .gigya-login-form>.gya-input-wrap>.gya-left>label,.ng-scope #container #content .treg-gya-synx-main-login-widget .gigya-login-form>.gya-input-wrap>.gya-right>label{color:#777;display:inline-block;float:left;font-family:"Antenna";font-size:11px}
.ng-scope #container #content .treg-gya-synx-main-login-widget .gya-link-accounts label{float:none;display:inline-block;color:#777;font-family:"Antenna",sans-serif;font-size:11px;font-weight:normal}
.ng-scope #container #content .treg-gya-synx-main-login-widget .gigya-login-form>.gya-input-wrap>.gya-right>.gya-btn,.ng-scope #container #content .treg-gya-synx-main-login-widget .gigya-reset-password-form>.gya-btn,.ng-scope #container #content .treg-gya-synx-main-login-widget #syncronex-main-forgot-password-success-screen>.gya-btn{background-color:#242424;color:#fff;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:14px;font-weight:bold;text-transform:none;width:100%!important}
.ng-scope #container #content .treg-gya-synx-main-login-widget .gigya-login-form>.gya-input-wrap>.gya-right,.ng-scope #container #content .treg-gya-synx-main-login-widget .gigya-login-form>.gya-input-wrap>.gya-left{margin-top:15px}
.ng-scope #container #content .treg-gya-synx-main-login-widget .gya-link-accounts .gya-btn{background-color:#242424;color:#fff;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:14px;font-weight:bold;text-transform:none}
.ng-scope #container #content .treg-gya-synx-main-login-widget .gigya-login-form>.gya-input-wrap>.gya-right>.gya-btn:hover{background-color:#666}
.ng-scope #container #content .treg-gya-synx-main-login-widget .gigya-login-form>.gya-input-wrap:last-child>.gya-left{float:right}
.ng-scope #container #content .treg-gya-synx-main-login-widget .gigya-login-form>.gya-input-wrap:last-child>.gya-left,.ng-scope #container #content .treg-gya-synx-main-login-widget .gigya-login-form>.gya-input-wrap:last-child>.gya-right{margin:0}
.ng-scope #container #content .treg-gya-synx-main-login-widget .gigya-forgotPassword{font-family:"Georgia",Arial,sans-serif;font-size:12px;font-style:italic;font-weight:bold;margin:0;text-decoration:none}
.ng-scope #container #content .treg-gya-synx-main-login-widget .gigya-forgotPassword:hover{border:0}
.ng-scope #container #content .gya-link-accounts .gya-vcenter.gya-forgot-pass{display:none}
.ng-scope #container #content .gya-link-accounts .gya-right.gya-forgot-pass{display:block}
.ng-scope #container #content .gya-link-accounts input.gya-btn{width:50%;float:left}
.ng-scope #container #content .treg-gya-synx-main-login-widget .gigya-login-form>.gya-input-wrap:last-child>.gya-left>.gigya-forgotPassword:hover{border:0;text-decoration:underline;text-decoration-style:dotted}
.ng-scope #container #content .treg-gya-synx-main-login-widget .gigya-login-form .section-divider:before,.ng-scope #container #content .treg-gya-synx-main-login-widget .gigya-login-form .section-divider:after{border-top:1px solid #d1d1d1;content:"";display:inline-block;margin:3px 0;width:calc(50% - 15px)}
.ng-scope #container #content .treg-gya-synx-main-login-widget .gigya-login-form .section-divider span{color:#666;display:inline-block;font-family:"Georgia",Arial,sans-serif;font-size:12px;height:30px;margin:0 5px;width:20px}
.ng-scope #container #content .treg-gya-synx-main-login-widget .gigya-reset-password-form .gigya-composite-control{font-family:"Georgia",Arial,sans-serif;font-size:12px;font-style:italic;font-weight:bold;text-decoration:none}
.ng-scope #container #content .treg-gya-synx-main-login-widget .gigya-reset-password-form .gigya-composite-control:hover{text-decoration:underline}
.ng-scope #container #content .treg-gya-synx-main-login-widget .gigya-reset-password-form .gigya-forgotPassword:hover{border:0;text-decoration:underline;text-decoration-style:dotted}
.ng-scope #container #content .treg-gya-synx-main-login-widget .gya-widget p{transform:none;font-family:"Georgia",serif;font-size:15px;color:#666;margin-bottom:0}
.ng-scope #container #content .treg-gya-synx-main-login-widget .gya-widget .gigya-reset-password-form p{margin-bottom:20px}
.ng-scope #container #content .treg-gya-synx-main-login-widget .gya-widget p.gya-msg,.ng-scope #container #content .treg-gya-synx-main-login-widget .gigya-form-error .gigya-error-display,.ng-scope #container #content .treg-gya-synx-main-login-widget .gigya-form-error .gigya-error-msg{color:#C00;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:14px;font-style:normal;font-weight:bold;line-height:18px;text-transform:none}
.ng-scope #container #content .gya-input-wrap.gya-tnc{display:none}
.ng-scope #container #content div[class*= "treg-gya-synx"] a:hover{border-bottom:0}
.gya-link-accounts .gigya-forgotPassword{text-align:center;float:left;clear:both;width:100%;margin:20px 0}
.treg-gya-synx-main-login-widget .gya-link-accounts p.gya-msg{margin:0 0 20px 0}
.gya-link-accounts .gya-right.gya-forgot-pass{display:none}
.registration-content .gya-link-accounts h5{margin:20px 0}
.registration-content .gya-link-accounts p,.registration-content .gya-link-accounts label{font-family:"SourceSansPro-Regular",Helvetica,Arial,sans-serif;font-size:14px;line-height:18px;margin:0 0 20px 0}
.registration-content .gya-link-accounts p.gya-msg,.ng-scope .registration-content .treg-gya-synx-registration-widget .gya-link-accounts p.gya-msg{color:#ff2a00;text-transform:uppercase;font-size:16px;line-height:20px}
.registration-content .gya-link-accounts input.gya-txt{width:-moz-calc(40% - 20px);width:-webkit-calc(40% - 20px);width:-o-calc(40% - 20px);width:calc(40% - 20px);clear:none}
.registration-content .gya-link-accounts input.gya-txt:nth-child(odd){margin-right:20px}
.registration-content .gya-link-accounts .gya-checkbox-wrap{float:none;clear:none;width:auto}
.registration-content .gya-link-accounts .gya-left,.registration-content .gya-link-accounts .gya-right{box-sizing:border-box;float:left;clear:none;width:33%;height:40px;line-height:40px;margin:0;padding:0}
.registration-content .gya-link-accounts .gya-forgot-pass{box-sizing:border-box;float:left;clear:none;width:33%;margin:0;padding:0}
.registration-content .gya-link-accounts .gigya-forgotPassword{width:auto;margin:0;font-family:"SourceSansPro-Regular",Helvetica,Arial,sans-serif;font-size:14px}
.gigya_menu p.gya-txt-left{margin:0 0 10px 0}
#gigya-verification-sent-screen p.gya-success{margin:35px 0}
.article-body .pw-block-3{padding:0;width:100%}
#gigya-premium-login,#gigya-premium-user-logged-in-limbo{border:1px solid;padding:0 15px}
#gigya-premium-login .gya-header,#gigya-premium-user-logged-in-limbo .gya-header{margin-bottom:30px}
#gigya-premium-login .gya-input-wrap{width:100%}
#gigya-premium-login .gya-input-wrap .gya-left,#gigya-premium-login .gya-input-wrap .gya-right{margin-bottom:30px;width:-moz-calc(50% - 50px);width:-webkit-calc(50% - 50px);width:-o-calc(50% - 50px);width:calc(50% - 50px)}
#gigya-premium-login .gya-input-wrap .gya-txt{margin:0 0 30px 0;width:-moz-calc(100% - 15px);width:-webkit-calc(100% - 15px);width:-o-calc(100% - 15px);width:calc(100% - 15px)}
#gigya-premium-login .gya-mobile .gya-txt{margin-bottom:20px}
#gigya-premium-login .gya-input-wrap .gya-btn{float:right;margin:0;width:100px}
#gigya-premium-login .gya-vcenter.gya-footer{height:60px;line-height:60px;margin:10px 0 0 0}
#gigya-premium-user-logged-in-limbo .gya-btn{margin:20px 0 30px 0}
#gigya-premium-user-logged-in-limbo p{font-weight:bold}
.hdn-comments .gya-toggle{background-color:#fff;-webkit-box-shadow:-1px 0 2px 0 rgba(0,0,0,0.12),1px 0 2px 0 rgba(0,0,0,0.12),0 1px 1px 0 rgba(0,0,0,0.24);-moz-box-shadow:-1px 0 2px 0 rgba(0,0,0,0.12),1px 0 2px 0 rgba(0,0,0,0.12),0 1px 1px 0 rgba(0,0,0,0.24);box-shadow:-1px 0 2px 0 rgba(0,0,0,0.12),1px 0 2px 0 rgba(0,0,0,0.12),0 1px 1px 0 rgba(0,0,0,0.24);-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:10px;position:absolute;right:2px;top:41px;width:265px;z-index:5}
#commentspage .hdn-comments{border-top-width:0;min-height:600px}
.treg-gya-commenting-bar{border-top:2px solid #000;position:relative}
.comments-bar .treg-logged-in{display:none}
.comments-bar{border-bottom:1px solid #ccc;height:40px;line-height:40px;margin:0;padding:0;width:100%}
.comments-bar>p{float:left;font-size:14px;line-height:16px;position:relative;top:50%;-webkit-transform:translate(0,-50%);-moz-transform:translate(0,-50%);-ms-transform:translate(0,-50%);-o-transform:translate(0,-50%);transform:translate(0,-50%);width:-moz-calc(100% - 85px);width:-webkit-calc(100% - 85px);width:-o-calc(100% - 85px);width:calc(100% - 85px)}
.comments-bar .signInLink{background-color:#ea4a12;color:#fff;cursor:pointer;display:block;float:right;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:12px;font-weight:bold;height:35px;line-height:35px;margin:2.5px 0 0 0;padding:0;text-align:center;text-decoration:none;text-transform:uppercase;width:80px}
.comments-bar .signInLink:hover{color:#fff;text-decoration:none}
.comments-bar .user{border-left:1px solid #000;display:none;float:right;height:35px;margin:2.5px 0 0 0;padding:0;width:40px}
.comments-bar .user .icon{background:url("../images/user.svg") 0 0 no-repeat;background-size:cover;display:block;height:15px;margin:9px 0 0 12px;width:15px}
.gya-toggle{display:none}
.gya-toggle.open{display:block}
.articleComments .article-wrap .article-top{border-bottom-width:0;margin-bottom:0}
.janrain-comment-bar a#treg_captureSignInLink{position:absolute;right:0;top:16px}
.profile .pagecontent,.gigya_dev .pagecontent{background-color:#fff;margin:0}
.profile .pagecontent .span-31,.gigya_dev .pagecontent .span-31{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;width:100%}
.profile .container,.gigya_dev .container{padding-top:0;max-width:978px}
.profile .pagecontent:after,.gigya_dev .pagecontent:after,.gya-profile .gya-widget:after{clear:both;content:"";display:block;height:0;visibility:hidden;width:0}
.gya-profile p{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:12px;line-height:15px}
.profile .hst-freeform,.gigya_dev .hst-freeform{display:inline;float:none;margin:0;width:auto}
.gya-profile{background-color:#fff;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:0;padding:0;width:100%}
.gya-profile:after{clear:both;content:"";height:0;visibility:hidden;width:0}
.gya-left-col,.gya-right-col{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;float:left;clear:none!important;margin:0;padding:0 2.5%;width:100%}
.gya-profile .gya-widget{border-top:2px solid #000;margin:0 0 30px 0}
.gya-profile .gya-left,.gya-profile .gya-right{padding:0;width:100%}
.gya-req-txt,.treg-save-profile-button .gya-btn{margin:20px 0 0 0}
.gya-greeting.gya-widget{background:url('../images/crop_skyline.jpg') 50% 0 no-repeat;background-size:1200px 165px;border-top:0;padding:195px 0 0 0}
.gya-greeting h2{font-size:23px;line-height:1em;margin-bottom:20px}
.gya-greeting p{font-size:12px;line-height:15px}
.gya-greeting.gya-widget>*{padding:0 2.5%}
.gya-subscribe{background:url('../images/subscribe_background.jpg') no-repeat;background-size:100% auto;float:left;min-height:295px;width:100%}
.gya-subscribe div{margin-top:66%;padding:0 20px}
.gya-subscribe div .gya-btn{height:35px;line-height:35px;margin-bottom:10px}
.gya-btn.gya-btn-alt{background-color:transparent;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;border:1px solid #fff}
.gya-newsletters ul{border-bottom:1px solid #ccc;float:left;margin:10px 0 0;width:100%}
.gya-newsletters ul:last-of-type{border-bottom:0}
.gya-newsletters ul li{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;float:left;height:50px;margin:0 0 20px 0;width:100%}
.gya-newsletters p{margin:10px 0 0 0!important}
.gya-newsletters label{text-transform:uppercase}
.gya-newsletters label input{margin-right:5px}
.gya-icon{display:block;float:left;height:50px;margin:0 10px 5px 0;width:50px}
.gya-marketing p.gya-label a{background:url('../images/icon_arrow.svg') 0 0 no-repeat;background-size:15px 15px;padding-left:25px;text-decoration:none;text-transform:uppercase}
.gya-marketing p.gya-label a:hover{text-decoration:underline}
.gya-marketing ul li{border-bottom:1px solid #ccc;padding:0 0 20px 0}
.gya-widget h5{float:left;font-size:14px;margin:0;padding:0}
.gya-widget h5.gya-alt-header{border-bottom:0;text-align:center;width:100%}
.gya-widget h6{font-size:12px}
.gya-widget label{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:12px;font-weight:bold}
.gya-btn,a.gya-btn{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:12px;font-weight:bold;text-decoration:none;text-transform:uppercase}
.gya-msg,.login p.gya-msg{color:#D8000C}
.gya-success{color:#3f7600}
@font-face{font-family:"SourceSansPro-Regular";src:url("../fonts/source_sans_pro/SourceSansPro-Regular.ttf");font-style:normal;font-weight:normal}
@font-face{font-family:"SourceSansPro-Bold";src:url("../fonts/source_sans_pro/SourceSansPro-Bold.ttf");font-style:normal;font-weight:normal}
@font-face{font-family:"SourceSansPro-Semibold";src:url("../fonts/source_sans_pro/SourceSansPro-Semibold.ttf");font-style:normal;font-weight:normal}
@media only screen and (min-width:40.875rem){.gya-mobile{display:none}
.gya-not-mobile{display:block}
.socialWrapper li.gigya_menu{display:block}
.gya-profile .gya-left,.gya-profile .gya-right{width:50%}
.gya-profile .gya-left{padding-right:20px}
.gya-greeting.gya-widget{padding:195px 24px 0}
.gya-greeting.gya-widget>*{padding:0}
.gya-greeting h2{font-size:26px}
.gya-newsletters ul li{width:50%}
.gya-newsletters ul li.full-width{width:100%}
.treg-save-profile-button .gya-btn{float:right;height:30px;line-height:30px;max-width:130px;min-width:80px}
#gigya-premium-login .gya-vcenter.gya-footer{height:50px;line-height:50px;margin:0}
#gigya-premium-user-logged-in-limbo .gya-btn{height:35px;line-height:35px;margin:30px 0;width:100px}
}.gya-title{color:#fff;font-family:Arial,sans-serif;font-size:13px;font-weight:bold;line-height:50px}
.socialWrapper li.gigya_menu{background:#222}
.gigya_menu .gya-title.treg-logged-in span{background:url('../images/user.svg') 0 -15px no-repeat;background-size:cover;display:block;height:15px;margin:15px 0;width:15px}
.gya-widget h5{font-family:"Euclid Bold",Helvetica,Arial,sans-serif;font-weight:normal;text-transform:uppercase}
.gya-widget h6{font-family:"Euclid Bold",Helvetica,Arial,sans-serif;font-weight:normal}
.gya-greeting h2{font-family:"Sofia Pro Bold",sans-serif;font-weight:normal;text-transform:none}
.gya-label,.gya-widget p.gya-label{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:12px;font-weight:bold;line-height:15px}
.gya-widget p,.pagecontent.faux-21 .gya-widget p{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:12px;line-height:15px}
.gya-widget p.gya-msg,.pagecontent.faux-21 .gya-widget p.gya-msg{color:#D8000C}
#gigya-edit-profile.gya-widget p{clear:both}
.gya-widget a,ul li .gya-widget a,.gya-btn,a.gya-btn,.ui-body-c .gya-btn,.gigya_menu a.gya-btn,.comments-bar .signInLink,.gya-widget label,.gya-widget .gya-label,.gya-widget p.gya-label,.gya-widget p.gya-label{font-family:"Helvetica Neue Bold",Helvetica Neue,Helvetica,Arial,sans-serif;font-weight:normal}
.gigya_menu .gya-title.treg-logged-in span{margin:12px 3px 12px 25px}
.gya-btn,a.gya-btn,.gigya_menu a.gya-btn,.comments-bar .signInLink{background:#d1251c}
.gya-btn,a.gya-btn{color:#fff}
.profile .pagecontent,.gigya_dev .pagecontent{margin:0 -moz-calc(50% - 499px);margin:0 -ms-calc(50% - 499px);margin:0 -webkit-calc(50% - 499px);margin:0 -calc(50% - 499px)}
.profile .ui-page .pagecontent,.gigya_dev .ui-page .pagecontent{margin:0}
.profile-not-logged-in.treg-not-logged-in,.profile-not-logged-in.treg-not-logged-in .gya-greeting{margin:0 0 30px 0}
.gya-greeting.gya-widget{border-top:0;background:url('../images/crop_skyline.png') 50% 0 no-repeat;background-size:1200px 165px}
.gya-profile .gya-greeting p,.pagecontent .gya-greeting p,.pagecontent.faux-21 .gya-greeting p{font-family:"Georgia",serif;font-size:16px;line-height:26px}
.gya-subscribe{background:#565656}
.gya-subscribe div{margin-top:0;padding:15px 20px}
.gya-subscribe div .gya-btn,.gya-subscribe div a.gya-btn{background:#fff353;color:#222!important}
.gya-subscribe div .gya-btn:hover,.gya-subscribe div a.gya-btn:hover{color:#222}
.gya-subscribe div .gya-btn-alt,.gya-subscribe div a.gya-btn-alt{background:transparent;color:#fff!important}
.gya-subscribe div .gya-btn-alt:hover,.gya-subscribe div a.gya-btn-alt:hover{color:#fff}
.gya-subscribe h6{color:#fff;font-family:"Helvetica Neue Bold",Helvetica,Arial,sans-serif!important;font-size:12px;font-weight:normal;line-height:1em;margin:0 0 10px 0;text-transform:uppercase}
.gya-subscribe h2{color:#fff540;font-family:"Sanchez Bold",serif;font-size:26px;font-weight:normal;line-height:30px;margin:0 0 10px 0;text-transform:none}
.gya-subscribe p.gya-txt-left,.pagecontent.faux-21 .gya-subscribe p{color:#fff;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif!important;font-size:12px;font-weight:normal;line-height:16px;margin:0 0 10px 0}
.gya-marketing p.gya-label a{background:url('../images/icon_arrow.svg') 0 0 no-repeat;background-size:15px 15px;color:#000;font-family:"Helvetica Neue Bold",Helvetica,Arial,sans-serif;padding:2px 0 2px 25px;text-decoration:none;text-transform:uppercase}
.gya-marketing p.gya-label a:hover{color:#000}
.gya-icon.gya-breakingnews{background:url('../images/breakingnews.jpg') 0 0 no-repeat;background-size:50px 50px}
.gya-icon.gya-businesstech{background:url('../images/businesstech.jpg') 0 0 no-repeat;background-size:50px 50px}
.gya-icon.gya-commuter{background:url('../images/commuter.jpg') 0 0 no-repeat;background-size:50px 50px}
.gya-icon.gya-ereminder{background:url('../images/ereminder.jpg') 0 0 no-repeat;background-size:50px 50px}
.gya-icon.gya-insidescoop{background:url('../images/insidescoop.jpg') 0 0 no-repeat;background-size:50px 50px}
.gya-icon.gya-membership{background:url('../images/membership.jpg') 0 0 no-repeat;background-size:50px 50px}
.gya-icon.gya-newflicks{background:url('../images/newflicks.jpg') 0 0 no-repeat;background-size:50px 50px}
.gya-icon.gya-notes{background:url('../images/notes.jpg') 0 0 no-repeat;background-size:50px 50px}
.gya-icon.gya-offers{background:url('../images/offers.jpg') 0 0 no-repeat;background-size:50px 50px}
.gya-icon.gya-promo{background:url('../images/promo.jpg') 0 0 no-repeat;background-size:50px 50px}
.gya-icon.gya-gray{background:url('../images/graymatters.jpg') 0 0 no-repeat;background-size:50px 50px}
.gya-icon.gya-sports{background:url('../images/sports.jpg') 0 0 no-repeat;background-size:50px 50px}
.gya-icon.gya-subreminder{background:url('../images/subreminder.jpg') 0 0 no-repeat;background-size:50px 50px}
.gya-icon.gya-survey{background:url('../images/survey.jpg') 0 0 no-repeat;background-size:50px 50px}
.gya-icon.gya-thingstodo{background:url('../images/thingstodo.jpg') 0 0 no-repeat;background-size:50px 50px}
.gya-icon.gya-topothebay{background:url('../images/topothebay.jpg') 0 0 no-repeat;background-size:50px 50px}
.gya-icon.gya-updates{background:url('../images/updates.jpg') 0 0 no-repeat;background-size:50px 50px}
.comments-bar>p{font-family:"Euclid Bold",Helvetica,Arial,sans-serif;font-weight:normal}
@media screen and (min-width:760px){.gya-profile.gya-left-col{width:50%}
.gya-profile.gya-right-col{width:50%}
.gya-newsletters ul li{width:100%}
}
@media screen and (max-width:1092px){.gya-profile .gya-left,.gya-profile .gya-right{width:100%;margin:0;padding:0}
.gya-newsletters ul li{width:100%}
}
@media screen and (min-width:1198px){.gya-profile.gya-left-col{width:600px;margin:0 31px 0 0;padding:0}
.gya-profile.gya-right-col{width:300px;margin:0;padding:0}
.gya-newsletters ul li{width:50%}
}