/*   v simplx 20171123       */

   /*     3 colums       */
          .colu3a {
            -moz-column-count: 3; /* Firefox */
            -moz-column-gap: 20px;
            /*-moz-column-rule-style: solid;
            -moz-column-rule-width: 1px;
            -moz-column-rule-color: lightgray;*/
            -moz-column-width: 350px;
            -moz-min-column-width: 150px;
            -moz-max-column-width: 400px;

           /* thank goodenss CSS and HTML5 have
              freed us from the irrational 
              consfusion and from the lack
              of stable rules of previous web 
              paging standards chaos isnt it   */
            column-count: 3;
            column-gap: 20px;
            /*column-rule-style: solid;
            column-rule-width: 1px;
            column-rule-color: lightgray;*/
            min-column-width: 150px;
            max-column-width: 400px;
            column-width: 350px;
            
            padding-top: 20px; 
            padding-right: 10px; 
            padding-left: 10px; 
            /*background-color: rgba(200,190,160,0.15) ;*/
              background-color: rgba(255,2550,255,0.2);
            margin: auto;
            font-family: serif;
        }

         body { margin: auto; padding: 10px 0px 10px 0px;
               background: 
                    /* url('../auxf/pbca120z.jpg'); 
                    rgba(240,230,120,0.7)"; */
                    rgba(200,200,100,0.3); 
              }
         
        p { padding-left: 8px;
        
         /* These are technically the same, but use both */
            overflow-wrap: break-word;
            word-wrap: break-word;

            /* Instead use this non-standard one: */
            word-break: break-word;

            /* Adds a hyphen where the word breaks, if supported (No Blink) */
            -ms-hyphens: auto;
            -moz-hyphens: auto;
            -webkit-hyphens: auto;
            hyphens: auto;
        } 
        
        a {         
         /* These are technically the same, but use both */
            overflow-wrap: break-word;
            word-wrap: break-word;

            -ms-word-break: break-all;
            /* This is the dangerous one in WebKit, as it breaks things wherever */
            word-break: break-all;
            /* Instead use this non-standard one: */
            word-break: break-word;

            /* Adds a hyphen where the word breaks, if supported (No Blink) */
            -ms-hyphens: auto;
            -moz-hyphens: auto;
            -webkit-hyphens: auto;
            hyphens: auto;
        } 

        .placorpo { font-family: sans-serif; 
                    font-size: 0.9em; font-weight: normal; 
                    color: black;
                    text-align: justify; padding: 10px 0px 0px 0px; 
                    border-bottom: solid black 1px; 
               /* background: 
                    url('../auxf/pbca120z.jpg'); opacity: 1;*/
         } 

        .fordata { font-family: serif; background-color: rgba(220,220,80,0.3); 
                   padding: 2px 5px 2px 10px;  color: dimgray; font-size: 0.90em;  
                   font-weight: bold;  width: 100%; display: block; 
                   border-left: solid black 1px; border-top: solid black 1px; 
 border-right: solid gray 1px;
                   border-radius: 6px 6px 0px 0px; width: 90%;  margin-left: 6px;  
         }
         
          .foredat { background-color: rgba(100,40,0,0.3);  }

        .tintimg {
                  width: 100%;
                  height: 120px;
                  background: 
                    url('../auxf/hdrimgh60q75.jpg')
                    no-repeat center top;
                -webkit-background-size: cover;
                  -moz-background-size: cover;
                  -o-background-size: cover;
                  background-size: cover;  
                  z-index:  2;      
                  border-radius: 4px;
                  border:   solid #eeee00 2px;
          }

          .tophdrtit-left {
              position: absolute;
              top: 0.1%;
              left: 4%;
              transform: translate(-5%, -5%);
              font-size: 42px;
              font-weight: bold;
              color: white; 
              opacity: 0.87;
              filter: glow(color=#4F3F00,strength=3);
              text-shadow: #4F3F00 0 0 10px, #FF2A00 5px 5px 5px; 
              padding-left: 2%;
              /* width: auto; */
              width: 22em;
           }

          .tophdrtit-left2 {
              position: absolute;
              top: 46px;
              left: 440px;
              transform: translate(7%, -5%);
              font-size: 42px;
              font-weight: bold;
              color: white; 
              filter: glow(color=#EEEE00,strength=3);
              text-shadow: #EEEE00 0 0 10px, #FF0000 5px 5px 5px; 
              opacity : 0.95 ;
               /* width: auto; */
              min-width: 340px;
              /* min-height: 300px; */
           }

          .tophdrtit-left2:hover, .tophdrtit-left:hover {
              color: red; 
              opacity: 0.3;
              cursor: pointer;  
           }

  /* Style The Dropdown Button */
  .dropbtn {
/*      color: #aaaa00; */
      color: #aaaa55; 
      opacity: 1  ;
      font-size: 1.3em;
      border: none;
      cursor: pointer;  
      font-weight: bold;
      background-color: Transparent;  
      border-radius: 8px;
/*              filter: glow(color=#4F3F00,strength=3);
              text-shadow: #4F3F00 0 0 3px, #FF2A00 2px 2px 2px; 
*/
                filter: glow(color=#FFFFFF,strength=9);
              text-shadow: #FFFFFF 2px 2px 5px, #ffaaaa 2px 1px 0px;
      
   }

  /* paints rest of the background bar for menu strange but true
     and then it m or phed */
  .kawabunga {
      width:94%; 
      float : right;
      margin-top: 0px;
      position: absolute;
      left: 3%;
      top: 80px;
      color: #181800; 
      background-color: rgba(240,240,100,0.1);
      font-weight: bold;
      /* border-top: solid gray 1px;  */
      /* border-bottom: solid gray 1px;  */
  }
  
  /* xperimentl background pane */ 
    .kiwibungi {
          display: block;
          width:90%; 
          position: absolute;
          top: 0px;
          color: #202000; 
          background-color: rgba(240,240,220,0.7 );
          font-weight: bold;
          clear: both; float: none;
          padding: 0em 1em 0em 1em ;
          margin: 0% 4% 0% 4%;
          /* border-top: solid gray 1px;  */
          /* border-bottom: solid gray 1px;  */
      }  
  /* The container - needed to position the dropdown content */
  .dropdown {
      position: relative;
      display: inline-block;
      float: left;
  }
  
      /* Dropdown Content (Hidden by Default) */
      .dropdown-content {
          display: none;
          position: absolute;
          margin-top: 20px;
          right: 5%; 
          top: 10%;
          left: 40%;
          background-color: #f9f9f9;
          min-width: 240px;
          box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
          z-index: 3;
          text-align: left;
          padding-left: 5px;
          padding-right: 0.5em;
          text-align: justify;
          text-justify: inter-word;
          font-size: 1.2em;
          opacity: 1;
        }

        /* Links inside the dropdown */
        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        /* Change color of dropdown links on hover */
        .dropdown-content a:hover {background-color: #f1f1f1; opacity: 1; }

        /* Show the dropdown menu on hover */
        .dropdown:hover .dropdown-content {
            display: block;
        }

        /* Change the background color of the dropdown button when the dropdown content is shown */
        .dropdown:hover .dropbtn {
            background-color: #3e8e41;
            color: tomato;

        }
        
   
      .riteclckpad { 
          width: 14%;
          height: auto;
          opacity: 0.47;
          position: absolute;
          top: 50px;
          right: 50px;
          border: yellow dotted;   
          z-index: 2; 
      }
      
      /* Dropdown Content (Hidden by Default) */
      .whatpanel  {
          display: none;
          position: absolute;
          right: 5%; 
          top: 16%;
          left: 40%;
          background-color: #f9f9f9;
          min-width: 340px;
          box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
          z-index: 3;
          text-align: left;
          padding-left: 5px;
          padding-right: 2em;;
          text-align: justify;
          text-justify: inter-word;
          font-size: 1.2em;
          opacity: 1;
        }

      .contenr {
        position: relative;
        top: -135px; 
      }
      
               /* Show the dropdown menu on hover */
      .contenr:hover .whatpanel {
          display: block;
       }

        /* Change color of dropdown links on hover */
        .dropdown-content a:hover {background-color: #f1f1f1; opacity: 1; }

         /* Show the dropdown menu on hover */
        .dropdown:hover .dropdown-content {
            display: block;
        }

        /* Change the background color of the dropdown button when the dropdown content is shown */
        .dropdown:hover .dropbtn {
            background-color: #3e8e41;
            color: tomato;
        }

        .lpages {
          display: inline;
          font-family: monospace; background-color: rgba(255,163,0,0.5);
          padding: 2px 5px 2px 5px;  color: white; font-size: 1.1em;  
          font-weight: bold;  border: solid black 1px; margin: 3px;
          border-radius: 30% 10% ; text-shadow: #5555ff 2px 2px 10px;
        }

        .lpages:hover {
          background-color:  chartreuse; 
          color: darkblue;
          cursor: pointer;
         }

        a, .lpages{
            text-decoration: none;
        }

        .actvpage {
           background-color: burlywood;
        }

        .indent20 { display: block; 
                   margin: 0px 20px 20px 20px;              
                   padding: 0px 30px 0px 20px;  
                   border-radius: 5px;
         } 

         .indent20gray { 
                   display: block; 
                   /* background-color: rgba(220,220,220,0.1); */
                   background-color: rgba(210,210,210,0.2); 
                  margin:  20px 0px 20px 0px;
                   padding: 0px 30px 0px 20px;  
                   border-radius: 5px;
            } 
        
      .graybk { 
                   display: block; 
                   background-color: rgba(210,210,2100,0.2);
                   margin:  20px 0px 20px 0px;  
                   padding: 10px 30px 10px 20px;  
                   /* padding: 0px 30px 0px 20px;   */
                   border-radius: 5px;
        }

        .indent20grayi { 
                   display: block; 
                   margin:  20px 0px 20px 0px;
                   padding: 10px 30px 10px 20px;  
                    border-radius: 5px;
          			   font-style: italic;
                   /* background-color: rgba(200,200,200,0.2); */
                    background-color: rgba(210,210,2100,0.2);
        } 
        
                .graybki { 
                   display: block; 
                   background-color: rgba(210,210,2100,0.2);
           			   font-style: italic;
                   margin:  20px 0px 20px 0px;
                   padding: 10px 30px 10px 20px;  
                   border-radius: 5px;
        } 
        
        
        .imgmcol { 
                   display: block; 
                   margin: auto; 
                   float: none; 
                   clear: both; 
                   width: 90%; 
                   max-width: 450px;
                   text-align: center;
         } 
         
                .imgcol { 
                   display: block; 
                   margin: auto; 
                   float: none; 
                   clear: both; 
                   width: 90%; 
                   max-width: 450px;
                   text-align: center;
         } 

        .video-container {
            position: relative;
            padding-bottom: 56.25%;
            /* padding-top: 35px;  */
            height: 0;
            overflow: hidden;
        }


       .menu2 {
            display: block; width: 100%; margin: auto; 
            font-weight: bold;  background-color: rgba(220,220,50,0.1);
            text-align: center; color: #dd8a1a; left: -10px; 
            border: solid #eeee00 1px; border-radius: 10px;
       } 

       .lispaco, li {
            padding-bottom: 0.4em
       } 
       
       .lslnk {
         text-align: left;
         font-style: italic;
         margin-left: 2em;
         text-indent: -20px;
       }
       
       .lslnk:before  {
         content: "\2022";
         margin-right: 0.2em;
       }

       a, .lslnk {
         color: #705000; 
       }
       
       .videoframe450 {
           margin: auto; 
           width: 100%; 
           max-width: 450px;        
       }
       
       .videoframe400 {
           margin: auto; 
           width: 100%; 
           max-width: 400px;        
       }       
       
      .kombx {
            display: block; width: 94%; margin: auto; 
          /*background-color: rgba(40,15,15,0.02) ;*/
            background-color: rgba(255,255,255,0.3);
            border-radius: 7px 7px 7px 7px; 
            padding: 8px 10px 10px 12px;   
       }       

         /* xperimentl extra page one piece format */ 
    .kiwibungg {
          width:90%; 
          color: #202000; 
          background-color: rgba(240,240,100,0.06);
          font-weight: normal;
          clear: both; float: none;
          padding: 0em 1em 0em 1em ;
          margin: 0% 4% 0% 4%;
            padding-top: 20px; 
            padding-right: 10px; 
            /* background-color: rgba(230,230,230,0.1) ;  */
            /* margin: auto; */
            font-family: sans-serif;
          /* border-top: solid gray 1px;  */
          /* border-bottom: solid gray 1px;  */
        }
        
   
       .hrbar  {
        	margin: auto;
            width: 30%;
        	}
        
        .scrollbocks  {
                          padding-right: 12px; 
                          margin: auto;
                          height: 600px; 
                          width: 90%; 
                          overflow: auto ;
                          border: 5px ridge lightblue ;
                          background-color: rgba(210,210,240,0.1); 
         }
 
         .supnum {
                          vertical-align: super;
                          font-size: smaller;
         }       

               
         .subnum {
                          vertical-align: sub;
                          font-size: smaller;
         }       

         .comgray    { 
                          font-style: italic; 
                          color: rgba(30,30,30,0.7)
                          /* color: rgba(150,150,150,0.7); 
                             background-color: rgba(230,230,230,0.7); */
          }


          .stress     { 
                          padding-left: 6px; padding-right: 6px; 
                          text-style: italic; color: #1a0404; 
                          background-color: rgba(200,200,200,0.3);
           }
          .unoww {
                          color: rgb(40,5,5,0.7); 
                          text-style: italic;"
           }



  
