/*
Theme Name: Nassau Weekly
Theme URI: http://www.nassauweekly.com/
Author: Lauren Johnston
Description: Adapted from Clean Blog theme by Devio Digital
Version: 2.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: nassauweekly

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Clean Blog is based on Underscores http://underscores.me/
(C) 2012-2015 Automattic, Inc. and Clean Blog http://www.startbootstrap.com
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Content
    ## Posts and pages
	## Asides
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
# Front page and sidebars
# Full screen search
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/*
@font-face {
    font-family: Libre Franklin;
    src: url('Libre FranklinStd-Bold.ttf');
} */



html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
	max-width: 100%;
	overflow-x: hidden;
}

body {
	margin: 0;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
	max-width: 100%;
	overflow-x: hidden;
	font-size: 16px;
}


article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
}

a:active,
a:hover {
	outline: 0;
}


abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}


mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}


hr {
	/*box-sizing: content-box;*/
	clear:both;
	height: 0;
}

pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}


button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

select {
	padding: 9px;
}

select:focus {
	outline: 0;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}


fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
    border: 1px solid #f2f2f2;
    font-size: 15px;
		padding: 5px;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
:focus {
  outline: none;
}

p a {
  text-decoration: underline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Libre Franklin', 'Helvetica Neue', 'Helvetica', sans-serif;
  font-weight: 700;
	color: rgb(22, 22, 22);
}
a {
  color: rgb(22, 22, 22);
}
a:hover,
a:focus {
  color: #0085a1;
}
a img:hover,
a img:focus {
  cursor: pointer;
}
blockquote {
  color: #808080;
  font-style: italic;
}
li a {
  text-decoration: underline;
}
hr.small {
  max-width: 100px;
  margin: 15px auto;
  border-width: 4px;
  border-color: white;
}

body,
button,
input,
select,
textarea {
	color: rgb(22, 22, 22);
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

blockquote p {
	margin: 0 0 15px;
}

blockquote p:last-child {
	margin: 0;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: rgba(255,255,255, 0.0);
	text-decoration: none;
}
ins {
	min-width: 250px;
}
big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	background: #fff; /* Fallback for when there is no custom background color defined. */
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	quotes: "" "";
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: rgb(22, 22, 22);
}

a:visited {
	color: rgb(22, 22, 22);
}

a:hover,
a:focus,
a:active {
	color: #0085a1;
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}
.post-meta {
	font-size: 15px;
	font-family: "Libre Franklin", "Helvetica Neue", "Helvetica", sans-serif;
	font-weight: 200;
	letter-spacing: 0.04px;
	color: rgba(22, 22, 22,0.8);
}

.post-meta a, .post-meta a:visited {
	text-decoration: none;
	color: rgba(22, 22, 22,0.8);
	/*
	color: rgb(22, 22, 22);
	font-weight: 600;
	font-family: "Libre Franklin","Helvetica Neue", "Helvetica", sans-serif; */
}

.post-title {
	font-size: 20px;
}
@media only screen and (max-width: 600px) {
  .post-title {
    font-size: 20px;
  }
}

.post-title a:hover,
.post-title a:focus {
	text-decoration: none;
}

.post-title span.entry-title-primary {
	display: block;
	margin-bottom: 5px;
}

.post-title span.entry-subtitle {
	font-size: 18px;
	font-weight: 300;
    margin-bottom: 15px;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	background: #FFF;
    border-radius: 0;
	border: 1px solid #ddd;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 1px;
    padding: 10px 20px;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	background: #0085a1;
	border-color: #0085a1;
	color: #FFF;
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	background: #0085a1;
	border-color: #0085a1;
	color: #FFF;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 0px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
	color: #111;
	border: 1px solid #0085a1;
	outline: 0;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 9px 9px 12px 9px;
}

textarea {
	padding-left: 3px;
	width: 100%;
}

@media screen and (max-width: 767px) {
	input[type="text"],
	input[type="email"],
	input[type="url"],
	input[type="password"],
	input[type="search"] {
		width:100%;
	}
}

#commentform label {
	display: block;
}
#commentform .subscribe-label {
	display: inline-block;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
}

.main-navigation ul {
	display: none;
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.main-navigation li {
	float: left;
	position: relative;
}
.main-navigation li * {
	float: left;
	position: relative;
}

.main-navigation a {
	display: block;
	text-decoration: none;
}

.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	position: absolute;
	top: 1.5em;
	left: -999em;
	z-index: 99999;
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul a {
	width: 200px;
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
	left: auto;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
	left: 100%;
}

.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a,
.main-navigation .current_page_ancestor > a {
}
.navbar-custom {
	margin-bottom: 0;
	border: 1px solid #eee;
	border-width: 0 0 0;

}
.navbar-custom .navbar-custom-search {
	display: none;
}

@media screen and (max-width: 767px) {
	.search-li, .search-li > a, .search-li > a > i {
		display: none;
		overflow: hidden;
	}

	.navbar-custom .navbar-custom-search {
		display: block;
	}
	.navbar-custom .navbar-nav > li {
		width: 100%;
		text-align: center;
	}

	.navbar-custom .navbar-brand,.navbar-custom .navbar-brand a,
	.navbar-custom .navbar-nav > li > a, .navbar-custom .navbar-nav > li > a:hover,
	.navbar-custom .navbar-brand a:hover {
	 color: white;
	}
	.navbar-custom {
		background-color: rgb(22, 22, 22);
		border-bottom-width:0;
	}

	.navbar-custom .navbar-brand {
		position: absolute;
		left: 50%;
		margin-left: -65px !important;  /* 50% of your logo width */
		padding-left: 0;
		display: block;
	}
	.navbar-custom .navbar-toggle .icon-bar {
		background-color: white;
	}
	.navbar-custom .navbar-toggle, .navbar-custom .navbar-toggle:focus, .navbar-custom .navbar-toggle:hover {
		background-color: transparent;
		border-color: rgba(0,0,0,0);
	}

}
@media screen and (min-width: 768px) {
	.navbar-custom .navbar-brand,.navbar-custom .navbar-brand a,
	.navbar-custom .navbar-nav > li > a {
	 color: rgb(22, 22, 22);

	}

	.navbar-custom {
		background-color: white;
		/*
    -webkit-box-shadow: 0 4px 3px -3px #eee;
    -moz-box-shadow: 0 4px 3px -3px #eee;
    box-shadow: 0 4px 3px -3px #eee;
		margin-bottom: 3px; */
	}
	.home .navbar-custom {
		border:none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
	.navbar-custom .navbar-brand {
		font-size: 1.4em;
	}
	.navbar-custom {
		min-height: 60px;
	}
	.navbar-custom .container-fluid, .navbar-custom .container {
		margin-top:12px;
	}
	.home .navbar-custom .container-fluid, .navbar-custom .container {
		margin-top:18px;
	}
}

.navbar-custom a {
text-decoration: none;
font-family: "Libre Franklin","Helvetica Neue", "Helvetica", sans-serif;
font-weight: 700;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

.post-content, .post-content div, .post-content span {
	font-size: 17px;
	letter-spacing: 0.02px;
	line-height: 1.6;
	font-family: "Georgia", "Cambria", "Times New Roman",serif;
}

.post-content {
	max-width: 100%;
}
/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width:100%;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
}

/* Make sure select elements fit in widgets. */
.widget select {
	max-width: 100%;
}

/* Search widget. */
.widget_search .search-submit {
	display: none;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
.home .post-meta .posted-on {
	display:none;
}
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.sticky:before {
    position: absolute;
    top: 26px;
    left: -29px;
    display: inline-block;
    width: 58px;
    height: 45px;
    background: transparent url(img/sticky.png) no-repeat;
    content: "";
}

.sticky .post-title {
	margin-left: 20px;
}

.hentry {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.excerpt {
	font-size: 16px;
	max-width: 800px;
	font-weight: 400;
	letter-spacing: 0.04px;
	font-family: "Libre Franklin", "Helvetica Neue", "Helvetica",sans-serif;
}

.postfooter {
	color: #777;
    float: left;
	font-size: 16px;
	position: relative;
    width: 100%;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Asides
--------------------------------------------------------------*/
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/


/* Entry footer */

.entry-footer {
  border: none;
	margin-top: 0;
	padding: 0;
}

.entry-footer .cat-links,
.entry-footer .tags-links {
	display: block;
	font-family: "Libre Franklin","Helvetica Neue", "Helvetica", sans-serif;
	font-size: 14px;
	font-size: 0.9rem;
	font-weight: bold;
	letter-spacing: 0.1818em;
	position: relative;
	text-transform: uppercase;
}

.entry-footer .cat-links + .tags-links {
	margin-top: 1em;
}

.entry-footer .cat-links a,
.entry-footer .tags-links a {
	color: #333;
}

.entry-footer .cat-links .icon,
.entry-footer .tags-links .icon {
	color: #767676;
	left: 0;
	margin-right: 0.5em;
	position: absolute;
	top: 2px;
}

.entry-footer .edit-link {
	display: inline-block;
}

.entry-footer .edit-link a.post-edit-link {
	background-color: #222;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #fff;
	display: inline-block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 800;
	margin-top: 2em;
	padding: 0.7em 2em;
	-webkit-transition: background-color 0.2s ease-in-out;
	transition: background-color 0.2s ease-in-out;
	white-space: nowrap;
}

.entry-footer .edit-link a.post-edit-link:hover,
.entry-footer .edit-link a.post-edit-link:focus {
	background-color: #767676;
}



footer.comment-meta {
	padding: 10px 0 0 0;
}

label#subscribe-label,
label#subscribe-blog-label {
	display: inline-block;
}


/* start 2017 style */
#comments {
	clear: both;
	padding: 2em 0 0.5em;
}

.comment{
	border-width: 2px 0 0 0;
	border-color:white;
	border-style: solid;
}
.comments-title {
	font-size: 24px;
	margin-bottom: 1.5em;
}

.comment-list,
.comment-list .children {
	list-style: none;
	margin: 0;
	padding: 0;
}

.comment-list li:before {
	display: none;
}

.comment-body {
	margin-left: 65px;
}
.comment-author {
	font-size: 16px;
	margin-bottom: 0.4em;
	position: relative;
	z-index: 2;
}
.comment-author .avatar {
	height: 50px;
	left: -65px;
	position: absolute;
	width: 50px;
	margin-left: 5px;
}
.comment-author .says {
	display: none;
}
.comment-metadata {
	color: #767676;
	font-size: 10px;
	font-size: 0.8rem;
	font-weight: 800;
	letter-spacing: 0.1818em;
	text-transform: uppercase;
}

.comment-metadata a {
	color: #767676;
	text-decoration-style: none;
}
.comment-list .thread-odd {
	/*background-color:#e8e8e8;*/
}
.children .even {

}
.comment-list .thread-even {
	background-color: #f5f5f5;
}

.comment-metadata a.comment-edit-link {
	color: #222;
	margin-left: 1em;
}

.comment-body {
	color: #333;
	font-size: 14px;
}

.comment-reply-link {
	font-weight: 800;
	position: relative;
	font-size: 0.8em;
	text-decoration: none;
}

.comment-reply-link .icon {
	color: #222;
	left: -2em;
	height: 1em;
	position: absolute;
	top: 0;
	width: 1em;
}

.children .comment-author .avatar {
	height: 30px;
	left: -45px;
	width: 30px;
}

.bypostauthor > .comment-body > .comment-meta > .comment-author .avatar {
	border: 1px solid #333;
	padding: 2px;
}

.no-comments,
.comment-awaiting-moderation {
	color: #767676;
	font-size: 18px;
	font-size: 0.875rem;
	font-style: italic;
}

.comments-pagination {
	margin: 2em 0 3em;
}

.form-submit {
	text-align: right;
}
.comment-content {
	margin: 2px;
	margin-left: 0px;
	max-width: 650px;

}
.comment-content p {
	padding: 2px;
	margin-top:2px;
	margin-bottom:2px;
	margin-left: 0px;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .footer {
	display: block;
}
body div#infinite-footer {
    display: none;
}
img#wpstats{ display: none; }


.col-share .sharedaddy .sd-block .sd-title::before{
	display: none;
}
.col-share .sharedaddy .sd-block {
	margin: 18px 0 10px 18px;
}

.col-share .sharedaddy .sd-social-icon .sd-content ul li[class*=share-] a {
background: rgb(22, 22, 22) !important;
}

@media screen and (max-width: 991px) {
	.col-share .sharedaddy {
		display: none;
	}
}
/*
.col-share .sharedaddy .sd-social-icon .sd-content ul li[class*=share-] a.sd-button {
	background: rgb(22, 22, 22);
} */

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}
/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 0 auto;
}

.wp-caption-text {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
	color: #777;
    display: block;
    font-size: 14px;
    font-style: italic;
    margin: 0;
    padding: 10px;
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}

/*--------------------------------------------------------------
## Post Navigation Links
--------------------------------------------------------------*/
.nav-links {
	background: #F8F8F8;
    float: left;
	margin: 20px 0;
	position: relative;
    width: 100%;
}

/*--------------------------------------------------------------
# Front page and sidebars
--------------------------------------------------------------*/
.footer {
	margin-top: 50px;
	border-width: 1px 0 0 0;
	border-style: solid;
	border-color: #eee;
	background-color: rgb(22, 22, 22);
	padding-top: 10px;
	padding-bottom: 10px;
}
.footer-sidebar .widget-title {
 padding-left:20px;
}
#nav_menu-4 {
	margin-bottom:10px;
}
.footer-sidebar {
	justify-content:center;
}
.footer-sidebar .list-inline {
	margin:0;
	padding-left:10px;
}
.footer-sidebar .widget h3 {
	font-size: 18px;
	color: white;
}
.footer-sidebar .widget ul {
  list-style-type: none;
	margin:0;
	padding-left:20px;
	color: white;
}
.footer-sidebar .widget ul li a {
	text-decoration: none;
	color: white;
}

footer .list-inline {
  margin: 0;
  padding: 0;
}
footer .copyright {
  font-size: 14px;
  text-align: center;
  margin-bottom: 10px;
}


.sec-separator {
	border-width: 2.5px 0 2.5px;
	border-style:solid;
	border-color:  rgb(22, 22, 22);
	padding-left: 5px;
}
.sec-separator h3 {
	margin-top: 10px;
}
.sec-separator a {
	font-size: 24px;
	line-height: 1.1;
	margin-bottom: 10px;
	font-weight: 300;
	margin-top: 10px;
}
.feature-content {
	padding: 10px 0;
	max-width: 1600px;
	margin: 0 auto;
}
@media only screen and (max-width: 992px){
	.feature-content {
		padding-left: 3.5%;
		padding-right: 3.5%;
	}

}

.top-hr {
	margin-top: 0;
	width: 100%;
}


a[name="content"] {
	height: 1px;
}
#mc_embed_signup{clear:left; font-size:14px; width:100%;}
/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	 We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */


hr.bottom-hr {
	margin-top: 0;
	border-width: 1.5px;
	border-color:rgb(22, 22, 22);
}
@media only screen and (max-width: 767px){
	.footer-container {
		align-items: center;
	}
	.thumbnail.heroft-thumbnail a img {
		width:100%;
		border: 15px solid  rgb(22, 22, 22);
	}

}
.thumbnail.heroft-thumbnail a img {
	width:100%;
	margin: 0 0 10px;
}
.thumbnail.heroft-thumbnail .jumbotron {
	border-radius: 0;
}
.thumbnail.heroft-thumbnail {
	margin-top:0;
	padding: 0;
	border: none;
	background-color: #eee;
	min-height:95%;
}
.jumbo-donate {
	padding: 12px;
}
.jumbo-donate p, .jumbo-donate p span, .jumbo-donate p span a {
	font-size: 14px;
}
@media only screen and (max-width: 767px) {
	.jumbo-donate {
		display: none;
		overflow: hidden;
	}
	.jumbo-donate p span,  .jumbo-donate p span a{
		display: none;
	}
}
.post-preview > a:hover,
.post-preview > a:focus {
  text-decoration: none;
  color: #0085a1;
}

.post-preview > a > .post-subtitle {
  margin: 0;
  font-weight: 300;
}


.post-preview .post-meta a:hover,
.post-preview .post-meta a:focus  {
  color: #0085a1;
  text-decoration: underline;
}


@media only screen and (min-width: 768px) {
  .post-preview > a > .post-title {
    font-size: 20px;
  }
}


.feature-post-preview {
	background-color: rgb(22, 22, 22);
	padding:20px;
	margin-bottom: 0;
}
.feature-post-preview .excerpt {
	color: white;
	font-size: 20px;

}
.feature-post-preview  .post-title a {
	font-family: "Libre Franklin",sans-serif;
	font-size:60px;
	color: white;
}
.feature-post-preview .post-meta, .feature-post-preview .post-meta a{
	font-size: 18px;
	color: white;
	font-style: normal;
	font-family: inherit;
	font-weight: normal;
}

@media only screen and (max-width: 767px) {
	.feature-post-preview {
		background-color: rgb(22, 22, 22);

	}
	.thumbnail.heroft-thumbnail .feature-post-preview .excerpt {
		display: none;
	}
	.thumbnail.heroft-thumbnail .feature-post-preview h2, .thumbnail.heroft-thumbnail .feature-post-preview .post-meta {
		text-align: center;
	}
	.thumbnail.heroft-thumbnail .feature-post-preview .post-meta {
		margin-top:10px;
	}

	.feature-post-preview {
		padding:10px;
	}
	.feature-post-preview  .post-title a {
		font-size: 36px;
	}
	.feature-post-preview .excerpt {
		color: white;
		font-size: 18px;
	}

}

.verbatim-meta {
	display: inline-block;
	font-size: 14px;
	margin:10px 5px;
}

.meta {
	font-size: 16px;
	font-family: "Libre Franklin","Helvetica Neue", "Helvetica", sans-serif;
	font-weight: 200;
}

.meta a, .meta time {
	color: rgb(22, 22, 22);
	font-weight:700;
}


@media only screen and (min-width: 768px) {
	.col-content {
		background-color: #fff;
	}
	.single-issue .col-content {
		background-color: #fff;
		padding: 0 20px 20px;
	}
	.post-no-img-header {
		margin: 20px 0;
	}


.col-sidebar {
	margin: 10px 0 20px;
	border-width: 0 0 0 1px;
	border-color: #eee;
	border-style: solid;
}

}
@media only screen and (max-width: 991px) {

 .post-no-img-header {
	margin: 0;
}
.page-header {
	margin: 20px 0;
}
}
.page-header {
	border-bottom-width: 0;
}
.post-type-archive-nw_verbatim .page-header {
	border-bottom-width: 1px;
}
.intro-header {
  background-color: #808080;
  background: no-repeat center center;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.intro-header .site-heading,
.intro-header .post-heading,
.intro-header .page-heading {
  padding: 200px 0 0;
}

@media only screen and (min-width: 768px) {
  .intro-header .site-heading,
  .intro-header .post-heading,
  .intro-header .page-heading {
		padding: 350px 0 0;
  }
}
@media only screen and (min-width: 1580px) {
	.intro-header {
		max-width: 1200px;
		margin: 0 auto;
	}
}

.row-gd {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.row-gd:before,
.row-gd:after {
    display: none;
		content: normal;
}
.thumbnail {
	border-width: 1.5px 0 0;
	border-color: rgb(22, 22, 22);
	border-radius: 0;
	border-style: solid;
	padding-top: 20px;
}
.thumbnail a> img {
	width: 100%;
	margin: 0 0 20px;
}

.post-preview {
	margin:0;
}
.thumbnail .post-title {
	margin-top: 0;
}
@media only screen and (min-width: 767px) {
	.thumbnail .post-title {
		font-size: 22px;
	}

}
@media only screen and (max-width: 767px) {
	.single-issue > .container {
		padding: 0;
	}
	.thumbnail {
		border-width: 1px 0 0;
	}
	.col-sm-6 {
		width: 100%;
	}
	.col-sm-12 {
		width: 100%;
	}
	.thumbnail  a> img {
		position: relative;
		display: block;
		float: right;
		width: 25%;
		height: auto;
		margin: 0 0 15px 15px;
	}
}

@media only screen and (min-width: 992px){
	.col-float-thumbnail .thumbnail a img {
		float: right;
		vertical-align: top;
		width: 200px;
		margin: 0 0 15px 15px;
	}

}

#primary-sidebar {
	font-size: 0.8em;
	padding: 0 0 0 10px;
}

#primary-sidebar h2 {
	padding: 10px 0 10px 0;
	font-size: 18px;
	border-width: 0 0 2px 0;
	border-style: solid;
	border-color: rgb(22, 22, 22);
}
#primary-sidebar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#primary-sidebar a {
text-decoration: none;
}


.issue-cover {
	display: block;
	padding: 0;
	margin:15px auto;
	border:4px solid black;
	width:100%;
}

@media only screen and (max-width: 991px){
.issue-cover {
	width:100%;
	height:auto;
}
}
@media only screen and (max-width: 991px){
	.footer-container {
		background-color:transparent;
	}
	#primary-sidebar, .adblock1 {
		display: none;
		overflow: hidden;
	}

}

/*--------------------------------------------------------------
## Full screen search
--------------------------------------------------------------*/

#search {
	font-family: "Helvetica Neue","Helvetica",sans-serif;
  z-index: 100001; /* Above WP toolbar. */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
	-webkit-transform: translate(0px, -100%) scale(0, 0);
	-moz-transform: translate(0px, -100%) scale(0, 0);
	-o-transform: translate(0px, -100%) scale(0, 0);
	-ms-transform: translate(0px, -100%) scale(0, 0);
	transform: translate(0px, -100%) scale(0, 0);
	opacity: 0;
}

#search.open {
  -webkit-transform: translate(0px, 0) scale(1, 1);
  -moz-transform: translate(0px, 0) scale(1, 1);
	-o-transform: translate(0px, 0) scale(1, 1);
	-ms-transform: translate(0px, 0) scale(1, 1);
	transform: translate(0px, 0) scale(1, 1);
  opacity: 1;
}

#search input[type="search"] {
  position: absolute;
  top: 50%;
  width: 100%;
  color: rgba(255, 255, 255,1);
  background: rgba(0, 0, 0, 0);
  font-size: 60px;
  font-weight: 300;
  text-align: center;
  border: 0;
  margin: 0 auto;
  margin-top: -51px;
  padding-left: 30px;
  padding-right: 30px;
  outline: none;
}
@media only screen and (max-width: 767px){
	#search input[type="search"] {
		word-wrap: normal;
		font-size: 25px;
 	}
}
#search input[type="search"]::placeholder{
	color: rgba(255,255,255, 1);
}
#search .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 61px;
  margin-left: -45px;

}
#search .close {
  position: fixed;
  top: 15px;
  right: 15px;
  color: #fff;
	opacity: 1;
	padding: 10px 17px;
	font-size: 27px;
}
.contact-form-container .wpcf7 {
	max-width: 100%;
}
.wpcf7 input.wpcf7-text {
	width: 100%;
}
.wpcf7 textarea {
	width: 100%;
}
/*--------------------------------------------------------------
## Pagination
--------------------------------------------------------------*/
.post-navigation {
	clear: both;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}
.post-navigation {
	border-bottom: 0 solid #f3f3f3;
}

.post-navigation a {
	border: 1px solid #f3f3f3;
	border-width: 1px 0 0;
	display: block;
	padding: 1.5em;
}

.post-navigation a:focus,
.post-navigation a:hover {
	background-color: #f3f3f3;
	text-decoration: none;
}

.pager li a, .pager li a:active,  .pager li a:hover {
	text-decoration: none;
}

.post-navigation .nav-next,
.post-navigation .nav-previous {
	width: 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.post-navigation .meta-nav {
	color: #7a7c84;
	display: block;
	font-size: 13px;
    font-size: 0.8125rem;
    line-height: 1.3847;
    padding: 0.1875rem 0;
	text-transform: uppercase;
}

.post-navigation .post-title {
	font-size: 25px;
	font-size: 1.5625rem;
	font-weight: 700;
	line-height: 1.2;
}

.post-navigation a:focus .post-title,
.post-navigation a:hover .post-title {
	color: #3e69dc;
}

.post-navigation .meta-nav {
	font-size: 16px;
	font-size: 1rem;
}

.post-navigation .post-title {
	font-size: 32px;
	font-size: 2rem;
	line-height: 1.1719;
}
@media only screen and (max-width: 767px){

/* Navigation */
.comment-navigation a,
.post-navigation a,
.posts-navigation a {
	padding-left: 3em;
	padding-right: 3em;
}
}
/* =Blog-Navigation - Pagination
----------------------------------------------- */

.page-numbers.current,
a.page-numbers:hover {
    background: #f9f9f9;
}

.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display:block;
}
.dropdown-submenu>a:after {
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color:#ffffff;
}
.dropdown-submenu.pull-left {
    float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}

.dropdown-menu>li>select {
    display: block;
		padding: 3px 0;
    margin: 3px 3px 3px 13px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
		text-decoration: underline;
		border: none;
		background-color: rgba(0,0,0,0);
}
.dropdown-menu>li>select>option {
	background-color: rgba(0,0,0,0);
	padding: 0;
}
@media only screen and (max-width: 767px){
	.dropdown-menu>li>select {
			-webkit-appearance: menulist;
		}

}
/* thumbs rating styling */
.thumbs-rating-container .thumbs-rating-down,
.thumbs-rating-container .thumbs-rating-up {
	font-size: 0.75em;
	border-radius:8px; /* regular */
  background: #F5F5F5;
	color: black;
}

@media only screen and (min-width: 768px) {
	.thumbs-rating-container .thumbs-rating-down:hover,
	.thumbs-rating-container .thumbs-rating-up:hover {
		background:	#C0C0C0;
		color: black;
	}
}
.thumbs-rating-container .thumbs-rating-up.clicked,
.thumbs-rating-container .thumbs-rating-down.clicked {
	background: 	#C0C0C0;
	color: black;
}

.thumbs-rating-container {
-moz-border-radius:50%;  /* for Firefox */
-webkit-border-radius:50%; /* for Webkit-Browsers */
}

@media only screen and (min-width: 768px) {
	.post-content .wp-caption {
	    background: #f1f1f1;
		}
	.post-content .wp-caption {
		border: 10px solid #f1f1f1;
		border-radius: 2px;
	}
	/*figure.alignleft, img.alignleft, figure.alignright, img.alignright {
			max-width: 250px;
	}*/
}
/* Remove float on mobile to prevent wrapping */

@media only screen and (max-width: 767px) {
    figure.alignleft, img.alignleft, figure.alignright, img.alignright {
        float:none;
    }
}

/* drop cap support */
.post-content > p:first-child:first-letter, .post-content > p:first-of-type:first-letter{
     float: left;
     color: #333;
     font-size: 75px;
     line-height: 60px;
     padding: 5px 5px 0 0;
}

/* MailChimp Form Embed Code - Horizontal Super Slim - 12/16/2015 v10.7
Adapted from: http://blog.heyimcat.com/universal-signup-form/ */
#mc_embed_signup form {
	text-align:center;
	padding:10px 0 10px 0;
}
.mc-field-group {
	display: inline-block;
}
#mc_embed_signup input.email {
	font-family:"Open Sans","Helvetica Neue",Arial,Helvetica,Verdana,sans-serif;
	font-size: 16px;
	border: 1px solid #ABB0B2;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px; color: #343434;
	background-color: #fff; box-sizing:border-box;
	height:32px;
	padding: 0px 0.4em;
	display: inline-block;
	margin: 0;
	vertical-align:top;
}
#mc_embed_signup label {
	display:block;
	font-size:16px;
	padding-bottom:10px;
	font-weight:bold;
}
#mc_embed_signup .clear {
	display: inline-block;
	}
#mc_embed_signup .button {
	font-size: 13px;
	border: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	letter-spacing: .03em;
	color: #fff;
	background-color: #aaa;
	box-sizing:border-box;
	height:32px;
	line-height:32px;
	padding:0 18px;
	display: inline-block;
	margin: 0;
	transition: all 0.23s ease-in-out 0s;
}
#mc_embed_signup .button:hover {
	background-color:#777;
	cursor:pointer;
}
#mc_embed_signup div#mce-responses {
	float:left; top:-1.4em; padding:0em .5em 0em .5em; overflow:hidden; width:90%;margin: 0 5%; clear: both;
}
#mc_embed_signup div.response {
	margin:1em 0; padding:1em .5em .5em 0; font-weight:bold; float:left; top:-1.5em; z-index:1; width:80%;
}
#mc_embed_signup #mce-error-response {
	display:none;
}
#mc_embed_signup #mce-success-response {
	color:#529214; display:none;
}
#mc_embed_signup label.error {
	display:block; float:none; width:auto; margin-left:1.05em; text-align:left; padding:.5em 0;
}
@media (max-width: 767px) {
		#mc_embed_signup {
			margin-top: 10px;
		}
    #mc_embed_signup input.email {
			width:100%;
			margin-bottom:5px;
		}
    #mc_embed_signup .clear {
			display: block;
			width: 100%
		}
    #mc_embed_signup .button {
			width: 100%;
			margin:0;
		}
}
