﻿@import url('/css/jquery-ui-lightness.css');
@import url('/css/feedback.css');

body{
	background-image:url('/images/bkgd.gif');
	background-color:#ffffff;
	color: #333333;
	margin: 0 auto;
    font-family: Arial,Arial,Helvetica,sans-serif;
    font-weight: normal;
    font-size: 100%;
}
p{
    font-size: 13px;
    line-height: 1.5;
}
blockquote{
    color: #3B3B3B;
    font-size: 13px;
    line-height: 1.5;
}
.header{     
    font-family: Georgia,Georgia,serif;
    font-weight: normal;    
	background-image:url('/images/header_bkgd_bottom.jpg'); 
	background-repeat:repeat-x;
	background-position: bottom;
	background-color: #004670;
	height: 118px;
	/*possible homepage/toc css fix, 3/18 STA*/
	/*min-width:900px;*/
	min-width:950px;
}
.logo{
	float: left;
	margin-left: 3.1em;
	margin-top: .3em;
	border: none;
}
#access_statement{
    font-family: Arial,Arial,Helvetica,sans-serif;
    min-height: 20px;
	font-size: 9pt;
	color: #b4c8d8;
	width: 26%;
	position: absolute;
	left:30%;
	right: 500px;
	text-align: center;
	width: 27%;
	max-height: 25px;
}
.login_status{color: #ffffff;}	
.login_status:active{color: #ffffff;}	
.login_status:hover{
	text-decoration: underline;
	color: #ffffff;
}
.login_status_close {
	position:relative; 
	right: -80px;
}

.utility{
	clear: right; 
	float: right;
    font-family: Georgia,Georgia,serif;
    font-weight: normal;    	background-image:url('/images/dark_header_bkgd.gif');
	background-repeat:repeat-x;
	background-position: center top;
	margin: 0px 50px 0 0px;
	padding: 0 10px 10px;
}
.utility ul{
	margin: 0;
	padding: 0;
	color: #999999;
}
.utility li{
	display: inline;
	font-size: 9pt;
	font-family: arial;
}
.utility a {
	color: #ffffff;
}
.utility a:hover {
	text-decoration: none;
}
.utility a:after{
	content:" | ";
	padding-left: 3px;
	padding-right: 3px;
	color: #ccc;
}
.utility .hugbox:after{
	content:none;
}
.about_nav{
	clear: right; 
	color: #ffffff;
	font-style:italic;
	float: right;	
	font-size: 16px;
	margin: 6px 50px 0 0;
	padding: 0 0 0 10px;
	white-space:nowrap
}
.about_nav ul{
	margin: 0;
	padding: 0;
}
.about_nav li{
	display: inline;
	padding: 3px;
	margin-left: 12px;
}
.about_nav a{
	color: #ffffff;
}
.function{
	clear: right; 
	float: right;
	margin: 8px 40px 0 0px;
	padding: 0 10px 10px;
 	height: 40px;
	white-space:nowrap;
	width: 50%;
	min-width: 60%;
}
*+html .function {   	
	margin: 15px 50px 0 0px;
}
img{border: none;}
.blue{ 	
	background-color: #8da9c1;
	background-image:url('/images/search_bkgd.gif');
	background-repeat:repeat-x;
	min-width: 510px;
	position: relative;
	clear: right; 
	float: right;
	margin: 8px 40px 0 0px;
	padding: 0 10px 10px;
 	height: 40px;
	white-space:nowrap;
	width: 50%;
	min-width: 60%;

}
.offscreen{left: -9999px;}

.func_fields{ 	
	background-color: #8da9c1;
	background-image:url('/images/search_bkgd.gif');
	background-repeat:repeat-x;
	min-width: 510px;
	position: relative;

}
.func_fields div{
	width: 100%;
	margin: 0;
	text-align: center;}
.browse{
  	margin: 8px 0 10px 10px;
 	border: none;
  	cursor: pointer;
}
.or {
  display: inline;
  vertical-align: 125%;
  font-weight: bold;
  font-family: Arial,Arial,Helvetica,sans-serif;
  font-size: 14px;
  padding-left: 7px;
}
*+html .or{vertical-align: 65%;}

.searchform{display:inline;width: 100%; margin: 0; padding: 0;}
.main_search{
	border: none; 
	display:inline;	 
	margin: 0; 
	padding: 0;
}
.search{	
	/*background-image:url('../images/searchbackground4.gif');
	border-top: 1px solid #eee;
	border-right: 1px solid #eee;
	border-left: 0.1px solid #ccc;
	border-bottom: 0.1px solid #aaa;
	background-repeat:repeat-x;
	background-position:0 0; */
	display: inline;
	vertical-align: 115%;
	height: 100px;	
	width: 100%;
	margin: 0 0 20px 0;
	padding: 8px 8px 12px 8px;

}
*+html .search {   	
	display: inline;
	margin: 10px 0 10px 10px;	
 	vertical-align: 0%;
}
.search_box{
	width: 35%;}
.go{
    margin: 0px 0 -10px 2px;
    padding: 0;
}
#advanced_search {
	font-size: 13px;
}

.site{		
	background-image:url('/images/bkgd.gif');
	margin-right: 50px;
	min-width:850px;
	margin-left: 50px;
}
.site_block{
	background: #ffffff;
	border-right: 1px solid #d5cdb8;
	border-left: 2px solid #d5cdb8;
	min-width:790px;
}
.breadcrumb{
	font-family: Arial,Arial,Helvetica,sans-serif;
    font-size: 14px;
	padding: 10px 0 8px 20px;
     border-bottom: 1px solid #D0C7AF;
             color: #bc5b00;
}
/* .breadcrumb a:after{
	content:" > ";
	color: #bc5b00;
} */
.breadcrumb a{color: #004b77;}
.content{
  background: #FFFFFF;
  margin: 0px;
  padding: 20px;
  width: 72%;
  float: left; 
}
.content-full{
  background: #FFFFFF;
  margin: 0px;
  padding: 20px;
  }
.generatedcontent{
  background: #FFFFFF;
  margin: 0px 0 0 0;
  padding: 0 20px 20px 0;
  width: 75%;
  float: right;
}
.tab_listings{
    margin: 0px 0 0 0;
    padding: 0px 10px 20px 20px;
    overflow: hidden;   
    font-family: Georgia,Georgia,serif;
    font-weight: normal;	
    
}
.tab_content, .details {
    margin: 15px 0 0 0px;
    padding: 0px;
    font-family: Arial,Arial,Helvetica,sans-serif;
    font-size: 13px;
    line-height: 1.5;
}
.detail_info {
    margin: 20px 0 15px;
    padding: 0 0 0 25px;
}
.block {
    padding-left:25px;
}
h2.trigger {
    background: url("/images/plus.gif") no-repeat scroll 0 0 transparent;
    font-size: 1.4em;
    font-weight: normal;
    height: 20px;
    line-height: 20px;
    margin: 0 0 5px;
    padding: 0 0 0 25px;
    display: block;
    text-decoration: none;
}
h2.active {
    background: url("/images/minus.gif") no-repeat scroll 0 0 transparent;
}
h2.trigger a {
    color: #4c3d16;     
}
h2.info_link {
    font-size: 1.4em;
    font-weight: normal;
    height: 20px;
    line-height: 20px;
    margin: 0 0 5px;
    padding: 0 0 0 25px;
}

h2.info_link span {
	background: url("/images/external-link.gif") no-repeat right center;
	padding-right: 15px;
}

h2.subscription_info_link {
    font-size: 1.4em;
    font-weight: normal;
    height: 20px;
    line-height: 20px;
    margin: 0 0 5px;
    padding: 0 0 0 25px;
} 
h4.trigger {
	background: url("/images/info.gif") no-repeat scroll 0 0 transparent;
    margin: 0 0 0 20px;
    padding: 0 0 0 25px;
    text-decoration: none;
}
div.toggle_container div.toggle_container{margin: 0 0 0 35px;}
h4.trigger a{        
  color: #4C3D16;  
}
h4.info_iss_link {  
    margin: 0 0 0 20px;
    padding: 0 0 0 25px;
    text-decoration: none;
}
h4.info_iss_link span {
	background: url("/images/external-link.gif") no-repeat right center;
	padding-right: 15px;
}

.search_inside{
	background-image:url('/images/search_bkgd3.gif');
	background-repeat:repeat-x;
	border: 0;
	width: 55%;
}
.search_inside label{
	margin: 0;
	padding: 0;
}
.search_inside #search_series, .search_inside #search_publisher, .search_inside #search_journal, .search_inside #search_book {
	margin:0;
	padding:5px 0;
	vertical-align:top;
	width:83%;
}
.go_book, go_journal{
	margin: 0px 0 0 0;
	padding-left: 5px;
}
.keys{
	font-weight: bold;
}
h1{
	font-size: 21px;
	font-family: Georgia,Georgia,serif;
    font-weight: normal; 
    color: #4c3d16; 
    margin: 0;
    padding: 0;
}
h2{
	font-size: 18px;  
	color: #4c3d16;      
	font-family: Georgia,Georgia,serif;
    font-weight: normal; 
}
h3{
	font-size: 16px;  
	color: #4c3d16;      
	font-family: Georgia,Georgia,serif;
    font-weight: normal; 
}
h4{
	font-size: 14px;  
	color: #4c3d16;      
	font-family: Georgia,Georgia,serif;
    font-weight: normal; 
}
ol li {
	color: #3B3B3B;
    font-size: 13px;
    line-height: 1.5;
}
.title {
    color: #4c3d16;
    font-size: 24px;
    margin: 0;
    font-family: Georgia,Georgia,serif;
    font-weight: normal;

}

/*fixes future abstract/kwd format issue*/
.abstract .title, .kwd .title {
	color:gray;
	font-family: Arial,Helvetica,sans-serif;
}

.subtitle {
    font-family: Arial,Arial,Helvetica,sans-serif;
    font-size: 14px;
    margin-top: 0.2em;
    margin-bottom: 0.7em;
    padding: 0;
    font-style: italic;
}
.author, .single_journal_result .designation {
    font-family: Arial,Arial,Helvetica,sans-serif;
    font-size: 12px;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.pubdate {
    font-size: 12px;
    margin-top: 0;
}
.pubdate span {
    font-style: italic;
}
.description {
    font-family: Arial,Arial,Helvetica,sans-serif;
    font-size: 12px;
    line-height: 1.5;
    padding: 0;
    width: 70%;
}
.morecontent span {
    display: none;
} 
.publisher {
    font-family: Arial,Arial,Helvetica,sans-serif;
    font-size: 12px;
    padding: 0;
}
.cover {
    float: right;
    font-family: Arial,Arial,Helvetica,sans-serif;
    font-size: 12px;
    margin: 0 0 20px 10px;
}
.cover img {
    border: 2px solid #d5cdb8;
    margin: 0 auto 0 auto;
    padding: 0;
    cursor: pointer;
}
.cover ul {
    list-style: none outside none;
    text-align: center;
    margin: 0 auto 0 auto;
    padding: 5px 0 0 0;
    line-height: 1.5em;
}

.cover .free_pdf {    
	border: none;
    margin: 0 0 0 0px;
    background: url("/images/free_pdf.gif") no-repeat scroll 0px 3px transparent;
    padding: 10px 0px 10px 30px;
}
.qtip-bookcover, .qtip-journalcover{
	max-height: 1600px;
	overflow:auto;
	max-width: 900px;
	/*padding-right:10px;*/
	 background-color: #505050;
 }
.qtip-bookcover .ui-tooltip-content, .qtip-journalcover .ui-tooltip-content{
/*	overflow:auto;*/
	padding-right:10px;
 }
 
.qtip-cover{
	padding: 0;
	margin: 0;
}
.qtip-backcover{
	padding: 0;
	margin: 0;
}
.qtip-caption{ 	
	background: url("/images/tab_line_clean.gif") repeat scroll 30% 30% #D0C7AF;
    border: 1px solid #D0C7AF;
    color: #4C3D16;
    max-width: 490px;
	padding: 5px;
	margin: 0px 0 5px 0;
 }
.qtip-caption p{ 	
	border: 1px solid #D0C7AF;
	background-color: #ffffff;
	padding: 8px 12px;
	margin: 0;
	border-radius: 3px;  
 }
.search_text{     
	font-family: Georgia,Georgia,serif;
    font-weight: normal; 
    font-size: 14px; 
    margin: 6px 0 0 0; 
    padding: 0 0 0 0;
}
.result_count{ font-size: 12px;margin: 0;    font-family: Georgia,Georgia,serif;
    font-weight: normal;}
.modify { 
  float: right;
/*  margin-right: 350px; */
  margin-bottom: 0; 
}

.modify { 
  background: #f07f12 bottom left repeat-x url(/images/feedback-bg.jpg); 
  float: right;
  margin: 35px 0 0px 0;
  padding: 4px 0 2px 0;
  border: 1px solid #6C6C6C; 
  border-radius: 3px; 
}

.modify a {
	background:url("/images/arrow_closed_white.gif") no-repeat scroll 98% 44%;
	border: 1px solid #f5ac65; 
	margin: 0 auto; 
	text-align: center; 
	padding: 4px 20px 4px 10px; 
	border-radius: 3px; 
	box-shadow: 0 0 4px rgba(100, 100, 100, 1); 
	font: normal 14px Arial, sans-serif; 
	clear:both; 
	color: #fff;
	text-shadow: 0.1em 0.1em 0.2em #333;	
}

.modify .open {
  background:url("/images/arrow_down_white.gif") no-repeat scroll 98% 40%;
}
#modify-box {
  margin-top: 1em;
  border: 1px solid #D2C6B5;
  border-bottom: none;
  padding: 10px;
  overflow: auto;
}
#modify-box .go {
  float: left;
  margin-top: 0em;
  padding-left: 0em;
}
#modify-box form {
	margin: 0;
	padding: 0;
}

select.boolean {
  margin: 10px 10px 10px 30px;
}
.control_nav{
	clear: both; 
	background: #004670; 
	color: #fff;
	padding: 5px; 
	margin: 0px 0;
	border: 1px solid #D2C6B5; 
	font-size: 12px;
	overflow: auto;    font-family: Georgia,Georgia,serif;
    font-weight: normal;
}
.control_nav_bottom{
	clear: both; 
	background: #f6f6f1; 
	color: #004670; 
	font-family: Arial, Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding: 5px; 
	margin: 0px 0;
	border: 1px solid #D2C6B5; 

}
.result_count{
	display: inline;
	padding: 0;
	margin: 0 0 0 0;
}
.select_page {
	float: right;
	padding: 0;
	margin: 0 0 0 0;
	display: inline;
}
.select_page a{
	color: #fff;
	padding: 0 2px;
}
.select_page a:hover{
	text-decoration:underline;
}

.items_on_page{
	margin: 0 0 0 10px;
	padding:0;
	display: inline;
    border: 0 none;

}
.sort_by{
	float: right;
	margin: 1px 15px 0 0;
	padding:0;
    border: 0 none;
}

.save_all_citations{
	padding: 10px 0 0; 
	margin:0;
}
.journal_results {
	padding: 5px 10px 20px 0;  	
	min-width: 590px;
 }
.single_journal_result{
	padding: 5px 10px 10px 40px;  	
}  
.results {
	padding: 0 0 20px 0;  	
	min-width: 590px;
 }
.single_result{	
	clear: both;	
	border-top: 1px solid #d3cdc6;
 	margin: 10px 0;		
	padding: 10px 0; 
}
.single_result_list{	
	clear: both;	
	border-top: 1px solid #d3cdc6;
 	margin: 10px 0;		
	padding: 10px 0 20px 0; 
}
.result_cluster{
  float: left;
  margin: 0;
}
.results_thumbnail {
	float: left;
}

.result_info .results_thumbnail img {
	margin-bottom: 10px;
    margin-right: 15px;
}


.result_cluster label{padding: 0 10px 0 0;}

.result_cluster_list label{padding: 0 5px 0 0;}

.result_cluster img, .result_cluster_list img{vertical-align:text-top; padding: 0;}

.series_listing {
    float: left;
    margin-bottom: 1.6em;
    margin-top: 10px;
    padding-left: 20px;
    min-width: 400px;
    width: 95%;
}
.series_title{font-size: 18px; padding: 0 0 0 1em; margin: 0;}

.series_info{font-family: Arial,Arial,Helvetica,sans-serif;font-size:12px;padding: 0 0 0 2.5em;margin: 0;}

.series_result_list{	
	clear: both;	
	border-top: 1px solid #d3cdc6;
 	margin: 5px 0;		
	padding: 3px 0 3px 0; 
}


.save_citation
	{
	#padding: 5px 25%;
	}

.result_info {
	float: left;
  	margin: 0;
  	padding: 0;
  	width: 100%;
}

.result_info_list{float: right; margin: 0 0 0 5px; padding: 0; width: 100%;	}
.result_info img, .result_info_list img{margin: 0;padding: 0 2px;}
.result_info .title, .result_info_list .title{font-size: 18px; padding: 0 0 0 5.5em; margin: 0;}
.result_info .subtitle, .result_info_list .subtitle{font-size: 13px; font-style:italic; padding: 2px 0 0 7.5em;margin: 0;}
.result_info .author{font-family: Arial,Arial,Helvetica,sans-serif;font-size:12px;padding: 0;margin: 0;}
.result_info_list .author{font-family: Arial,Arial,Helvetica,sans-serif;font-size:12px;padding: 0 0 5px 8.1em; margin: 0;}
.result_info .designation_coverage, .result_info_list .designation_coverage, 
.journal_info .designation_coverage {
  font-family: Arial,Arial,Helvetica,sans-serif;
  font-size:13px;
  font-weight: bold;
  padding: 2px 0 ;
}
.result_info .designation_coverage, .result_info_list .designation_coverage{margin: 0 0 0 7.5em;}
.journal_info .designation_coverage{margin: 0 0 0 40px;}
.result_info .description {
    color: #3B3B3B;
    font-family: Arial,Arial,Helvetica,sans-serif;
    font-size: 12px;
    padding: 10px 0;
    line-height: 1.5;
    width: 95%;
}

.result_info .description p {
	margin-left: 13em;
}
.result_info .description ul {
	margin-left: 11.5em;
}

.result_info_list p.citation_save {
	margin: 0 15px 26px 0;
}
p.citation_save {
	text-align: center;
	margin: 0;
	padding: 0;
}

 img.download{ margin: -9px 5px 4px;}
.format_icon {
    margin: 20px 0 0;
    padding: 0;
} 
.format_icon img{
    margin: -10px 0 0;
    padding: 0 5px 4px;
    vertical-align: top;
}
#newSearch, #clearTerms, #clearSelection {
	cursor: pointer;
}

.newSearchImageClass {
    padding: 3px 0 10px 0;
}

.browse_tab_bar {
    margin: 20px 0px 0px 0px;
    padding: 0 0 0 0;
}
ul.select_tabs {
    height: 27px;
    list-style: none outside none;
    margin: 10px 0 0 20px;
    padding: 0;
    width: 100%;

}
ul.select_tabs li {
    border-bottom: none;
    float: left;
    height: 27px;
    line-height: 25px;
    margin: 0;
    position: relative;
    margin-right: 5px;
}
ul.select_tabs li a {
    color: #004a75;
    display: block;
    font-size: 1.2em;
    outline: medium none;
    padding: 0 20px;
    text-decoration: none;
    border: 1px solid #ffffff;

    
}
ul.select_tabs li.active, ul.select_tabs li a:hover {
    background: none repeat scroll 0 0 #f5f5e9;
    border: 1px solid #817452;
    border-radius: 4px 4px 0 0;
    border-bottom: none;
    color: #000;
    outline: medium none;
    padding: 0 20px;
    text-decoration: none;
    display: block;
    font-size: 1.2em;
   
}

.col1, .col2, .col3{ float: left; width: 25%; list-style: none;}
.col1, .col2{
	border-right: 2px ridge #fff; 
	padding-right: 5px;
	margin-bottom: 30px;
}
.col1 li, .col2 li, .col3 li{
	padding: 3px 0;
    font-family: Arial,Arial,Helvetica,sans-serif;
    font-size: 13px;
}
.col1 li a:hover, .col2 li a:hover, .col3 li a:hover{text-decoration: underline;}
.listing{
	background:#f5f5e9;
	margin: 0; 
	padding: 0;        
	border-radius: 10px;
	border: 1px solid #817452;
	padding: 10px;
    font-family: Georgia,Georgia,serif;
    font-weight: normal;	
}

 

.colone, .coltwo {
  float: left; 
  width: 44%; 
  list-style: none;
}
.colone{border-right: 2px ridge #fff; padding-right: 5px; margin-bottom: 30px;}
.colone li, .coltwo li{
	padding: 3px 0;    
	font-family: Arial,Arial,Helvetica,sans-serif;
    font-size: 13px;
}
.colone li a:hover, .coltwo a:hover{text-decoration: underline;}

.tier_two{
  margin-top: 2px;
}



.navigation_tab_bar {
	clear:both;
	background: #f5f5e9 url('/images/tab_line.gif') repeat-x;
    height: 38px;
    margin: 30px 0px 0 -20px;
    width: 125%;
    font-family: Georgia,Georgia,serif;
    font-weight: normal;	
}
ul.tabs {
    float: left;
    height: 25px;
    list-style: none outside none;
    margin: 10px 0 0 20px;
    padding: 0;
    width: 100%;
}
ul.tabs li {
    -moz-border-radius:  4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    border-bottom: none;
    float: left;
    height: 27px;
    line-height: 25px;
    margin: 0;
    position: relative;
    margin-right: 3px;
    font-size: 100%;   
}
ul.tabs li a {
    color: #004a75;
    display: block;
    font-size: 1.2em;
    outline: medium none;
    padding: 0 20px;
    text-decoration: none;
}
ul.tabs li a:hover{
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #817452;
    -moz-border-radius:  4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    border-bottom: none;
    color: #000;
    height: 27px;
}
ul.tabs li.active {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #817452;
    -moz-border-radius:  4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    border-bottom: none;
    color: #000;
    height: 27px;
}
.chapter h2 {
    color: #4c3d16;
    font-size: 18px;
    font-weight: normal;
}
.chapter h3 {
    border-top: 1px solid #D3CDC6;
    padding: 5px 0 0;
    font-size: 16px;
    color: #4c3d16;
}
#issues_list h3,
.chapter h4,
.article h4,
.article-sub h4 {
  font-size: 16px;
  color: #4c3d16;
  margin-bottom: 0;
  font-family: Arial,Arial,Helvetica,sans-serif;
  font-weight: bold;
}
.article .authors {
  line-height: 1.7em;
}
.chapter {
    margin: 0;
    color:#333333;
    font-size: 14px;
}
.chapter_detail {
    margin: 0 0 10px 0;
}
.chapter_title {
    color: #333333;
    font-family: Arial,Arial,Helvetica,sans-serif;
    font-size: 15px;
}
.result_info .chapter h4 {
  font-size: 14px;
}
#toc h3 {
 /* border-top: 1px solid #D3CDC6; */
  padding: 5px 0 0 0;
  margin-left: 25px;
  margin-bottom: 0px;
  font-size: 18px; 
    font-family: Arial,Arial,Helvetica,sans-serif;
    font-weight: bold;
}
#toc h4 {
  padding: 0;
  margin-bottom: 0;
  margin-top: 0;
  /* font-weight: normal;*/
  margin-left: 35px;
  /* text-decoration: underline;*/
 /*  font-size: 13px;*/
     font-family: Arial,Arial,Helvetica,sans-serif;
  font-size: 16px; 

}
#toc h4.title, #toc h4.chapter_title {
  font-size: 16px !important;
  text-decoration: none !important;
  padding: 0;
  font-weight: bold !important;
  margin-left: 0px !important;
}

#toc h5 {
  padding: 0;
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 35px;
  font-family: Arial,Arial,Helvetica,sans-serif;
  font-size: 13px; 
}

#toc p {
	margin-left: 45px;
}

.snippet {
    color: #3B3B3B;
    font-family: Arial,Arial,Helvetica,sans-serif;
    font-size: 12px;
}

.left {
    float: left;
    padding: 5px 5px;
    border: none;
}
.right {
	/*removed float right as it causes flow issues, text is aligned right anyway*/
    /*float: right;*/
    padding: 8px 8px;
    border: none;
}

.more_less{
	cursor: pointer;
	display: block;
}
.chapter {
  margin: 0 0 0 15px;
  padding: 0;
}
#toc .article {
  margin: 5px 0 20px 45px;
  padding: 0;
}
#toc .article .format_icon {
  margin-left: 6px;
  font-size: 14px;
}
.result_info .chapter, .result_info .article {
    margin: 0 0 0 15px;
    padding: 0;
    font-size: 16px;
    padding: 0 0 0 10em;
}
.left_facets {
    background-color: #ffffff;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    color: #004a75;
    margin: 5px 10px 0;
    padding: 5px;
    width: 19%;
}

.right_nav {
  background-color: #ffffff;
  float: right;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 12px;
/*  color: #004a75; */
  margin: 20px 20px 0 0;
  width: 19%;
/*  min-width: 230px; */
  padding-top: 0;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 35em;
}
.legend {
    border: 1px solid #d0c7af;
    color: #6e6242;
    font-size: 12px;
    padding: 2px 7px 10px 10px;
    clear:both;
} 
.legend ul{
   list-style: none;
   padding: 0;
   margin: 0;
}
.legend .access {
    background: url("/images/access/full_access.gif") no-repeat scroll 0px 5px transparent;
    padding: 10px 0px 5px 35px;
}
.legend .free {
    background: url("/images/access/free_access.gif") no-repeat scroll 0px 5px transparent;
    padding: 10px 0px 5px 35px;
}
.legend .open {
    background: url("/images/access/open_access.gif") no-repeat scroll 0px 5px transparent;
    padding: 10px 0px 5px 35px;
}
.legend .none {
    background: url("/images/access/no_access.gif") no-repeat scroll 0px 5px transparent;
    padding: 10px 0px 5px 35px;
}
.access_no {
    background: url("/images/access/no_access.gif") no-repeat scroll 0px 5px transparent;
    padding: 0px 0px 5px 35px;
}
.access_yes {
    background: url("/images/access/full_access.gif") no-repeat scroll 0px 5px transparent;
    padding: 0px 0px 5px 35px;
}
.access_open {
    background: url("/images/access/free_access.gif") no-repeat scroll 0px 5px transparent;
    padding: 0px 0px 5px 35px;
}
.access_free {
    background: url("/images/access/open_access.gif") no-repeat scroll 0px 5px transparent;
    padding: 0px 0px 5px 35px;
}
.rightnav, .facets {
  border: 1px solid #d0c7af;
  background: #f5f5e9;
  list-style: none outside none;
  margin: 0;
  padding: 3px 5px;
}
.rightnav, .facets_pubdate {
  border: 1px solid #d0c7af;
  background: #f5f5e9;
  list-style: none outside none;
  margin: 0 auto;
  text-align: center;
  padding: 3px 5px;
}
#startYear {
	width: 30%;
}
#stopYear {
	width: 30%;
}

.right_nav h2, .left_facets h2 {
  background: #817452 url('/images/arrow_down.gif') no-repeat 95% 45%;
  border: 1px solid #d0c7af;
  padding: 3px 5px;
}
.left_facets h2 {
  margin: 15px 0 0;
}
.right_nav h2.open, .left_facets h2.open {
  background: #817452 url('/images/arrow_closed.gif') no-repeat 95% 45%; 
  border: 1px solid #d0c7af;
}
.closed{ 
  display: none; margin: 0; padding: 0;
}
.right_nav h2 a, .left_facets h2 a{
  color: #ffffff;
  font-weight: normal;
  font-size: 16px;
}
h2.research_areas_rightnav{
  margin-top: 0px;
  padding-top: 0;
}
.right_nav a, .left_facets a  {
  color: #004a75;
  text-decoration: none;
/*  line-height: 20px; */
}
ul.rightnav li {
  padding-bottom: 0.6em;
} 
.right_nav img, .left_facets img {
	border: none;
}
.right_nav .designation h1 {
  margin-top: 0px;
  margin-bottom: 2px;
  padding: 0px 5px;
  font-size: 20px;
  text-align: center;
}
.right_nav .designation h2 {
  background: none;
  border: none;
  margin-top: 0px;
  padding: 0px 5px;
  font-size: 14px;
  text-align: center;
}
.right_nav .designation h2 a {
  color: #004a75;
  font-weight: normal;
  font-size: 14px;
}

.right_nav .designation .nextissue, .cover .nextissue {
  float: right;
  padding-right: 12px;
  background: url("/images/next.gif") no-repeat right center;
}
.right_nav .designation .previssue, .cover .previssue  {
  background: url("/images/previous.gif") no-repeat left top;
  padding-left: 12px;
}
.journal_info .nextissue {
  padding-right: 12px;
  background: url("/images/next.gif") no-repeat right center;
}
.journal_info .previssue  {
  background: url("/images/previous.gif") no-repeat left top;
  padding-left: 12px;
}
.rightnav_links_share {
    color: #3B3B3B;
    font-size: 15px;
    list-style: none outside none;
    padding: 2px 0;
    margin: 0;
    text-decoration: none;
}
.rightnav_links_share li {
    border-bottom: 2px solid #d0c7af;
    color: #6e6242;
    list-style: none outside none;
    padding: 0px 0 20px 0px; 
    text-decoration: none;
}
.rightnav_links_share .sheridan,.rightnav_links_share .rightsconnect {
    border-bottom: 2px solid #d0c7af;
    color: #6e6242;
    list-style: none outside none;
    padding: 8px 0 3px 0px; 
    text-decoration: none;
} 
.rightnav_links {
    color: #3B3B3B;
    font-size: 15px;
    list-style: none outside none;
    margin: 0px 0 0;
    padding: 3px 0;
    text-decoration: none;
}
.rightnav_links li {
    border-bottom: 2px solid #d0c7af;
    color: #6e6242;
    list-style: none outside none;
    padding: 5px 0; 
    text-decoration: none;
}
.rightnav_links li.last {
    border-bottom: none;
	padding-bottom: 0;
}
.rightnav_links li a{
    padding-left: 5px; 
} 
.submit{ 
	margin-left: 45%;
	padding: 5px;
}
.pubdate_icon{ 
	margin-left: 0;
	padding: 5px 5px 0 5px;
}

a {
    color: #004a75;
    text-decoration: none;
 }

 .send_email {
    background: none repeat scroll 0 0 #D0C7AF;
    color: #fff;
    cursor: pointer;
    padding: 2px;
}
.email{
 	white-space:nowrap;
}
#email_result{
 	white-space:normal;
} 
#email_address{
	width: 67%;
}
.nav_links {
    color: #3B3B3B;
    font-size: 15px;
    list-style: none outside none;
    margin: 0px 0 0;
    padding: 3px 0;
    text-decoration: none;
}
.nav_links li {
    border-bottom: 2px solid #d0c7af;
    color: #6e6242;
    list-style: none outside none;
    padding: 3px 0; 
    text-decoration: none;
}
.nav_links li.last {
    border-bottom: none;
	padding-bottom: 0;
}
.nav_links li a{
    padding-left: 5px; 
} 
.related, .left_facets .research_areas, .left_facets .author, .left_facets .language, .left_facets .publisher, .left_facets .journal {  
  border: 1px solid #d0c7af;
  background: #f5f5e9;
  margin: 0;
  font-size: 12px;
}

.related input, .left_facets .research_areas input, .left_facets .author input, .left_facets .language input, .left_facets .publisher input, .left_facets .journal input { 
	margin: 0 6px 5px 0;
	padding: 0;
	clear: left;
    float: left;
}
.related label, .left_facets .research_areas label, .left_facets .author label, .left_facets .language label, .left_facets .publisher label, .left_facets .journal label { 
	width: 85%;
	float: left;
	padding-bottom: 6px;
}


.related{  
	text-align: center;
}
/*
label, .facet_input{ width: 85% }
*/

 
.multiple_select {
    border-bottom: 1px solid #D2C6B5;
    height: 12.5em;
    margin: 0;
    padding: 4px;
    overflow: auto;
}

.multiple_selected {
    height: 5.5em;
    line-height: 20px;
    overflow: auto;
}
.multiple_selected input {
    background: url("/images/x.gif") no-repeat scroll left center #F5F5E9;
    padding: 0 0 0 25px;
}
.left_facets fieldset  {
    display: block;
    margin: 0;
   padding: 0 0 0 7px;
    border: 0 none;

}
.left_facets .legend  {
	margin-top: 15px;   
}
.browse_all{ 
	text-align: center; 
	padding: 0;
}
.pub_image, .ads{
	text-align: center;
	border: 0;
}
.views{
	float: right; 
	padding: 10px;
} 
ul.rightnav, .right_nav .designation, .right_nav .legend, .right_nav .pub_image, .right_nav .ads, .right_nav .related, .right_nav .nav_links, .upcc_logo_right {
	margin-bottom: 15px;
}
.left_facets .nav_links{
	margin-top: 0;
}
.upcc_logo_right{ 
	text-align:center;
}
.active_facet{
    /* URL 404s background: url("../images/active_browse.gif") no-repeat scroll 0% 110% #ffffff; */
    background: no-repeat scroll 0% 110% #ffffff;
	margin: 0px 0 0;
    padding: 5px 5px;
    font-weight: bold;

}
.options{	margin: 0px 0 0;
    padding: 5px 5px;
}
.hierarchical {
	margin: 0px 10px 0;
    padding: 5px 10px;
}
.clear {
    clear: both;
}
.footer {
    clear: both;
    border-top: 3px ridge #D3CDC6;
	background: #EDEAE1 url('/images/footer_bkgd.gif') repeat;
    color: #6D6D6B;
    padding: 10px 0;
    border-left: 1px solid #d5cdb8;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    color: #3b3b3b;
    /*possible homepage/toc css fix, 3/18 STA*/
	/*min-width:900px;*/
	min-width:950px;
}
.additional_footer{
    padding: 20px 0px 20px 0;
    width: 100%;
    margin: 0;
    padding: 0;
    min-width: 900px;
}
.additional_footer .left{
	float: left;   
	width: 40%;
	margin: 30px 0px;
	padding-left: 10%;
	padding-top: 0;
}
 .additional_footer .right{
	float: right;
	width: 40%;
	margin: 30px 0;
	border-left: 3px ridge #D3CDC6;
	padding-left: 40px;
} 
.additional_footer h2{
	color: #4c3d16;
	font-size: 22px;
}
.additional_footer ul{
	list-style: none;
	text-align: left;
	padding: 0;
	margin: 0;
}
.additional_footer li{	
	font-weight: bold;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
	margin: 10px 0;
}
.additional_footer .facebook {
    background: url("/images/facebook.gif") no-repeat scroll 0px 5px transparent;
    padding: 15px 50px;
}
.additional_footer .twitter {
    background: url("/images/twitter.gif") no-repeat scroll 0px 5px transparent;
    padding: 15px 50px;

}
.additional_footer .rss {
    background: url("/images/rss.gif") no-repeat scroll 0px 5px transparent;
    padding: 15px 50px;

}
.additional_footer .email {
    background: url("/images/email.gif") no-repeat scroll 0px 5px transparent;
    padding: 15px 50px;

}
.additional_footer img{
	padding-right: 0px;
	margin: 0;
} 
.main_footer{
	clear: both;
    border-top: 2px ridge #D3CDC6;
    text-align: center;
} 
/* BLW additions */
label.number {
  float: left;
  position: relative;
  width: auto;
  margin: 0;
}
.result_info_list label.number {
	margin: 0 0 10px 0;
}

a.citationsave {
    font-family: Arial,Arial,Helvetica,sans-serif;
    font-size: 11px;
    padding: 0;
}
ul.alphabet {
  font-family: Arial,Arial,Helvetica,sans-serif;
  font-size: 14px;
  list-style-type: none;
  text-align: center;
  padding: 4px 6px;
}
ul.alphabet li {
  display: inline;
}
ul.alphabet li a {
  margin: 8px 1.02%; 
  color: white;
}

/*tables alphabet selector*/
#alphacontainer {
  width: 100%;
  background-color: #004b77;
}

#container-content ul.alphabet li a {
    color: white;
    margin: 8px 0.8%;
    font-size: 14px;
}

#container-content ul.alphabet li:hover {
    background-color: #C9C4B5;
}

.feeds_list ul {
	list-style: none;
}

.feeds_list ul li {
	margin: 0 0 8px 0;
}

div.spacer {
  padding: 0.313em;
}
div.titlebox {
  float: left;
  width: 18%; 
  border: 1px solid #D3CDC6; 
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 0.5em;
  padding-bottom: 20px;
  height: 23em;
  background-color: white;
  position: relative;
  text-align: center;
}
div.titlebox h1.title {
  font-size: 18px;
}
div.titlebox p.subtitle {
  margin-top: 4px;
  margin-bottom: 4px;
  font-style: italic;
  font-size: 11px;
}
div.titlebox p.author {
  margin-top: 4px;
  font-variant: small-caps;
  font-size: 11px;
}
div.titlebox p.coverage {
  margin-top: 4px;
  font-weight: bold;
  font-size: 11px;
}
div.titlebox img.contenttype {
  position: absolute;
  bottom: 0px;
  right: 0px;
}
div.row {
  width: 100%;
  padding-left: 0.5em;
  overflow: hidden;
}
.left_access {
  vertical-align: top;
  margin: 0 0 .3em .3em;
}
#flyout {
  background-image:url('/images/tab_line_clean.gif');
  background-repeat:repeat;
  background-position: center top;
  margin: -5px -9px;
  min-width: 610px;
}
.ui-tabs .ui-tabs-panel {
    background: none repeat scroll 0 0 #ffffff;
}
.ui-tooltip-content {
  padding-top: 0;
  margin-top: 0
}
#flyout .browse_tab_bar {
  margin-top: 0px;
}
#flyout ul.select_tabs {
  margin-top: 5px;
}
#flyout ul.select_tabs li, #flyout ul.select_tabs li a {
  border: none;
  outline: none;
}
#flyout ul.select_tabs li.active {
  border: 1px solid #817452;
  border-bottom: none;
  background-color: white;
}
#flyout ul.select_tabs li a:hover {
  background: url('/images/tab_line_clean.gif') repeat scroll;
  color: #bc5b00;
}
#flyout .listing {
  background-color: white;
  padding-top: 30px;
  padding-left: 25px;
}
#flyout .left {
  padding: 0;
  width: 40%;
  border-right: 1px solid #D0C7AF;
}
#flyout .right {
  padding: 0;
  padding-top: 1px;
  padding-left: 15px;
  float: right;
  width: 55%;
}
.ui-tooltip, .ui-tooltip-1, #ui-tooltip, #ui-tooltip-1 {
  z-index: 290001 !important;
}
/*citation flyour for book and journal content*/
.ui-widget-header {
    background: url("/images/tab_line_clean.gif") repeat-x scroll 50% 50% #D0C7AF;
    border: 1px solid #D0C7AF;
    color: #FFFFFF;
    font-weight: bold;
}
.ui-helper-reset {
    line-height: .5;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: none;
    border: none;
    color: #004A75;
    font-size: 1.3em;
}
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
    color: #004A75;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    background-color:  #fff;
    border: 1px solid #817452;
    color: #004A75;
}
.ui-state-hover a, .ui-state-hover a:hover {
    color: #004A75;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    background-color:  #fff;

    border: 1px solid #817452;
    color: #4C3D16; 
} 
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
    color:  #4C3D16;  
}
/*citation flyour for book and journal content*/
.denial {
  border: 2px solid #d0c7af;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  background: #f5f5e9; 
/*  background: #ffff99; */
/*  background: #E4CA95; */
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.shadow {
  -moz-box-shadow: 1px 1px 4px #000;
  -webkit-box-shadow: 1px 1px 4px #000;
  box-shadow: 1px 1px 4px #000;
  /* For IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#000000')";
  /* For IE 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#000000');
  padding:1em;
}
.journal_info .description {
  margin-top: 20px;
}
.book_info .subtitle,
.book_info .author,
.book_info .description, 
.book_info .pubdate, 
.journal_info .description,
.current,
.publisher {
  margin-left: 40px;
}
.chapter_detail p {
  margin-top: 5px;
  margin-left: 30px;
}
img.a_cover {
  border: 2px solid #d5cdb8;
}
.book_info span img.left,
.journal_info span img.left,
#article span img.left {
  margin-right: 5px;
}
#article {
  padding-left: 0;
}
div.latestCol p a {
  font-variant: small-caps;
}
div.tab_listings div.listing>ul>li {
  list-style-image: url("/images/diamond.gif")
} 
#publisher_list>ul>li {
  list-style-image: none;
} 
div.tab_listings div.listing>ul>li:hover {
  list-style-image: url("/images/diamond_highlight.gif")
} 
div.tab_listings div.listing ul li ul  {
  list-style: none;
} 
a.prevarrow img, a.nextarrow img {
  vertical-align: text-top;
}
div.access_icon {
  float: right;
}

.browse_list_view {
	float: right;
	position: absolute; 
	top: 8px; 
	right: 0;
}

p.expand img {
  margin: 2px 5px 0 0;
}
p.expand {
  cursor: pointer;
}
p.expand:hover {
  color: #004a75;
}
.current {
  color: #817452;
  font-size: 16px;
  line-height: 1.3;
     font-family: Georgia,Georgia,serif;
    font-weight: normal;	
 
}
#issues_list {
  margin-left: 40px;
  margin-top: 20px;
}
#issues_list li {
  list-style: none outside none;
}
#issues_list li span.access {
  margin-left: -37px;
  padding-right: 10px;
}
#issues_list li span.access img {
  vertical-align: -33%;
}
.rotating_book img, .rotating_journal img, .rotating_recent img {
  border: 2px solid #d5cdb8;
}
.journal_info .special-issue,
.journal_info .guest-editor,
.journal_info .dedication {
  margin-left: 45px;
}
/* .volume_issue {
  float: left; 
  margin: 18px 10px 10px 0;
}

.available_issues{ 
  list-style-type: none;
  padding: 0;
  margin:0;
}
.ad{
  margin-right: 10px;
  padding-bottom: 5px;
  text-align: center;
}
*/
.journal_title{font-size: 14px; color: #817452; padding: 0; margin: 0 0 0 10px;}
.vol_iss{font-size: 13px; color: #817452; padding: 0; margin: 0 0 0 10px;}
.format{float: right; clear: right;}


 
/*left nav*/

#about-left-nav { 
	margin-top: 14px;
}

#about-left-nav h2 {
	background-color: #817452;
	border: none;
	width: 217px;
	color: #fff;
	font: normal 800 1em Georgia, serif;
	margin: 0 0 1px 0;
	padding: 4px 8px 4px 17px;
	border-top-left-radius: 3px;
	-moz-border-radius-topleft: 3px; /* Firefox 3.6 and earlier*/
	border-top-right-radius: 3px;
	-moz-border-radius-topright: 3px; /* Firefox 3.6 and earlier*/
}

#about-left-nav ul {
	margin: 0;
	padding: 0;
}

#about-left-nav ul li {
	display: block;
	margin: 0 0 1px 0;
	padding: 0;
	width: 240px;
	background-color: #e8e5de;
	border-left: 1px solid #d2c8af;
	border-bottom: 1px solid #beb499;
	border-right: 1px solid #d2c8af;
	font: normal .7em Arial, Verdana, Helvetica, sans-serif;
}

#about-left-nav ul li a {
	padding: 4px 10px 4px 17px;
	color: #333;
	display: block;
}

#about-left-nav ul li a:hover { 
	background: #D3CDC6 7px 7px no-repeat url("/images/diamond_highlight_matte.gif");
	text-decoration: none;
	padding: 4px 10px 4px 17px;
	margin: 0;
}

#about-left-nav ul li.about-left-subnav {
	background-color: #C9C4B5;
	padding-left: 13px;
	width:227px;
}

#about-left-nav ul li.about-left-subnav a {
	padding: 4px 8px 4px 17px;
}

#about-left-nav ul li.about-left-subnav a:hover {
    background: url("/images/diamond_highlight_matte.gif") no-repeat scroll 7px 7px #BAAD96;
    margin: 0 0 0 -13px;
    padding: 4px 10px 4px 30px;
    text-decoration: none;
}

#about-left-nav ul span.pdf-icon {
    background: url("/images/pdf-icon.gif") no-repeat;
    width: 10px;
    height: 10px;
    padding-left: 10px;
    margin-left:3px
}



/*
#full_access_gif {
    height               : 23px;
    width                : 23px;
    background-position  : -0px -0px;
 }

 #book_icon_gif {
    height               : 21px;
    width                : 61px;
    background-position  : -23px -0px;
 }

 #browse_all_gif {
    height               : 26px;
    width                : 116px;
    background-position  : -84px -0px;
 }

 #free_access_gif {
    height               : 23px;
    width                : 23px;
    background-position  : -200px -0px;
 }

 #browse_gif {         
    height               : 30px;
    width                : 111px;
    background-position  : -223px -0px;
 }

 #facebook_gif {   
    height               : 32px;
    width                : 35px;
    background-position  : -334px -0px;
 }

 #journal_icon_gif {
    height               : 21px;
    width                : 78px;
    background-position  : -369px -0px;
 }

#search_go_gif {
    height               : 29px;
    width                : 29px;
    background-position  : -447px -0px;
 }

 #no_access_gif {
    height               : 23px;
    width                : 22px;
    background-position  : -476px -0px;
 }

 #twitter_gif {
    height               : 32px;
    width                : 35px;
    background-position  : -498px -0px;
 }

 #open_access_gif {
    height               : 23px;
    width                : 23px;
    background-position  : -533px -0px;
 }
*/
#article #article-title, #article .article-title, #preprint_line  { /* article renders as id, _box renders as class */
  padding: 0px 0px 5px 0px;
  color: #4c3d16;
  font-size: 24px;
  margin: 0;
  font-weight: normal;
  border-bottom: none;
}
#article #subtitle, #article .subtitle {
  margin-left: 40px;
  font-family: Arial,Arial,Helvetica,sans-serif;
  font-size: 20px;
  padding: 0 0 .5em 0;
  font-weight: normal;
}
#article .contrib {
  margin-left: 40px;
  /*4/6 STA*/
  /*padding-bottom: 7px;
  border-bottom: #e8e7e4 1px solid;*/
}


/* ===== Modifiers ====== */

.clearBoth { clear: both; }


/*login box styles */

form ul {
	list-style: none;
	margin:0;
	padding:0 0 1em 0;
}

label.label_block {
	display: block;
	font-size: 14px;
}

#login-box-container {
	width:70%; 
	min-width: 600px;
	background: none repeat scroll 0 0 #F5F5E9; 
	border-top:none; 
	border-right: 1px solid #817452; border-radius: 10px 10px 10px 10px; border-bottom: 1px solid #817452; border-radius: 10px 10px 10px 10px; border-left: 1px solid #817452; border-radius: 10px 10px 10px 10px; 
	font-weight: normal; 
	margin:10px auto;
	position: relative;
	z-index: 200000;
	color: #4C3D16;
	clear: both;
}

.content-full #login-box-container {
  z-index: 0;
}
#login-box-header p {
  background: #817452 url('/images/arrow_down.gif') no-repeat 98% 45%;
}
#login-box-header p.open {
  background: #817452 url('/images/arrow_closed.gif') no-repeat 98% 45%;
}

#login-box-header, #modal-login-box-header {
	background-color: #817452; 
	padding:0 10px 6px 10px; 
	border-top: 1px solid #817452; border-radius: 10px 10px 0 0;
	border-bottom: 4px solid #C9C4B5;
}
#login-box-header p, #modal-login-box-header p {
	margin:5px 0; 
	padding:0; 
	color:white;
}
#login-box-header p {
	margin:5px 0; 
	padding:0; 
	color:white;
}

#athens-head, #shibboleth-head, #muse-head {
	background-color: #F5F5E9; 
	padding:0 10px; 
	border-bottom:4px solid #C9C4B5;
}

#login-box-container ul {
	padding-bottom: 0;
	padding-left: 9px;
}

#login-box-container select{
	width: 96%;
	margin-left: 8px; 
}

#login-box-container p {
	font-size: 12px;
}

#athens-head p {
	padding: 0 10px;
}

#login-box-container label.label_block {
	font-size: 12px;
}

.login-box-divider {
	height: 4px;
	background-color: #C9C4B5;
	clear: left;
}

#athens-box {
	min-width: 140px; 
	width: 28%;
	float:left; 
	padding:0;
	margin: 0;
}

#athens-box p {
	padding:0 8px 10px 8px;
}

#shibboleth-container {
	width: 50%; 
	float:left; 
	padding: 0; 
	margin: 0;
}
	
#shibboleth-box {
	margin: 0;
	padding: 0; 
	float: left;
	border-left: 1px solid #C9C4B5; 
	border-right: 1px solid #C9C4B5; 
	height: 175px;
	width: 100%;
}

#shibboleth-box input{
	margin-left: 9px; 
}

#shibboleth-box p {
	padding: 0 8px 10px 8px;
}

#muse-box {
	min-width: 140px; 
	width: 50%;
	float:left; 
	padding: 0;
	margin: 0;
}

#muse-box p {
	padding: 0 0px 10px 8px;
}

.login-button {
	margin: 20px auto 5px auto; 
	text-align: center; 
	padding: 0;  
}

.login-button a {
	background: #f07f12 bottom left repeat-x url("/images/feedback-bg.jpg"); 
	border: 2px solid #f8d6b6; 
	margin: 0 auto; 
	text-align: center; 
	padding: 4px 6px; -moz-border-radius: 5px; /* Firefox 3.6 and earlier*/ border-radius: 5px; -moz-border-radius: 5px; /* Firefox 3.6 and earlier*/ -webkit-border-radius: 5px; /* Firefox 3.6 and earlier*/ box-shadow: 0 0 4px rgba(100, 100, 100, 1); -webkit-box-shadow: 0 0 4px rgba(100, 100, 100, 1); -moz-box-shadow: 0 0 4px rgba(100, 100, 100, 1); 
	font: normal 800 14px georgia, sans-serif; 
	clear:both; 
	color: #fff;
}

#login-submit-button {
	text-align: center;
	margin-top: 8px;
}

#login-submit-button button {
	background: #f07f12 bottom left repeat-x url("/images/feedback-bg.jpg"); 
	border: 2px solid #f8d6b6; 
	margin: 0 auto; 
	text-align: center; 
	padding: 4px 6px; -moz-border-radius: 5px; /* Firefox 3.6 and earlier*/ border-radius: 5px; -moz-border-radius: 5px; /* Firefox 3.6 and earlier*/ -webkit-border-radius: 5px; /* Firefox 3.6 and earlier*/ box-shadow: 0 0 4px rgba(100, 100, 100, 1); -webkit-box-shadow: 0 0 4px rgba(100, 100, 100, 1); -moz-box-shadow: 0 0 4px rgba(100, 100, 100, 1); 
	font: normal 800 14px georgia, sans-serif; 
	clear:both; 
	color: #fff;
}

.publisher_heading {
    padding: 10px 20px;
}

.publisher_heading .description {
    width: 95%;
}
.publisher_heading .search_text img {
	float: right;
	margin: 0 0 15px 15px;
}

/* search match title page styles */

#results_content {
	border: 1px solid #D0C7AF;
}

.title_match {
	color: #F5F5E9; 
	background-color:#817452;
	padding-left: 10px; 
	font-family: Georgia,Georgia,serif;
	padding-top: 3px;
	padding-bottom: 3px;
}

#title_access_icon {
 	float: left;
	height: 23px;
	margin-top: -4px;
}

.journal_info_result {
	padding: 10px 20px 15px;
	clear: left;
	height: 20px;
	border-top: 3px double #EBEBEB;
}

.journal_info_result_first {
	border-top: none;
}

.journal_info_result h1 {
	font-size: 18px;
	float: left;
}

#showmore {
	float: right;
}

#showmore-box {
	display:none;
}

/*citation export */


.citation_status{
	font-size:10px; 
	padding-left: 30px; 
	padding-top:3px; 
}
.citation_delete{
	float:right; 
	font-size: 10px;
	width: 60px;
	margin: -13px 0 0 0px; 
}
.info_citaiton{
	width: 80%; /* because result cluster had padding for access icon */
}
#citation_export fieldset, #citation_email fieldset{ 
	border: 3px double #EBEBEB; padding: 0 5px;margin: 0;
}
#citation_export legend, #citation_email legend {
	color: #4C3D16; 
	font-family: Georgia,Georgia,serif; 
	font-size: 16px; 
	font-weight: normal;
}
#refworks_export fieldset, #save_form fieldset, #endnote_export fieldset, #print_form fieldset{ 
	min-height: 88px;
}
#citation_email fieldset{ 
	min-height: 183px;
}
#citation_email, #citation_export{ 
	margin-bottom: 10px;
}
#citation_export label, #citation_email label, .result_cluster_list label {
	padding-left: 0px; 
	display: block; 
	text-align: left; 
	font-size: 13px;
}
#citation_export {
	float: left;
	width:60%;
}

#refworks_export,#endnote_export  {
	float: left; 
	width: 30%;
	min-width: 130px;
}
#endnote_export fieldset {
	min-width: 130px;
}
.format_type{
	white-space:nowrap;	
}
#save_form, #print_form  {
	float: left; 
	width: 63%;
	margin: 0 0 0px 20px;
}
.export_form_divider_small {
	width: 22%; float: left;
}
.export_form_divider {
	width: 44%;
	float: left;
	white-space:nowrap;
}
#citation_email {
	float: right;
	width:39%;
}
.warning {
	color: red;
	padding-left: 0px;
	font-size: 13px;
}
.success {
	font-weight: bold;
	padding-left: 0px;
	font-size: 13px;
}
.citation_button {  background: url("/images/orange-btn.jpg") repeat-x scroll left bottom #F07F12;
    border: 2px solid #F8D6B6;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 3px #646464;
    color: #FFFFFF;
    font: 800 12px Arial,sans-serif;
    margin: 0 auto;
    padding: 4px 2px;
    text-align: center;
   
 }
*:first-child+html .citation_button { width: 100%;}
.export_button{
	margin-top: 5px;
}
.print_button, .copy_button{
 	float:right;
}
.email_button{
	margin-top: 5%;
}  
/* summary page pdf image */
 
.summary_pdf{float: right; margin:auto; cursor: pointer;}
.summary_pdfimg{    box-shadow: 0 0 5px #D0C7AF;}  
.summary_pdfcaption {
    font-style: italic;
    line-height: 1.5em;
    text-align: center;
 	border: 1px solid #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 5px #D0C7AF;}  

/*alphabet small for browse view page */
ul.alphabet-small {
  font-family: Arial,Arial,Helvetica,sans-serif;
  font-size: 13px;
  list-style-type: none;
  text-align: center;
  padding: 4px 4px;
}
ul.alphabet-small li {
  display: inline;
}
ul.alphabet-small li a {
  margin: 8px .8%; 
  color: white;
}

ul.alphabet-small li:hover {
  background-color: #8DA9C1;
}

/*javascript form validation*/
.error_box {
    background: none repeat scroll 0 0 #FAD3C4;
    border: 1px solid #A75B4E;
    border-radius: 5px 5px 5px 5px;
    color: #444444;
    display: none;
    font-size: 13px;
    margin: 0 0 15px;
    padding: 8px;
    width: 672px;
}
.success_box {
    background: none repeat scroll 0 0 #E2F1BB;
    border: 1px solid #598800;
    border-radius: 5px 5px 5px 5px;
    color: #000000;
    display: none;
    font-size: 13px;
    margin: 0 0 15px;
    padding: 8px;
    width: 672px;
}





/* the light qtip that is hover */
.light-qtip-textcontent  {
	padding: 3px 15px;
	background-color: #F6F6F1;
	-moz-border-radius: 15px 15px 15px 15px;
	-webkit-border-radius: 15px 15px 15px 15px;
	border-radius: 15px 15px 15px 15px;
	border: 1px solid #D2C6B5;
	-webkit-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
	box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
}
.light-qtip-textcontent h1 {
	padding-top: 0;
	margin-top: 5px;
	padding-bottom: 10px;
    border-bottom: 1px dotted #000;  
    line-height:1.2;
}
.qtip .light-qtip-textcontent p {
	font-size: 12px;  
} 
.light-qtip{
	-moz-border-radius: 20px 20px 20px 20px;
	-webkit-border-radius: 40px 40px 40px 40px;
	border-radius: 20px 20px 20px 20px;
	-webkit-box-shadow: 10px 10px 30px 10px rgba(0, 0, 0, 0.45);
	-moz-box-shadow: 10px 10px 30px 10px rgba(0, 0, 0, 0.45);
	box-shadow: 10px 10px 30px 10px rgba(0, 0, 0, 0.45); 
}
.light-qtip .ui-tooltip-content, .light-qtip .qtip-content{
 	padding: 8px;
	background-color: #fff !important;
	border-color: #D2C6B5 !important;
    color: #41413f;
	-moz-border-radius: 20px 20px 20px 20px;
	-webkit-border-radius: 40px 40px 40px 40px;
	border-radius: 20px 20px 20px 20px;
}

.info{ margin-left: 145px;}


/*search history */
.history_result .history_search_term{font-size: 16px; font-weight: bold;    padding: 0 5px;}
.history_result .history_type{font-weight: bold;}
.history_result .history_searchable_content{font-weight: bold;}
.history_result .history_num_results{font-style: italic;}
.history_result .history_edit_search{margin-left: 2.9em; margin-bottom: 1em; }
.history_result .history_edit_search a{text-decoration: underline; padding: 0 5px;}
.history_result{border-bottom: 3px double #EBEBEB;}
.history_result label{margin-left: 0px;}


/*two column list*/

.two-column-list {
	float: left;
	width: 32%;
}

.two-column-list ul {
	padding-left:0;
}

.two-column-list ul li {
	list-style: none;
}

.two-column-list ul li { background: #efefef; }
.two-column-list ul li:nth-child(odd) { background: #fff; }

/* added for the abstract on summary page lists, to suppress like the article does for now * NASTY */
.abstract ul{list-style-type: none;}

.searchProgress_opacity {
    filter: alpha(opacity=30); /* internet explorer */
    opacity: 0.3;           /* fx, safari, opera, chrome */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=30)"; /*IE8*/
}


/*reference content */
#reference_content {
	padding: 0 1em;
}

/*eliot*/

#eliot_header {
	width: 570px;
	padding: 10px 0;
}
#eliot_header img {
	float: right;
	padding: 10px 0 0 5px;

}
#eliot_header p {
	font-family: georgia;
}
#eliot_header #eliot_tagline {
	font-size: 24px;
	color: #004670;
	border-bottom: 1px solid #e5e5e5;
	font-family: georgia;
}

#eliot_volumes {
	float: left;
	height: 270px;
	border-bottom: 1px solid #e5e5e5;
}

.eliot_vol {
	float: left;
	width: 150px;
	height: 270px;
}

.eliot_text {
	padding: 10px 10px;
}


#eliot_vol_1 {
	display: block;
	width: 150px;
	height: 180px;
	background: url("/about_files/uploaded/volume_1_overlay.gif") top;
	text-indent: -99999px;
}
#eliot_vol_1:hover {
	background-position: bottom;
}
#eliot_vol_2 {
	display: block;
	width: 150px;
	height: 180px;
	background: url("/about_files/uploaded/volume_2_overlay.gif") top;
	text-indent: -99999px;
}
#eliot_vol_2:hover {
	background-position: bottom;
}
#eliot_vol_3 {
	display: block;
	width: 150px;
	height: 180px;
	background: url("/about_files/uploaded/volume_3_overlay.gif") top;
	text-indent: -99999px;
}
#eliot_vol_3:hover {
	background-position: bottom;
}

#eliot_vol_4 {
	display: block;
	width: 150px;
	height: 180px;
	background: url("/about_files/uploaded/volume_4_overlay.gif") top;
	text-indent: -99999px;
}
#eliot_vol_4:hover {
	background-position: bottom;
}

#eliot_vol_5 {
	display: block;
	width: 150px;
	height: 180px;
	background: url("/about_files/uploaded/volume_5_overlay.gif") top;
	text-indent: -99999px;
}
#eliot_vol_5:hover {
	background-position: bottom;
}

#eliot_vol_6 {
	display: block;
	width: 150px;
	height: 180px;
	background: url("/about_files/uploaded/volume_6_overlay.gif") top;
	text-indent: -99999px;
}
#eliot_vol_6:hover {
	background-position: bottom;
}

#eliot_vol_7 {
	display: block;
	width: 150px;
	height: 180px;
	background: url("/about_files/uploaded/volume_7_overlay.gif") top;
	text-indent: -99999px;
}
#eliot_vol_7:hover {
	background-position: bottom;
}

#eliot_vol_8 {
	display: block;
	width: 150px;
	height: 180px;
	background: url("/about_files/uploaded/volume_8_overlay.gif") top;
	text-indent: -99999px;
}
#eliot_vol_8:hover {
	background-position: bottom;
}

.eliot_vol p {
	text-align: center;
}

#eliot_press_logo {
	float: right;
	width: 192px;
}

#eliot_press_logo img {
	vertical-align:bottom;
    border:0;
}

/*search results edits*/
.content_dropdown {
	width: 107px;
}
.content_dropdownPending {
    color: #777777;
    font-style: italic;
    width: 107px;
}

.booleanselect {
	width: 64px;
}
.booleanselectPending {
    color: #777777;
    font-style: italic;
    width: 64px;
}

.searchbox {
	width: 45%;
}
.searchboxPending {
    color: #777777;
    font-style: italic;
	width: 45%;
}
.searchInstructionsClass{
	border-color: #D2C6B5 #D2C6B5 #D2C6B5 #D2C6B5;
    border-image: none;
    border-style: solid solid solid solid;
    border-width: 1px 1px 1px 1px;
	padding: 0 10px;
	margin-top: 10px;
}

.search_help {
	float: right;
	margin: 0;
	padding: 0;
}

/*accessibility nav tags*/
a#skip {
	color:#ffffff;
	background-color:#004670;
	font-size:12px;
	position:absolute;
	top:0;
	left:-500px;
}

a#skip:focus {
	left:0;
}
ul.select_tabs > li a:focus, div.navigation_tab_bar ul.tabs > li a:focus {
        text-decoration:underline;
}

small.caps {
	font-variant: small-caps;
	font-size: 105%
}



/*  new  */

.bold {
	font-weight:bold;
}

italic {
	font-style:italic;
}

.cc-image {
	text-align:center;
}

.cc-image img {
	border-width:0;
}

.cc-text {
	border-bottom:2px solid #d0c7af;
	padding:5px 13px;
	margin-bottom:10px;
	text-align:center;
	font-size:13px;
	color:#6e6343;
}
#preprint_line {
        color:#fcb133;
        margin:0px 0px 20px 10px;
}
.preprint_flag {
        color:#fcb133;
	margin: 0;
	padding: 0;
}
.content .designation {
  max-width:20%;
}
.pg_run, .pg_doi, .doi {
  display:inline;
}
.promo_right * {
  width:100% !important;
}
.promo_3 * {
  max-width:100% !important;
}
.reflinks {
  display:inline;
  padding-left:5px;
}
.reflinks a {
  text-decoration:underline;
  font-size:11px;
}
.reflinks a:hover {
  color:#587baa;
}
.ref ol.notes {
	padding-left:0;
}