@charset "utf-8";

#toolbar, #breadcrumb, #sidebar1, #sidebar2, 
.search, #sliver, #footer, #mirror1 {
	display: none;
}

.thrColHybHdr #container,
.thrColHybHdr #page,
.thrColHybHdr #mainArticle,
.thrColHybHdr #main {
	border: 0;
	margin: 0;
	padding: 0;
	text-align: left;
	float: none !important;
}
  
div#mainArticle, div#article, div#body {
	border: 0;
}

div#body {
	border-top: 1px solid #666;
	border-bottom: 1px solid #666;
}

p {
	font-family: serif;
	line-height: 15pt;
	font-size: 12pt;
}

a, a:link, a:visited {
	color: #000;
	background: transparent;
	font-weight: bold;
	text-decoration: underline;
	}
