/* Print Styles invoked by browser print or by clicking "Print" from site Tools */

body {
	height: 100%;
	background:#FFF;
	margin:15px;
	text-align:left;
	font-family:"Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, Arial, Helvetica, sans-serif;
	font-size:78%;
	color:#000;
	overflow:visible;
}

body * { color:#000!important; }

body * a { color:#000!important; }
	a img { border:none; }

div { 
	border:1px solid #FFF;
	border-width:1px 0 0;
	}

div#storyBody p {
  font-size:12pt;
}
#Permabar,#ToolBarHorizontal,.byline span.twitter,#TallBar,#ArticleToolsHorizontal,#PostCommentBottomText,.more {display:none;}
div#gridHeader {
	padding:0 0 10px;
	margin-bottom:10px;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:2em;
	letter-spacing:-1px;
	overflow:visible;
	height: 26px;
}

div#gridHeader h1, 
div#gridHeader h1 a {
	background: none;
	width: auto;
	height:auto; 
	padding:0;
	margin:0;
	text-indent: 0;
	color: #000;
	text-decoration: none;
	font-size: 30px;
}
	div#gridHeader h1 a em { font-style: normal; }

div#gridMain,
div#gridHeader,
div#HeaderLogo {
  background: transparent !important;
}

div#gridMainColumn {
  width: 100%;
}

.headline {
	margin: 0;
}

div.searchedFor { 
	background: #EEE;
	font-weight: bold; 
	font-size: 14px;
}

div.MainSidebar { background-image: none; }
div.MainSidebar h3 {
	background: #CED2D5;
	text-align: left;
}

div.banner_ad,
div.PencilLine,
div#gridHeader div#SearchLogin,
div#gridHeader div#NavigationHorizontal,
div#gridAdSidebar, 
div#gridFooter,
.inlineEdit,
.magnum,
.tools,
.tinyTools, 
.AdSidebar,
.pagination, 
form#commentForm, 
h1#ProfileHeader, 
body#EventSearch div.MainSidebar,
body#DiningSearch div.MainSidebar,
body#ArticleArchives div.MainSidebar,
body#Location div.MainSidebar,
body#Search div.MainSidebar, 
body#MovieTimes div.MainSidebar,
body#Film div.MainSidebar, 
body#LocationEvents div.MainSidebar, 
body#Event div.MainSidebar, 
body#Map div.MainSidebar,
body#IssueArchives div.MainSidebar, 
body#LocationSearch div.MainSidebar, 
a.headerLandingSearchLink,
div#gridRightColumn,
div#Comments,
div#StoryTag,
div#ArchiveLink,
div#EmbeddedSidebar
{
	display: none;
}

body#ArticleArchives div#gridMainColumn,
div#searchResults {
	width: 100%;
}