

</span>
</div>
<!--  end comment  -->
<br> 


<!--  start comment  -->
<div id="201901278005" class="kombx"> 
<span class="placorpo"> <span class="fordata">
 2019 01 27 - January 27, 2019  </span>
<div class="indent20gray">  
<p>"(ISS), cosmonaut Oleg Kononenko completed an experiment with the machine in the Russian sector of the station, successfully producing human cartilage tissue <span class="comgray">(staple practice)</span> and <span class="stress">a rodent thyroid gland</a>.  <span class="comgray">("normal" or microcell?)</span>. <a href="https://hardware.slashdot.org/story/19/01/24/1849216/new-3d-printing-technique-is-100-times-faster-than-standard-3d-printers" target="_blank">No <i>reelation</i></a>.  
  </p>
<p>Frankenstation.  
  </p>
  </div>
<p>  
<a class="lslnk" target="_blank" href="http://www.technovelgy.com/ct/Science-Fiction-News.asp?NewsNum=5572">http://www.technovelgy.com/ct/Science-Fiction-News.asp?NewsNum=5572</a>
<br>  </p>
<hr class="hrbar"><br>  
<div class="indent20gray">  
<p>Shrimp Actually Made Of Algae Is A New Wave Food  
  </p>
  </div>
<p>  
<a class="lslnk" target="_blank" href="http://www.technovelgy.com/ct/Science-Fiction-News.asp?NewsNum=5576">http://www.technovelgy.com/ct/Science-Fiction-News.asp?NewsNum=5576</a>
  </p>
<p>  
<a class="lslnk" target="_blank" href="https://www.youtube.com/watch?v=KTAg936uoic">https://www.youtube.com/watch?v=KTAg936uoic</a>
<br>  </p>
<hr class="hrbar"><br>  
<div class="indent20gray">  
<p>Florida’s Solution To Toxic Algae Blooms? Ease The Rules on Water Pollution - The Ring Of Fire  
  </p>
<p>  
<a class="lslnk" target="_blank" href="https://www.youtube.com/watch?v=WqmDAUjWw68">https://www.youtube.com/watch?v=WqmDAUjWw68</a>
  </p>

</span>
</div>
<!--  end comment  -->
<br> 


<!--  start comment  -->
<div id="201901275366" class="kombx"> 
<span class="placorpo"> <span class="fordata">
 2019 01 27 - January 27, 2019  </span>
<p>"Useful value". A useful concept. Very classy. Rodeo remarks in the corral will be remembered. Ever useful. Above, as below? "The bellows blow"! (What?)  
  </p>
<p>Life in numbers, or numbers in life? Or under them? As their servant or as their master. No other choices? Dichotomic worlds are somewhat schizoid, by polarity alone. Ruled by extremes. Monotonic worlds are necesssarily maniacal. Polissemic, graded, worlds are that one factor closer to functionality over varying time and conditions. Nature is complex yet integrated. Chaos is the opposite.  
  </p>
<p>Numbers are a comparatively minuscule portion of life and existence, however much that which they allude to helps compose it. Value as mere numbers or chits is a very meager concept. Life reduced to numbers disconsiders an infinity of intangible qualities and powers integral or attendant to humanity and to life. To humanity's and every individual's role as an author and agent of existence. And is usually directed at those the speakers would ultimately have deprived of those qualities, conditions, effects, and capacity.  
  </p>

</span>
</div>
<!--  end comment  -->
<br> 


<!--  start comment  -->
<div id="201901272714" class="kombx"> 
<span class="placorpo"> <span class="fordata">
 2019 01 27 - January 27, 2019  </span>
he women of India abstractedly constitute about 1/7th of the wolrd's women. That's equivalent to 14.2% of them. If it were equally distributed, there'd be nothing spectacular in their being pointed out as holding 11% of the world's (physical, certainly) gold. How would it compare to, say, cellphones? Or comparable (usually productive, value-added) items.
  </p>
<p>How could bitcoin's value become or be made generational? Ôo  
  </p>

</span>
</div>
<!--  end comment  -->
<br> 


<!--  start comment  -->
<div id="201901271452" class="kombx"> 
<span class="placorpo"> <span class="fordata">
 2019 01 27 - January 27, 2019  </span>
<p>Mucro$zupth strikes again. And takes out the most complete and traditional open databases in the field. That served as a backdrop and as moral support for a whole sector of software and computing development and practice.  
  </p>
<p>Bit by bit. Piece by piece. They have been destroying open source and the internet by buying it up. All of it. No matter how big and widespread. And then choke it by pulling it into their corrupt entrails. They make Tuolásfemo look like rank amateurs regarding evil. And have already enveloped most of the open code in the world. Including that for bitcoin. Like an evil socio-economic kaiju, a giant boa constrictor blob.  
  </p>
<p>Meanwhile. Game developers try to unionize in defense of their lives. Of not being literally killed and crippled by their jobs. Very ominous, if they get serious about it.  
  </p>
<p>Exactly when goo-ghoul tries to get government to quash employee activism and lines of communication. And chromium "suddenly" breaks adblockers and anything that bothers it.  
  </p>
<p>And m$xijß decides to bundle its own private newswall in its cellphone OS. Unactivated. Hypothetically. Not an ET? Practically the same week that Chinese Bing suffers a widespread blackout. Snaggles. <a target="_blank" href="https://science.slashdot.org/story/19/01/24/0217220/program-allows-ordinary-digital-camera-to-see-around-corners" >Turkey junction.</a>  
  </p>
<p>Nothing to do with bitcoin mining rigs in China getting hit by ransomware. Certainly. Coinkycidences.  
  </p>
<p>And congresscritters make noises about the hassle of having to go all the way to Washington to vote. Government shutdown and all. "Your paranoia may vary". Imagine forcing all those lobbyists to travel all over the flyover. How inefficient... :> "<a href="https://factordaily.com/richard-stallman-india/" target="_blank">Stalin's Dream</a>". Strawberry turkeys. <a target="_blank" href="https://science.slashdot.org/story/19/01/24/0217220/program-allows-ordinary-digital-camera-to-see-around-corners" >Turkey junction.</a>  
  </p>
<p>And high social media CEOs start pushing for biometric shackles on everything and everyone as "good for them" and a "may defeat bots". Precisely when no trimester goes by without yet another AI soundly besting human champions at more and more games and competitions.  
  </p>

</span>
</div>
<!--  end comment  -->
<br> 


<!--  start comment  -->
<div id="201901273027" class="kombx"> 
<span class="placorpo"> <span class="fordata">
 2019 01 27 - January 27, 2019  </span>
<p><a style="text-decoration: none; color #f20a0c"; text-style: italic; text-size: larger; " target="_blank" href="https://www.theregister.co.uk/2019/01/22/france_cyber_war/">Rainbow Warrior?</a><span style="color #0720007";">Ôo</span>  
  </p>
<p>And high winds knock over X's gleaming new Starship. That dredges up a few notions.  
  </p>
<p>And a getaway plan? <a href="http://nymag.com/intelligencer/2019/01/trump-offered-nasa-unlimited-funding-to-go-to-mars-by-2020.html" target="_blank">Walls around mars?</a> Those canals, you know... :)  
  </p>

</span>
</div>
<!--  end comment  -->
<br> 


<!--  start comment  -->
<div id="201901276327" class="kombx"> 
<span class="placorpo"> <span class="fordata">
 2019 01 27 - January 27, 2019  </span>
<div class="indent20gray">  
<p>The Chinese government has developed a mobile app that tells users if they are near someone who is in debt. The app, called a "map of deadbeat debtors," flashes when the user is within 500 meters of a debtor and displays that person's exact location.  
  </p>
<p>Once a user is alerted that they are close to a debtor, the user can then view their personal information. This will reveal their name, national ID number, and why they were added to the debtor list. .  
<p>  
he debtor can then be publicly...
  </p>
  </div>
<p>  
<a class="lslnk" target="_blank" href="https://www.techspot.com/news/78405-china-creates-app-tell-you-if-you-near.html">https://www.techspot.com/news/78405-china-creates-app-tell-you-if-you-near.html</a>
  </p>
<hr class="hrbar">  
<hr class="hrbar">  
<p>Completely different?  
<div class="indent20grayi">  
<p>[M]illions of documents were found leaking after an exposed ... server was found without a password. The documents contained highly sensitive financial data on tens of thousands of individuals who took out loans or mortgages over the past decade with U.S. financial institutions.  
  </p>
<p>...it was possible to discern names, addresses, birth dates, Social Security numbers and other private financial data by anyone who knew where to find the server.  
  </p>
<a class="lslnk" target="_blank" href="https://techcrunch.com/2019/01/23/financial-files/">https://techcrunch.com/2019/01/23/financial-files/</a>
  </div>
<hr class="hrbar">  
<hr class="hrbar">  
<p>Or this.  
  </p>
<p class="indent20grayi">For years, it allowed for what it called "friendly fraud" because it feared implementing protections would harm revenue,  
  </p>
<p>  
<a class="lslnk" target="_blank" href="https://gizmodo.com/facebook-let-kids-rack-up-charges-on-parents-credit-car-1832053733">https://gizmodo.com/facebook-let-kids-rack-up-charges-on-parents-credit-car-1832053733</a>
  </p>
<p>  
<a class="lslnk" target="_blank" href="https://www.documentcloud.org/documents/5694635-Motion-for-Class-Assessment-Redacted.html">https://www.documentcloud.org/documents/5694635-Motion-for-Class-Assessment-Redacted.html</a>
  </p>
<hr class="hrbar">  
<hr class="hrbar">  
<p>Curiously  
  </p>
<p>And eughtiube no-more-porridge-for-you video restriction. Including a very strange no-more-small-d videos only slightly different from what you've seen - or chosen. Goodbye choice. That's a niche.  
  </p>
<hr class="hrbar">  
<hr class="hrbar">  
<p>STASI on steroids.  
<a class="lslnk" target="_blank" href="https://www.thestar.com/vancouver/2019/01/21/google-confirms-it-uses-dummy-phone-numbers-to-record-calls-with-local-services.html">https://www.thestar.com/vancouver/2019/01/21/google-confirms-it-uses-dummy-phone-numbers-to-record-calls-with-local-services.html</a>
  </p>
<p>Officially through the looking glass. Doing over 60. And with the tablecloth tucked into the pants or shirt along with the napkin. Dragging the custard pie cart. No now.  
  </p>
<hr class="hrbar">  
<hr class="hrbar">  
<p>The right issues.  
  </p>
<p>  
<a class="lslnk" target="_blank" href="https://www.chicagotribune.com/business/ct-biz-six-flags-biometrics-lawsuit-20190125-story.html">https://www.chicagotribune.com/business/ct-biz-six-flags-biometrics-lawsuit-20190125-story.html</a>
  </p>
<p class="indent20grayi">... protecting that type of information is critical because, unlike a credit card or bank account number, it's permanent.  
  </p>
<p>Until, unless...  
  </p>
<hr class="hrbar">  
<hr class="hrbar">  
<p>Edge surveillance.  
  </p>
<p>  
<a class="lslnk" target="_blank" href="https://www.wsj.com/articles/beer-maker-uses-machine-learning-to-keep-beverages-flowing-11548239401">https://www.wsj.com/articles/beer-maker-uses-machine-learning-to-keep-beverages-flowing-11548239401</a>
  </p>

</span>
</div>
<!--  end comment  -->
<br> 


<!--  start comment  -->
<div id="201901277057" class="kombx"> 
<span class="placorpo"> <span class="fordata">
 2019 01 27 - January 27, 2019  </span>
<h5>Irrefutable. :s  </h5>
<p>The CIA openly bragged in the Washington Post, that they meddled with the Russian election to get fat dancing bear Yeltsin elected.  
  </p>
<p>And Yeltsin put Putin in power.  
  </p>
<p>So if Putin put Trump in power ... I'll let you figure out the rest. ;)  
  </p>
<p>  
<a class="lslnk" target="_blank" href="https://politics.slashdot.org/comments.pl?sid=13292644&cid=58023206">https://politics.slashdot.org/comments.pl?sid=13292644&cid=58023206</a>
  </p>

</span>
</div>
<!--  end comment  -->
<br> 


<!--  start comment  -->
<div id="201901278956" class="kombx"> 
<span class="placorpo"> <span class="fordata">
 2019 01 27 - January 27, 2019  </span>








