

          <!--  start comment  -->
          <div id="201901315840" class="kombx"> 
          <span class="placorpo"> <span class="fordata">
           2019 01 31 - January 31, 2019  </span>
          <div class="indent20gray">  
          <p>Facebook to set up new election integrity centers in Dublin & Singapore  
            </p>
            </div>
          <p>They're targeting  integrity? Say what, "now", "again", "as usual", ... ?  
            </p>
          <hr class="hrbar">  
          <hr class="hrbar">  
          <p class="indent20grayi">According to a report from Reason magazine, Twitter users who comment the "learn to code" advice at journalists who just lost their jobs might be treated as "abusive behavior," which is a violation of ...  
            </p>
          <p>Journalists being one of their breadwinner sociometrics. Both ways. That fits the idea of a "safe space" being enforced. What exactly are they afraid of? Hurting journalists' tender feelings and easily bruised sensitivities, that they are famous for sporting as a class? Code what? Color code?  
            </p>
          <p>Worth a T-shirt. Cap. Mug. Great gift for frinds in journalism. Or in anything.  
            </p>
          <p>Was a time when similar attitudes countered needing to drive vehicles, for example. Or learning to read.  
            </p>
          <p>  

          </span>
          </div>
          <!--  end comment  -->
          <br> 


          <!--  start comment  -->
          <div id="201901317017" class="kombx"> 
          <span class="placorpo"> <span class="fordata">
           2019 01 31 - January 31, 2019  </span>
          <div class="indent20gray">  
          <p>"Antibiotic-resistant superbug genes found in the Arctic"  
            </p>
            </div>
          <p>?Everywhre from space stations to industrial farms or 'franchise farming' in general. Not to mention everything from shools to prisons. And everything in-between. With more borghian pan-chimeric exotica being spawned, released, and leaked like there's no tomorrow. And they point at the Arctic? Tell me it's code for something extremely prosaic, please. Who're they telling to "stay out of the water!"? In a b-movie announcer tone, probably.  
            </p>
          <p>Precisely when 40,000 year-old moss is falling out of ice caps on Baffin Island, due to warming unseen in an estimated 115,000 years. Meeting the newcomers on the planet. Including plastics, microplastics, pharma, and the panoply of petro-pharmachemicals of reductionist materialistic industrialism. And its post-industrial financial apocalyptic death cult.  
            </p>
          <p>Svalbard, eh?  
            </p>
          <hr class="hrbar">  
          <hr class="hrbar">  
          <p>Old news, aged, rebottled, rebooted. and then new again.  
            </p>
          <p class="indent20grayi">"Life finds a way: Microbes on ISS mutating to survive the void of space "  
            </p>
          <p>  
          <a class="lslnk" target="_blank" href="https://www.rt.com/news/448377-microbes-iss-mutating-survival/">https://www.rt.com/news/448377-microbes-iss-mutating-survival/</a>
            </p>
          <p>Can't mention Mir's "space fungus"? No reason not to. Arguably.  
            </p>
          <p>That old pseudo-causal chain-of-events very creatively connecting it, or something like it, and the general chronology of Kreuzfeld-Jacob and human spongiform ('sopongiform', Typo? ... sapongiform?), er,. 'spongiformia'. Imaginatively crossing Chilean fisheries, Euro-Mediterranean fish factories, and fertilizer and animal feed sold in Britain - notably to military mess suppliers. There are much more direct lines chains of events imaginable, with differing degrees of visibility.  
            </p>
          <p>Stellar reasooning, though. Probably useful someday. For something, somehow. What the thing is or will be, remains to be unearthed. In "the Arctic", maybe? Coincidentally, near Svalbard. "Because that's where the humans are". Or corporate humans, at least. Increasingly, a <span class="">lattu-sensu</span> category (neat, Typo.). Don't look at the other one. There's nothing there. Never was. Except for the pyramids and such. But those are everywhere. A pre-neolithic construction bubble, certainly. Or several of them. It's been over for ages. Nothing there. Ôo and again Ôo  
            </p>
          <p class="indent20grayi">"Don't let it bug you."  
            </p>

          </span>
          </div>
          <!--  end comment  -->
          <br> 


          <!--  start comment  -->
          <div id="201901318049" class="kombx"> 
          <span class="placorpo"> <span class="fordata">
           2019 01 31 - January 31, 2019  </span>
          <p>Sarc-asm.  
            </p>

          </span>
          </div>
          <!--  end comment  -->
          <br> 


          <!--  start comment  -->
          <div id="201901318659" class="kombx"> 
          <span class="placorpo"> <span class="fordata">
           2019 01 31 - January 31, 2019  </span>
          <p>A desperation for new gimmicks to boost tiring business models denotes that's it's that time of the Capitalist Cycle again.  
            </p>

          </span>
          </div>
          <!--  end comment  -->
          <br> 


          <!--  start comment  -->
          <div id="201901315649" class="kombx"> 
          <span class="placorpo"> <span class="fordata">
           2019 01 31 - January 31, 2019  </span>
          <div class="indent20gray">  
          <p>"U.S. prosecutors filed criminal charges against Huawei, China's largest smartphone maker, alleging it stole trade secrets from an American rival and committed bank fraud "  
            </p>
            </div>
          <div style="display: none;">   
          <ul>  
          <li> xFuvHdaQqWM            2:46 -  Venezuela President Maduro accuses US of leading a coup to force him from power  
          </li>  
          <li> VXo3iE-fB94           27:07 -  Is the US Orchestrating a coup in Venezuela?  
          </li>  
          <li> bkAUrirXD0c            5:36 -  Why Is The US Backing A Coup In Venezuela?  
          </li>  
          <li> gYh39NNzyQw            2:15 -  Venezuela in Turmoil: President Maduro says US is plotting a coup  
          </li>  
          <li> VMplqEpfGhs           24:26 -  Venezuela Propaganda Debunked - People Are Against Coup  
          </li>  
          <li> PKa6avj3V3o            3:13 -  Failed Coup in Venezuela, US involved?  
          </li>  
          <li> OYuMVfMO4nY           13:26 -  Venezuela coup attempt: Trump won’t rule out military response  
          </li>  
          <li> xrocpGbEfzM            4:32 -  UN session on Venezuela: Is the US organizing a coup d"etat? | DW News  
          </li>  
          <li> cymO3x5LigU           40:49 -  Attempted Coup in Venezuela with Abby Martin, Greg Wilpert, Paul Jay  
          </li>  
          <li> HJHy-BesnBI           17:56 -  Pompeo"s New Venezuela "Point Man" Is A Convicted War Criminal &amp; Was Involved In 2002 Venezuela Coup  
          </li>  
          <li> sbjBLEGKWuM           53:53 -  US tries "Chile 1973 style" coup on president Nicolás Maduro in Venezuela  
          </li>  
          <li> 27PpyWNy22c            0:52 -  Defiant Nicolas Maduro Declares: ‘We Will Defeat A Coup’ In Venezuela | NBC News  
          </li>  
          <li> LEODKbH9jvM            5:25 -  Venezuela cuts ties with US citing its support for "coup" attempt | Al Jazeera English  
          </li>  
          <li> bCJLL6SHst8           21:45 -  Breakdown: U.S. Backs Coup In Venezuela  
          </li>  
          <li>           21:04 -  WSJ Exposes That The US Planned &amp; Orchestrated The Current Venezuela Coup  
          </li>  
          <li> YJ7xzWumQTc           15:37 -  A Coup in Progress? Trump Moves to Oust Maduro &amp; Install Pro-U.S. Leader in Oil-Rich Venezuela  
          </li>  
          <li> w-IGjUuzpoA           26:39 -  As Predicted, US Staging a Coup in Venezuela Following Currency Change  
          </li>  
          <li> 0jNqLNT-fyE           12:20 -  Will there be a coup in Venezuela led by the U.S.?  (w/ Medea Benjamin)  
          </li>  
          <li> vnH_cV-FWOg           16:58 -  Former U.N. Expert: The U.S. Is Violating International Law by Attempting a Coup in Venezuela  
          </li>  
          </ul>  


          </span>
          </div>
          <!--  end comment  -->
          <br> 


          <!--  start comment  -->
          <div id="201901316719" class="kombx"> 
          <span class="placorpo"> <span class="fordata">
           2019 01 31 - January 31, 2019  </span>

          </span>
          </div>
          <!--  end comment  -->
          <br> 


          <!--  start comment  -->
          <div id="201901314289" class="kombx"> 
          <span class="placorpo"> <span class="fordata">
           2019 01 31 - January 31, 2019  </span>
          <h5>lee9:  </h5>
          <div class="indent20gray">  
          <p> 1,2 the daythereof. Smoke gets in our eye (Casalba, Bowgart, Satch). Pinmk glissandes. .  
          <p>Iball haemrrhages. Sneezes? Fits?  
            </p>
          <p>Where? Whey vey JJFlash. Dystopian dollar stoppian e-conomy. Distoppian priceism nightmare. J Mins, D Mins, ...  Starlings. Sparrows. Value reflects dystopianism price rogue banks massive fraud taxpayrs CB printing bailout overall means? "Well-being of society". "So shall unrest" ;p. Shell wells. Wel shells. And moderate rhymes. (Ricochet?)  
          32009 2ndbailout dystsys unfairly benefit system against everyone else all about this them getting free goods nickel and dim-ming to death.
          2Pgo'd.
            </p>
          <p>Why doesn't cash have to "be verified by a middleman"?  
          itcoiungets verified by the miners. And subverified by the double key encoding / decoding.
            </p>
          <p>The great wealth divergence. That's mathematical, kid! Negative, from the look of it. Life is a massive pyramis sheme? Corporations have more rights than people. Capital has more rights, more mobility, freer to move trhan people. AOC????? The cyberliterate. Cybercompetent. Cybersavvy. Hospital taxes. <a href="https://t.co/UL91VTJgXp" target="_blank">No taxation without representation?</a>. Government is the abuility / capacity / power to tax, to collect taxes - David Cay Johnston. Ergo, "they finally did it". To quote a near-penny-dreadful climax.  
            </p>
          <p>Single payer for monopolistic corporations. Government transfers. And then they go for the peasqants. Of course it's great. For them. At least the conservative middle class that always votes against public health and cheers and empowers the monopolies got their money's worth.  
          ow nice.
            </p>
          <p>Assymetry. Flawed information. Market prisons. Penned markets. Non-markets. Captured. Sequestered. Anticompetitive. Secret contracts. Shadow markets. Collusion and conspiracy. Star chamber markets. Secret markets.  
            </p>
          <p>Black-box societies.  
            </p>
          <p>That reminds me of something... Whatever could that be?  
            </p>
          <p>Algorithmis Democracy.  
            </p>
          <p>Also known as a Polis.  
            </p>
            </div>

          </span>
          </div>
          <!--  end comment  -->
          <br> 


          <!--  start comment  -->
          <div id="201901316208" class="kombx"> 
          <span class="placorpo"> <span class="fordata">
           2019 01 31 - January 31, 2019  </span>
          <p class="indent20grayi">People are stupid en masse.  
            </p>
          <p>Nope. But they certainly are powerful. And can use that to get information. And they are people. Not oxen. Nor buffaloes.  
            </p>
          <p> Individuals, on the other hand. Have o eke and scrape it out of existential subsistence. Unless they benefit from a huge "environmental" support and supply structure. Including that for information and knowledge.  
            </p>
          <p>Not a market. Though it can contain them as subsets. More or less encapsulated. With more or less capilarity. Networked or not in more complex or simple manners. Humans are bigger than that. And merge with their superstructures. And... so on.  
            </p>
          <p>  
            </p>

          </span>
          </div>
          <!--  end comment  -->
          <br> 


          <!--  start comment  -->
          <div id="201901315720" class="kombx"> 
          <span class="placorpo"> <span class="fordata">
           2019 01 31 - January 31, 2019  </span>
          <p> Flawed data sets. Enclosed. Disclosed. Secret data. Biased data. Blacklisted. Whitelisted. Redlined. Imprimatur'd.  
            </p>
          <div class="indent20gray">  
          <p> "Rogue algorithms."  
            </p>
          <p> "Racist algorithms".  
            </p>
            </div>
          <p>Practically all the rest is. (Even if "you can't say it's racist")  
            </p>
          <p>IBM And The Holocaust.  
            </p>
          <p>Laws, rules, regulations, detailed instructions, are algorithms. Or contain them.  
            </p>
          <p> They carry the sins of their makers. AS does any human construct. Large or small.  
            </p>

          </span>
          </div>
          <!--  end comment  -->
          <br> 


          <!--  start comment  -->
          <div id="20190131" class="kombx"> 
          <span class="placorpo"> <span class="fordata">
           2019 01 31 - January 31, 2019  </span>
          <p class="indent20grayi">The <i>memes</i> to a peaceful solution".  
            </p>
          <p>Lovely.  
            </p>

          </span>
          </div>
          <!--  end comment  -->
          <br> 


          <!--  start comment  -->
          <div id="201901310073" class="kombx"> 
          <span class="placorpo"> <span class="fordata">
           2019 01 31 - January 31, 2019  </span>
          <p>Cider.  
            </p>
          <p class="indent20grayi">A person familiar with the situation tells The Verge that early versions of Google Maps, Hangouts, Gmail, and other pre-release beta apps have stopped working today, alongside employee-only apps like a Gbus app for transportation and Google's internal cafe app.  
            </p>
          <div class="indent20grayi">  
          <p>The local government, which revised its ecommerce policies late December, prohibit Amazon and Flipkart from selling goods from companies in which they have a stake.  
            </p>
          <p>To bypass this restriction, both Amazon and Flipkart, which sold a majority stake to Walmart last year, have acquired stakes in some of the biggest third-party sellers in the country. For instance, Amazon owns stake in parent companies of Cloudtail India and Appario Retail, while Flipkart until recently controlled WS Retail, the largest seller on its platform. The local government's revised policies fixed that loophole.  
            </p>
            </div>
          <p>drips.  
            </p>
          <hr class="hrbar">  
          <hr class="hrbar">  
          <p class="indent20grayi">Prisons Across the US Are Quietly Building Databases of Incarcerated People's Voice Prints  
            </p>
          <div class="indent20gray">  
          <p>  
          <a class="lslnk" target="_blank" href="https://theintercept.com/2019/01/30/prison-voice-prints-databases-securus/">https://theintercept.com/2019/01/30/prison-voice-prints-databases-securus/</a>
          <a class="lslnk" target="_blank" href="https://www.cbsnews.com/news/nest-camera-hacked-hacker-spoke-to-baby-hurled-obscenities-at-couple-using-nest-camera-dad-says/">https://www.cbsnews.com/news/nest-camera-hacked-hacker-spoke-to-baby-hurled-obscenities-at-couple-using-nest-camera-dad-says/</a>
          <a class="lslnk" target="_blank" href="https://motherboard.vice.com/en_us/article/mbzvxv/criminals-hackers-ss7-uk-banks-metro-bank">https://motherboard.vice.com/en_us/article/mbzvxv/criminals-hackers-ss7-uk-banks-metro-bank</a>
          <a class="lslnk" target="_blank" href="https://www.zdnet.com/article/new-security-flaw-impacts-5g-4g-and-3g-telephony-protocols/">https://www.zdnet.com/article/new-security-flaw-impacts-5g-4g-and-3g-telephony-protocols/</a>
            </p>
          <p>Hoostage clients. Unsafe at any bandwidth.  
            </p>

          </span>
          </div>
          <!--  end comment  -->
          <br> 


          <!--  start comment  -->
          <div id="201901312739" class="kombx"> 
          <span class="placorpo"> <span class="fordata">
           2019 01 31 - January 31, 2019  </span>
          <div class="indent20gray">  
          <p>Black-box societies.  
            </p>
            </div>
          <p>That eminds me of something.  
            </p>
          <p>Algorithmic Democracy.  
            </p>
          <p>Algorithmic black holes.  
            </p>
          <p>Obsessive Algorithms. The necessary "Cease-And-Desist" or ""Restriction Order" culture for algorithms is busy being born.  
            </p>

          </span>
          </div>
          <!--  end comment  -->
          <br> 


          <!--  start comment  -->
          <div id="201901317118" class="kombx"> 
          <span class="placorpo"> <span class="fordata">
           2019 01 31 - January 31, 2019  </span>
          <div class="indent20gray">  
          <p>Initially, the robot moved randomly and collected approximately one thousand trajectories, each comprising one hundred points. The robot then used deep learning, a modern machine learning technique, to create a self-model. The first self-models were quite inaccurate, and the robot did not know what it was, or how its joints were connected. But after less than 35 hours of training, the self-model became consistent with the physical robot to within about four centimeters. The self-model performed a pick-and-place task in a closed loop system that enabled the robot to recalibrate its original position between each step along the trajectory based entirely on the internal self-model. With the closed loop control, the robot was able to grasp objects at specific locations on the ground and deposit them into a receptacle with 100 percent success.  
            </p>
            </div>
          <p>Straight out of almost a hundred year's worth of (pulp, of course) Science Fiction.  

          </span>
          </div>
          <!--  end comment  -->
          <br> 


          <!--  start comment  -->
          <div id="20190131" class="kombx"> 
          <span class="placorpo"> <span class="fordata">
           2019 01 31 - January 31, 2019  </span>
          <p>Good drivers. Bad drivers. Good self-driving algorithms. Bad self-driving algorithms. Cheap low quality algorithms. Just like any other manufactured product. Be theyimports, local, refurbished, 2nd hand, used, abused, crashed, "jalopies", or hot-rods.  
            </p>
          <p>And flying taxis. Cabriolets. Town cars. Bicycles. Flying chairs. Delivery everything. Meece.  

          </span>
          </div>
          <!--  end comment  -->
          <br> 


          <!--  start comment  -->
          <div id="201901318057" class="kombx"> 
          <span class="placorpo"> <span class="fordata">
           2019 01 31 - January 31, 2019  </span>
          <p>The pokemon hunt craze helped someones map a great part ofthe world in detail. Specifically tied to predefined locations. Whys?  
            </p>
          <p>People invade themselves.  
            </p>
          <p>"Pinky and The Brain". And no small number of very numerous generally similar plot devices. All the way back to the Illiad.  
            </p>

          </span>
          </div>
          <!--  end comment  -->
          <br> 


          <!--  start comment  -->
          <div id="201901313922" class="kombx"> 
          <span class="placorpo"> <span class="fordata">
           2019 01 31 - January 31, 2019  </span>


          </span>
          </div>
          <!--  end comment  -->
          <br> 


